<template>
    <layout>
        <div class="tw-w-full tw-ml-4 tw-mr-4">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.global_settings') }}</h2>
            <hr class="tw-mt-3 tw-mb-6">
            <languages :languages="languages"/>
            <job-types :jobTypes="jobTypes"/>
        </div>
    </layout>
</template>

<script>
    import Layout from "@/Shared/Layout";
    import Languages from "./Languages";
    import JobTypes from "./JobTypes";

    export default {
        name: 'GlobalSettings',
        components: { Languages, Layout, JobTypes },
        props: {
            languages: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            }
        }
    }
</script>
