<template>
    <div class="attribute" @keydown.esc="untriggerAttributeInput">
        <div class="tw-flex">
            <div class="tw-flex tw-items-center">
                <h2>{{ $t('title.industries') }}</h2>
            </div>
        </div>
        <div class="tw-flex tw-flex-wrap tw-mt-4 tw--ml-2">
            <template v-if="jobTypes.length">
                <template v-for="jobType in jobTypes">
                    <v-chip class="tw-m-2" label close @click:close="deleteJobType(jobType)">
                        {{ jobType.name }}
                    </v-chip>
                </template>
            </template>
            <div v-if="Boolean(newJobTypeName)" class="tw-flex tw-items-center">
                <div ref="newJobTypeName" @input="onInput" contenteditable
                     class="tw-m-2 tw-bg-square-grey tw-h-8 tw-px-3 tw-py-2 tw-rounded tw-flex tw-items-center"
                     @keyup.enter="createJobType()"
                     style="min-width: 60px; line-height: 16px !important; background: rgba(255, 255, 255, 0.1) !important" spellcheck="false">
                </div>
                <div class="tw-text-square-grey tw-text-sm tw-cursor-pointer hover:tw-underline" @click="newJobTypeName = null">
                    {{ $t('subtitle.cancel') }}
                </div>
                <div class="tw-ml-3 tw-text-square-blue tw-text-sm tw-cursor-pointer hover:tw-underline" @click="createJobType()">
                    {{ $t('subtitle.save') }}
                </div>
            </div>
            <v-chip v-if="!Boolean(newJobTypeName)" @click="addNewJobType()" class="tw-m-2 tw-cursor-pointer" style="min-width: 60px" label>
                <v-icon left color="white">mdi-plus-circle</v-icon>
                {{ $t('subtitle.add') }}
            </v-chip>
        </div>
        <v-dialog v-model="deleteJobTypeModal" max-width="480">
            <v-card>
                <v-card-text class="tw-pt-4">
                    {{ $t('message.confirm_industry_delete') }} <strong>{{ jobTypeToDelete ? jobTypeToDelete.name : '' }}</strong>?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="deleteJobTypeModal = false">
                        {{ $t('subtitle.cancel') }}
                    </v-btn>

                    <v-btn color="primary" @click="deleteSelectedJobType()">
                        {{ $t('subtitle.delete') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'JobTypes',
        props: {
            jobTypes: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                deleteJobTypeModal: false,
                newJobTypeName: null,
                jobTypeToDelete: null
            }
        },
        methods: {
            onInput($event, attributeKey) {
                this.newJobTypeName = $event.target.innerText
            },
            createJobType() {
                this.$inertia.put(route('create-job-type'), { name: this.newJobTypeName }).then(() => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', 'Branża ' + this.newJobTypeName + ' została stworzona.')
                        this.newJobTypeName = null
                    }
                })
            },
            addNewJobType() {
                this.newJobTypeName = 'Nowa Branża'
                this.$nextTick( () => {
                    this.$refs['newJobTypeName'].innerHTML = ''
                    this.$refs['newJobTypeName'].focus()
                })
            },
            deleteJobType(jobType) {
                this.jobTypeToDelete = jobType
                this.deleteJobTypeModal = true
            },
            deleteSelectedJobType() {
                this.$inertia.delete(route('delete-job-type', this.jobTypeToDelete.id)).then( () => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', 'Branża ' + this.jobTypeToDelete.name + ' została usunięta.')
                    }
                })
            },
        }
    }
</script>

<style lang="scss">
    .attribute {
        min-height: 128px;
        @apply tw-bg-white tw-flex tw-flex-col tw-shadow-lg tw-rounded-lg tw-py-4 tw-px-6 tw-mr-2 tw-mb-6;
    }
</style>
