<template>
    <div class="attribute" @keydown.esc="untriggerAttributeInput">
        <div class="tw-flex">
            <div class="tw-flex tw-items-center">
                <h2>{{ $t('title.languages') }}</h2>
            </div>
        </div>
        <div class="tw-flex tw-flex-wrap tw-mt-4 tw--ml-2">
            <template v-if="languages.length">
                <template v-for="language in languages">
                    <v-chip class="tw-m-2" label close @click:close="deleteLanguage(language)">
                        {{ language.name }}
                    </v-chip>
                </template>
            </template>
            <div v-if="Boolean(newLanguageName)" class="tw-flex tw-items-center">
                <div ref="newLanguageName" @input="onInput" contenteditable
                     class="tw-m-2 tw-bg-square-grey tw-h-8 tw-px-3 tw-py-2 tw-rounded tw-flex tw-items-center"
                     @keyup.enter="createLanguage()"
                     style="min-width: 60px; line-height: 16px !important; background: rgba(255, 255, 255, 0.1) !important" spellcheck="false">
                </div>

                <div class="tw-text-square-grey tw-text-sm tw-cursor-pointer hover:tw-underline" @click="newLanguageName = null">
                    {{ $t('subtitle.cancel') }}
                </div>

                <div class="tw-ml-3 tw-text-square-blue tw-text-sm tw-cursor-pointer hover:tw-underline" @click="createLanguage()">
                    {{ $t('subtitle.save') }}
                </div>
            </div>
            <v-chip v-if="!Boolean(newLanguageName)" @click="addNewLanguage()" class="tw-m-2 tw-cursor-pointer" style="min-width: 60px" label>
                <v-icon left color="white">mdi-plus-circle</v-icon>
                {{ $t('subtitle.add') }}
            </v-chip>
        </div>
        <v-dialog v-model="deleteLanguageModal" max-width="480">
            <v-card>
                <v-card-text class="tw-pt-4">
                    {{ $t('message.confirm_language_delete') }} <strong>{{ languageToDelete ? languageToDelete.name : '' }}</strong>?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="deleteLanguageModal = false">
                        {{ $t('subtitle.cancel') }}
                    </v-btn>

                    <v-btn color="primary" @click="deleteSelectedLanguage()">
                        {{ $t('subtitle.delete') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'Languages',
        props: {
            languages: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                deleteLanguageModal: false,
                newLanguageName: null,
                languageToDelete: null
            }
        },
        methods: {
            onInput($event, attributeKey) {
                this.newLanguageName = $event.target.innerText
            },
            createLanguage() {
                this.$inertia.put(route('create-language'), { name: this.newLanguageName }).then(() => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', 'Język ' + this.newLanguageName + ' został stworzony.')
                        this.newLanguageName = null
                    }
                })
            },
            addNewLanguage() {
                this.newLanguageName = 'Nowy Język'
                this.$nextTick( () => {
                    this.$refs['newLanguageName'].innerHTML = ''
                    this.$refs['newLanguageName'].focus()
                })
            },
            deleteLanguage(language) {
                this.languageToDelete = language
                this.deleteLanguageModal = true
            },
            deleteSelectedLanguage() {
                this.$inertia.delete(route('delete-language', this.languageToDelete.id)).then( () => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', 'Język ' + this.languageToDelete.name + ' został usunięty.')
                    }
                })
            },
        }
    }
</script>

<style lang="scss">
    .attribute {
        min-height: 128px;
        @apply tw-bg-white tw-w-full tw-flex tw-flex-col tw-shadow-lg tw-rounded-lg tw-py-4 tw-px-6 tw-mr-2 tw-mb-6;
    }
</style>
