<template>
    <v-dialog v-model="newAdOpen" scrollable persistent max-width="820px">
        <v-card>
            <v-card-title>
                <div class="tw-text-square-black tw-text-sm tw--mt-1 tw-font-medium tw-leading-tight tw-break-normal">
                    {{ $t('title.add_free_ad') }}
                </div>
                <div class="tw-text-square-grey tw-text-xs tw-font-normal tw-leading-tight">
                    {{ $t('message.ad_disclaimer') }}
                </div>
            </v-card-title>

            <v-card-text>
                <v-container class="tw-mb-8 tw-mt-4">
                    <v-row>
                        <v-col cols="12" sm="8">
                            <v-text-field
                                class="required"
                                :label="$t('field.job_title')"
                                v-model="ad.title"
                                :error-messages="$page.errors.title"
                                autocomplete="new-password"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-autocomplete
                                class="required"
                                :label="$t('field.experience_in_job')"
                                v-model="ad.experience_min"
                                :error-messages="$page.errors.experience_min"
                                autocomplete="new-password"
                                :items="[1, 2, 3, 4, 5, 6, 7, 8, 9]"
                                :hint="$t('field.experience_hint')"
                                outlined dense
                            />
                        </v-col>
                    </v-row
                    >
                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-text-field
                                :label="$t('field.min_earnings')"
                                v-model="ad.salary_min"
                                :error-messages="$page.errors.salary_min"
                                autocomplete="new-password"
                                :hint="$t('field.min_earnings_example')"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-text-field
                                :label="$t('field.max_earnings')"
                                v-model="ad.salary_max"
                                :error-messages="$page.errors.salary_max"
                                :hint="$t('field.max_earnings_example')"
                                autocomplete="new-password"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-autocomplete
                                class="required"
                                v-model="algolia_region"
                                :items="cities"
                                :loading="citiesLoading"
                                :search-input.sync="searchCitiesText"
                                hide-no-data
                                :label="$t('field.workplace')"
                                :error-messages="$page.errors.region"
                                autocomplete="new-password"
                                spellcheck="false"
                                return-object
                                item-value="id"
                                item-text="name"
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-autocomplete
                                class="required"
                                :items="jobTypes"
                                v-model="ad.job_type_id"
                                :error-messages="$page.errors.job_type_id"
                                autocomplete="new-password"
                                spellcheck="false"
                                item-value="id"
                                item-text="name"
                                :label="$t('field.industry')"
                                outlined dense
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                class="required"
                                v-model="ad.description"
                                :error-messages="$page.errors.description"
                                spellcheck="false"
                                rows="10"
                                :label="$t('field.candidate_description')"
                                autocomplete="new-password"
                                :placeholder="$t('field.candidate_description_placeholder')"
                                dense outlined
                            />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer/>
                <v-btn text @click="newAdOpen = false">{{ $t('subtitle.cancel') }}</v-btn>
                <v-btn :loading="pendingRequest" v-if="typeof ad.id === 'undefined'" color="primary" @click="createAd">{{ $t('subtitle.save') }}</v-btn>
                <v-btn :loading="pendingRequest" v-else color="primary" @click="updateAd">{{ $t('subtitle.save') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'
    import algoliaSearchMixin from "../../../mixins/algoliaSearchMixin";

    export default {
        name: 'AddNewAd',
        props: {
            jobTypes: {
                type: Array,
                default: () => []
            },
            regions: {
                type: Array,
                default: () => []
            }
        },
        mixins: [ algoliaSearchMixin ],
        data() {
            return {
                newAdOpen: false,
                cities: [],
                citiesLoading: false,
                searchCitiesText: null,
                pendingRequest: false,
                algolia_region: null,
                ad: {
                    title: null,
                    description: null,
                    salary_min: null,
                    salary_max: null,
                    experience_min: null,
                    region: null,
                    tomtom_region_id: null,
                    job_type_id: null,
                },
                adToEdit: {
                    title: null,
                    description: null,
                    salary_min: null,
                    salary_max: null,
                    experience_min: null,
                    region: null,
                    tomtom_region_id: null,
                    job_type_id: null,
                }
            }
        },
        created() {

            bus.$on('open-create-ad-wizard', () => {
                this.ad = JSON.parse(JSON.stringify(this.adToEdit))
                this.newAdOpen = true
            })

            bus.$on('open-edit-ad-wizard', ad => {
                this.ad = JSON.parse(JSON.stringify(ad))
                const algoliaRegion = {
                    name: ad.region,
                    id: ad.tomtom_region_id
                }

                this.cities = [algoliaRegion]
                this.algolia_region = algoliaRegion

                this.newAdOpen = true

            })
        },
        watch: {
            searchCitiesText(text) {
                if (!this.citiesLoading && text.length > 1 && typeof text !== 'object') {
                    this.searchCities(text)
                }
            }
        },
        methods: {
            createAd() {
                this.pendingRequest = true
                let requestAd = JSON.parse(JSON.stringify(this.ad))

                requestAd.tomtom_region_id = this.algolia_region !== null ? this.algolia_region.id : null
                requestAd.region = this.algolia_region !== null ? this.algolia_region.name : null
                requestAd.tomtom_country_id = this.algolia_region !== null ? this.algolia_region.country_code : null

                this.$inertia.post(route('store-ad'), requestAd).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.ad_added'))
                        this.close()
                    }

                    this.pendingRequest = false
                })
            },
            updateAd() {
                this.pendingRequest = true
                let requestAd = JSON.parse(JSON.stringify(this.ad))

                requestAd.tomtom_region_id = this.algolia_region !== null ? this.algolia_region.id : null
                requestAd.region = this.algolia_region !== null ? this.algolia_region.name : null
                requestAd.tomtom_country_id = this.algolia_region !== null ? this.algolia_region.country_code : null

                this.$inertia.put(route('update-ad', this.ad.id), requestAd).then(response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.ad_updated'))
                        this.close()
                    }

                    this.pendingRequest = false
                })
            },
            close() {
                this.newAdOpen = false

                setTimeout(() => {
                    this.ad = {
                        title: null,
                        description: null,
                        salary_min: null,
                        salary_max: null,
                        experience_min: null,
                        region: null,
                        tomtom_region_id: null,
                        job_type_id: null,
                    }
                }, 300)
            },
            searchCities: _.debounce( function (text) {
                this.citiesLoading = true

                this.searchPlaces(text).then( response => {
                    this.cities = response.data
                    this.citiesLoading = false
                }).catch( error => {
                    this.citiesLoading = false
                })

            }, 250),
        },
    }
</script>

<style lang="scss">
</style>
