<template>
    <layout>
        <div class="tw-flex tw-mt-3 sm:tw-mt-0">
            <h2>{{ $t('title.my_ads') }}</h2>
            <v-btn color="primary" class="tw-ml-auto mb-2" @click="openNewAdWizard">{{ $t('subtitle.add_ad') }}</v-btn>
        </div>
        <div class="tw-w-full tw-mt-6">

            <div class="tw-flex tw-text-sm tw-mb-6 tw--mt-4">
                <div @click="redirectTo($route('dashboard-ads'))"
                     class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline"
                     :class="{ 'tw-font-bold': areAdsActive }">
                    <span class="tw-capitalize"> {{ $t('subtitle.active_n') }} </span> ({{ activeAdsAmount }})
                </div>
                <div @click="redirectTo($route('dashboard-ads-inactive'))"
                     class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-6"
                     :class="{ 'tw-font-bold': !areAdsActive }">
                    <span class="tw-capitalize"> {{ $t('subtitle.inactive_n') }} </span> ({{ inactiveAdsAmount }})
                </div>
            </div>

            <div class="tw-mb-6 tw-mt-2 tw-w-full">
                <v-text-field
                    class="search-input"
                    v-model="search"
                    prepend-inner-icon="mdi-magnify"
                    :placeholder="$t('subtitle.find_ad')"
                    dense rounded outlined hide-details
                />
            </div>

            <div v-if="ads.length === 0" class="tw-text-center">
                <div class="code">
                    {{ $t('subtitle.no_current_offers') }}
                </div>
            </div>

            <div class="ad-boxes tw-flex tw-flex-col">
                <div v-for="(ad, key) in searchedAds" class="box tw-flex-col">
                    <div class="tw-flex tw-flex-col sm:tw-flex-row">
                        <h2 class="tw-cursor-pointer hover:tw-underline tw-text-lg" @click="redirectToAd(ad.id)">{{ ad.title }}</h2>
                        <div class="tw-flex sm:tw-ml-auto tw-flex-col sm:tw-flex-row">
                            <div v-if="areAdsActive">
                                <v-btn small text color="primary" class="tw-text-black tw-mr-2" @click="deactivateAd(ad.id)">
                                    {{ $t('subtitle.stop_publication') }}
                                </v-btn>
                            </div>

                            <div v-if="(ad.status !== 'unapproved' && ad.status !== 'discarded') && !areAdsActive">
                                <v-btn @click="renewAd(ad)" class="tw-text-black tw-mr-2" color="primary" small text>
                                    {{ $t('subtitle.restore') }}
                                </v-btn>
                            </div>

                            <div>
                                <v-btn @click="deleteAd(ad)" small color="error" class="tw-mr-2">
                                    {{ $t('subtitle.delete') }}
                                </v-btn>
                            </div>

                            <div v-if="!areAdsActive">
                                <v-btn small color="primary" @click="editItem(ad)">
                                    {{ $t('subtitle.edit') }}
                                </v-btn>
                            </div>
                        </div>
                    </div>
                    <div class="tw-flex tw-mt-1">
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.created') }}</div>
                            <div class="value">{{ ad.created_at | moment('D MMMM YYYY') }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.salary_range') }}</div>
                            <div class="value">{{ ad.salary_min }} - {{ ad.salary_max }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.experience') }}</div>
                            <div class="value">{{ ad.experience_min }} lat(a)</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.industry') }}</div>
                            <div class="value">{{ ad.job_type }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.city_or_country') }}</div>
                            <div class="value">{{ ad.region }}</div>
                        </div>
                    </div>
                    <hr class="tw-my-2">
                    <h2 class="tw-text-base">{{ $t('title.candidates') }}:</h2>
                    <div class="tw-flex">
                        <div @click="ad.candidates_selected_type = 'all'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'all' }">
                            <span class="tw-capitalize"> {{ $t('subtitle.all') }} </span> ({{ ad.candidates.length }})
                        </div>
                        <div @click="ad.candidates_selected_type = 'proceeded'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'proceeded' }">
                            <span class="tw-capitalize"> {{ $t('subtitle.proceeded') }} </span> ({{ candidatesTypeLength(ad.candidates, 'proceeded') }})
                        </div>
                        <div @click="ad.candidates_selected_type = 'rejected'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'rejected' }">
                            <span class="tw-capitalize"> {{ $t('subtitle.refused_p') }} </span> ({{ candidatesTypeLength(ad.candidates, 'rejected') }})
                        </div>
                    </div>
                    <div class="tw-flex tw-flex-col" v-if="ad.candidates.length">
                        <div
                            v-for="candidate in ad.candidates"
                            v-if="candidate.pivot.status === ad.candidates_selected_type || ad.candidates_selected_type === 'all'"
                            class="tw-w-full tw-relative tw-rounded tw-flex tw-flex-col tw-px-3 tw-py-2 tw-my-2"
                            style="background: rgba(0, 0, 0, 0.1)"
                            :style=" candidate.pivot.status === 'requested' ? 'border: 3px dashed red' : '' "
                        >
                            <div
                                class="tw-text-lg tw-font-medium tw-cursor-pointer tw-text-square-blue hover:tw-underline"
                                @click="redirectToCandidate(candidate.id)">
                                {{ candidate.title }}
                            </div>

                            <div class="tw-text-square-grey-dark">
                                <strong class="tw-capitalize">{{ $t('subtitle.reported') }}: </strong>{{ candidate.pivot.created_at | moment('D MMMM YYYY') }}
                            </div>

                            <div class="tw-text-square-grey-dark">
                                <span class="tw-font-semibold tw-mr-1">Status: </span> {{ candidate.pivot.status | candidateAdStatus }}
                            </div>

                            <div class="tw-relative tw-mb-2 sm:tw-mb-0 sm:tw-absolute tw-flex" style="right: 4px; top: 6px;">

                                <template v-if="candidate.pivot.status !== 'rejected' && candidate.pivot.status !== 'proceeded' && ad.status !== 'unapproved'">
                                    <v-btn color="primary" @click="talkToCandidate(candidate, ad)" small>
                                        {{ $t('subtitle.ask_for_candidate') }}
                                    </v-btn>

                                    <v-btn color="error" @click="rejectCandidate(candidate.id, ad.id)" small text>
                                        {{ $t('subtitle.refuse') }}
                                    </v-btn>
                                </template>

                                <template v-if="candidate.pivot.status === 'proceeded'">
                                    <v-btn small disabled color="primary">
                                        {{ $t('subtitle.conversation_started') }}
                                    </v-btn>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div v-else class="code">
                        {{ $t('subtitle.no_candidates_for_ad') }}.
                    </div>
                    <div class="tw-flex">
                        <div
                            class="tw-ml-auto tw-text-sm tw-text-white tw-px-4 tw-py-1 tw-rounded tw-text-right"
                            :class="areAdsActive ? 'tw-bg-square-green' : 'tw-bg-square-grey-light'"
                        >
                            <template v-if="ad.remaining_active_days > 0">
                                <span class="tw-capitalize">{{ $t('subtitle.remained') }}</span> {{ ad.remaining_active_days }} dni aktywności
                            </template>
                            <template v-else-if="ad.status === 'unapproved'">
                                {{ $t('subtitle.waiting_for_acceptation') }}
                            </template>
                            <template v-else-if="ad.status === 'discarded'">
                                <span class="tw-capitalize">{{ $t('subtitle.refused') }}</span>: {{ ad.discard_reason }}
                            </template>
                            <template v-else>
                                {{ $t('subtitle.inactive_m') }}
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <add-new-ad :regions="regions" :job-types="jobTypes"/>
        <talk-to-candidate />

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import AddNewAd from './AddNewAd'
    import TalkToCandidate from "../TalkToCandidate";

    export default {
        name: 'Ads',
        components: { Layout, AddNewAd, TalkToCandidate },
        props: {
            ads: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            regions: {
                type: Array,
                default: () => []
            },
            activeAdsAmount: {
                type: Number,
                default: 0
            },
            inactiveAdsAmount: {
                type: Number,
                default: 0
            },
            areAdsActive: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                searchedAds: this.ads,
                search: '',
            }
        },
        mounted() {
            const url = new URL(window.location.href)
            const createNew = url.searchParams.get('create-new')

            if (createNew === 'ad') {
                this.openNewAdWizard()
            }
        },
        created() {
            axios.get(route('dashboard-read-ads-candidates'))
        },
        watch: {
            search(text) {
                this.searchedAds = this.ads.filter( ad => {
                    return ad.title.toLowerCase().includes(text.toLowerCase())
                })
            }
        },
        methods: {
            redirectTo(route) {
                this.$inertia.visit(route)
            },
            talkToCandidate(candidate, ad) {
                bus.$emit('talk-to-candidate', ad, candidate)
            },
            rejectCandidate(candidateId, adId) {
                this.$confirm(this.$t('message.reject_candidate')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.patch(route('reject-ad-candidate', { ad: adId, candidate: candidateId }))
                    }
                })
            },
            openNewAdWizard() {
                bus.$emit('open-create-ad-wizard')
            },
            deleteAd(adId) {
                this.$confirm(this.$t('message.delete_ad')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.delete(route('delete-ad', adId))
                    }
                })
            },
            deactivateAd(adId) {
                this.$confirm(this.$t('message.deactivate_ad')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.patch(route('deactivate-ad', adId))
                    }
                })
            },
            renewAd(adId) {
                this.$inertia.patch(route('renew-ad', adId))
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            editItem(item) {
                bus.$emit('open-edit-ad-wizard', item)
            },
            candidatesTypeLength(candidates, type) {
                return candidates.filter( candidate => candidate.pivot.status === type).length
            }
        }
    }
</script>

<style lang="scss">
    .ad-boxes {
        .box {
            @apply tw-flex tw-px-4 tw-pb-2 tw-pt-2 tw-my-2 tw-bg-white tw-rounded;

            .cell {
                @apply tw-flex tw-flex-col tw-font-display tw-px-4 tw-flex-wrap;

                &:first-child {
                    @apply tw-pl-0;
                }

                .desc {
                    @apply tw-text-3xs tw-text-square-grey tw-uppercase tw-font-semibold;
                }

                .value {
                    @apply tw-text-sm tw-text-square-black;
                }
            }
        }
    }
</style>
