<template>
    <layout>
        <div class="tw-mx-auto" style="max-width: 1080px; padding-bottom: 220px;">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.observed_ads') }}</h2>
            <hr class="tw-my-6">
            <div v-for="ad in favoriteAds" class="tw-my-4">
                <div class="ad tw-relative tw-p-4" @click="redirectToAd(ad.ad.id)">
                    <div class="favorite-star-wrapper active" @click.stop="unfavoriteAd(ad)" style="position: absolute; right: 4px; top: 4px;">
                        <v-icon class="favorite-star">mdi-star</v-icon>
                    </div>
                    <div class="tw-flex tw-items-center">
                        <v-avatar size="72" color="warning" class="tw-text-square-white tw-text-2xl tw-font-bold tw-rounded" tile>{{ ad.ad.title | initials }}</v-avatar>
                    </div>
                    <div class="tw-flex tw-flex-col tw-flex-grow tw-ml-4 tw-pl-4 tw-border-l-4 tw-border-square-white-darker">
                        <div class="tw--mt-1 tw-font-display tw-text-square-grey-dark tw-font-semibold tw-text-base sm:tw-text-2xl">{{ ad.ad.title }}</div>
                        <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">{{ $t('subtitle.added') }} {{ ad.ad.created_at | moment('D MMMM YYYY') }}</div>
                        <div class="tw-flex tw-mt-auto">
                            <div class="tw-flex tw-flex-col tw-flex-grow" v-if="ad.ad.region">
                                <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">{{ $t('field.localization') }}</div>
                                <div class="tw-text-square-blue tw-text-sm sm:tw-text-base">{{ ad.ad.region }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="favoriteAds.length === 0" class="tw-text-center">
                <div class="code">
                    {{ $t('subtitle.no_observed_ads') }}
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'FavoriteAds',
        components: { Layout },
        props: {
            favoriteAds: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {

            }
        },
        methods: {
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            unfavoriteAd(favoriteAd) {
                this.$inertia.visit(route('unfavorite-ad', favoriteAd.id)).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.ad_deleted_from_favorites'))
                })
            },
        }
    }
</script>

<style lang="scss">
    .ad {
        height: 140px;
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            border-left: 6px solid #ffc542;
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
</style>
