.v-data-table {
  @apply tw-bg-transparent #{!important};
  .v-sheet {
    @apply tw-bg-transparent #{!important};
  }
  .v-data-table-header {
    @apply tw-bg-white tw-rounded-lg;
    tr:first-child th:first-child {
      @apply tw-rounded-tl-xl;
    }
    tr:first-child th:last-child {
      @apply tw-rounded-tr-xl;
    }
    tr:hover {
      @apply tw-bg-transparent #{!important};
    }
    th {
      height: 34px;
      @apply tw-uppercase tw-text-2xs tw-font-display tw-tracking-widest tw-font-semibold tw-border-b-0 #{!important};
      span {
        @apply tw-text-square-black;
      }
      &.active span, &:hover {
        @apply tw-text-square-black;
      }
    }
  }
  tr {
    &:last-child td:first-child {
      @apply tw-rounded-bl-xl;
    }
    &:last-child td:last-child {
      @apply tw-rounded-br-xl;
    }
    @apply tw-bg-white #{!important};
    &:hover {
      @apply tw-bg-square-white #{!important};
    }
  }
  td {
    @apply tw-text-sm tw-font-display tw-text-square-grey tw-font-medium tw-border-b-0 #{!important};
  }
}