@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700|Titillium+Web:200,400,600,700|DM+Sans:400;700&display=swap');
@import 'nprogress';
//@import '~vuetify/dist/vuetify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'custom-vuetify/custom-vuetify';
@import 'stripe';

.container {
    &.max-1200 {
        max-width: 1185px !important;
    }
}

h1 {
  @apply tw-font-display tw-text-lg tw-font-semibold tw-text-square-grey-darker;
    &.sans-title {
        @apply tw-font-extra tw-font-bold tw-tracking-wide tw-text-square-blue-desaturated;
        font-size: 24px;
    }
  @screen sm {
    @apply tw-text-3xl;
    &.sans-title {
      font-size: 42px;
      line-height: 52px;
    }
  }

}

h2 {
  @apply tw-text-square-grey-darker tw-font-semibold tw-font-display tw-text-lg;
  @screen sm {
    @apply tw-text-2xl;
  }
}

h3 {
  @apply tw-text-square-grey-darker tw-text-xs tw-font-display tw-uppercase tw-tracking-wide tw-font-medium;
}

h4 {
    @apply tw-text-square-grey-darker tw-font-semibold tw-font-display tw-text-lg;
}

p {
  @apply tw-font-display;
}

.toggle-text {
 @apply tw-text-center tw-text-2xs tw-text-square-grey-darker tw-font-semibold tw-font-display tw-uppercase tw-tracking-wider tw-cursor-pointer;
}

.slide-left-enter-active {
  transition: all .3s ease;
}

.slide-left-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-bottom-enter-active {
  transition: all .3s ease;
}

.slide-bottom-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-bottom-enter, .slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.required label::after {
    content: "*";
    color: red;
}

.favorite-star-wrapper {
  .favorite-star {
    @apply tw-text-square-yellow tw-cursor-pointer #{!important};
    opacity: 0.5;
    transition: 0.1s;
  }
  &:hover {
    .favorite-star {
      opacity: 1;
    }
  }
  &.active {
    .favorite-star {
      opacity: 1;
    }
  }
}

.code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    @apply tw-p-4 tw-rounded tw-bg-white tw-text-square-grey-darker tw-text-sm tw-font-bold;
    &.grey-bg {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
}

code {
  @apply tw-px-2 tw-py-4 tw-rounded tw-bg-white tw-text-square-grey-darker tw-shadow-lg #{!important};
  &.grey-bg {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

.centered-input-content {
    input {
        text-align: center;
        padding-bottom: 21px !important;
    }
}

.vue-tel-input-vuetify {
    .v-input__slot {
        min-height: initial !important;
        margin-bottom: 0 !important;
    }
    .country-code {
        .v-input {
            margin: 0;
            padding: 0;
        }
        .v-input__control {
            align-self: flex-end;
            margin-top: -11px;
        }
    }
}
