<template>
    <div class="candidate tw-relative tw-flex tw-flex-col tw-p-4" @click="redirectToCandidate(candidate.id)">
        <div class="tw-mx-auto tw--mt-16">
            <v-avatar size="72" color="primary" class="tw-text-square-white tw-text-2xl tw-font-bold tw-rounded" tile>{{ candidate.title | initials }}</v-avatar>
        </div>
        <template v-if="$page.auth.user && $page.auth.user.role === 'company'">
            <div v-if="isCandidateFavorite" class="favorite-star-wrapper" @click.stop="favoriteCandidate(candidate)" style="position: absolute; right: 4px; top: 4px;">
                <v-icon class="favorite-star">mdi-star</v-icon>
            </div>
            <div v-else class="favorite-star-wrapper active" @click.stop="unfavoriteCandidate(candidate)" style="position: absolute; right: 4px; top: 4px;">
                <v-icon class="favorite-star">mdi-star</v-icon>
            </div>
        </template>
        <h2 class="tw-text-2xl tw-mt-2 tw-text-center">{{ candidate.title }}</h2>
        <div class="tw-text-square-grey tw-text-sm tw-text-center">{{ $t('subtitle.added') }} {{ candidate.started_at | moment('D MMMM YYYY') }}</div>
        <div class="tw-flex tw-flex-col tw-mt-auto">
            <div class="tw-flex tw-flex-col tw-text-center tw-my-1">
                <div class="tw-text-square-grey">{{ $t('field.localization') }}</div>
                <div class="tw-text-square-blue tw--mt-1 tw-truncate">{{ candidate.region }}</div>
            </div>
            <div class="tw-flex tw-flex-col tw-flex-grow tw-text-center tw-my-1">
                <div class="tw-text-square-grey">{{ $t('field.skills') }}</div>
                <div class="tw-text-square-blue tw--mt-1 tw-truncate"> {{ candidate.skills.join(', ') }}</div>
            </div>
            <div class="tw-flex tw-flex-col tw-flex-grow tw-text-center tw-my-1">
                <div class="tw-text-square-grey tw-capitalize">{{ $t('subtitle.experience') }}</div>
                <div class="tw-text-square-blue tw--mt-1">{{ candidate.experience }} lat(a)</div>
            </div>
        </div>
        <v-btn class="tw-mt-2" color="primary">
            {{ $t('subtitle.see_details') }}
        </v-btn>
    </div>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'CandidateBox',
        props: {
            candidate: {
                type: Object,
                default: () => {}
            },
            isCandidateFavorite: {
                type: Boolean,
                default: false
            },
            favoritedCandidate: {
                type: Object,
                default: () => {}
            }
        },
        methods: {
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            favoriteCandidate(candidate) {
                this.$inertia.visit(route('favorite-candidate', candidate.id)).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.candidate_added_to_favorites'))
                })
            },
            unfavoriteCandidate() {
                this.$inertia.visit(route('unfavorite-candidate', this.favoritedCandidate.id)).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.candidate_deleted_from_favorites'))
                })
            },
        }
    }
</script>

<style lang="scss">
    .candidate {
        height: 340px;
        width: 100%;
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
</style>
