<template>
    <layout>
        <template v-slot:subheader>
            <ads-search :jobTypes="jobTypes" :languages="languages"/>
        </template>

        <div class="tw-mt-2 tw-mb-10 tw-mx-auto" style="max-width: 1120px;">
            <div class="tw-font-light tw-text-xl">
                <a :href="$route('ads')" class="tw-text-square-grey-dark tw-font-normal hover:tw-underline">{{ $t('subtitle.ads') }}</a> / {{ ad.title }}
            </div>
        </div>

        <div class="tw-flex tw-flex-col sm:tw-flex-row tw-mx-auto" style="max-width: 1120px">
            <v-row>
                <v-col cols="12" sm="9">
                    <div class="tw-flex tw-flex-col tw-relative tw-rounded tw-bg-white tw-px-4" :class="{ 'deleted-ad': ad.deleted_at }">
                        <div v-if="ad.deleted_at" class="tw-absolute tw-text-square-grey-light tw-uppercase tw-font-semibold tw-text-display" style="right: 0; top: -26px">{{ $t('subtitle.inactive_n') }}</div>
                        <div class="tw-flex tw-mb-4">
                            <v-avatar
                                tile
                                size="120"
                                color="warning"
                                class="tw-text-white tw-text-4xl tw-font-bold tw-rounded tw--mt-6"
                                :style=" ad.deleted_at ? 'background: #ccc !important' : ''"
                            >
                                {{ ad.title | initials }}
                            </v-avatar>
                            <div class="tw-flex tw-flex-col tw-mt-4 tw-ml-4 tw-flex-grow">
                                <div class="tw-flex tw-flex-col sm:tw-flex-row">
                                    <h2 class="tw-text-lg sm:tw-text-3xl tw-flex-grow ">{{ ad.title }}</h2>
                                    <template v-if="!ad.deleted_at && $page.auth.user">
                                        <v-btn v-if="role === 'agency' && unproposedCandidates.length" color="primary" class="tw-ml-auto" @click="proposeCandidate">
                                            {{ $t('subtitle.propose_candidate') }}
                                        </v-btn>

                                        <v-btn v-else-if="role === 'agency' && !unproposedCandidates.length" disabled class="tw-ml-auto">
                                            {{ $t('subtitle.no_candidates_available') }}
                                        </v-btn>
                                    </template>
                                </div>
                                <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">
                                    {{ $t('subtitle.added') }} {{ ad.created_at | moment('D MMMM YYYY') }}
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <div class="tw-mt-3">
                                <div class="tw-flex tw-mt-auto">
                                    <div class="tw-flex tw-flex-col tw-flex-grow" v-if="ad.region">
                                        <div class="tw-text-square-grey">{{ $t('field.localization') }}</div>
                                        <div class="tw-text-square-blue">{{ ad.region }}</div>
                                    </div>
                                    <div class="tw-flex tw-flex-col tw-flex-grow" v-if="ad.salary_min && ad.salary_max">
                                        <div class="tw-text-square-grey">{{ $t('subtitle.salary') }}</div>
                                        <div class="tw-font-semibold tw-text-square-green">{{ ad.salary_min }} - {{ ad.salary_max }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-font-display tw-mt-8">
                                <strong>{{ $t('subtitle.job_description') }}</strong>
                                <div class="tw-text-square-grey-dark">
                                    {{ ad.description }}
                                </div>
                            </div>
                            <div class="tw-my-4">
                                <template v-if="role === 'company' && isAdOwner && ad.candidates.length > 0">
                                    <h2>{{ $t('subtitle.applications') }}</h2>
                                    <div v-for="candidate in ad.candidates" class="tw-w-full tw-rounded tw-flex tw-flex-col tw-px-3 tw-py-2 tw-my-2" style="background: rgba(0, 0, 0, 0.1)">
                                        <div class="tw-text-lg tw-font-medium tw-cursor-pointer tw-text-square-blue hover:tw-underline" @click="redirectToCandidate(candidate.id)">{{ candidate.title }}</div>
                                        <div class="tw-text-square-grey-dark">
                                            <strong class="tw-capitalize">{{ $t('subtitle.reported') }}: </strong>{{ candidate.pivot.created_at | moment('D MMMM YYYY') }}
                                        </div>
                                        <div class="tw-text-square-grey-dark">
                                            <span class="tw-font-semibold tw-capitalize tw-mr-1">{{ $t('subtitle.status') }}: </span> {{ candidate.pivot.status | candidateAdStatus }}
                                        </div>
                                        <div class="tw-absolute tw-flex" style="right: 4px; top: 6px;">
                                            <template v-if="candidate.pivot.status !== 'rejected' && candidate.pivot.status !== 'proceeded' && ad.status !== 'unapproved'">
                                                <v-btn color="primary" @click="talkToCandidate(candidate, ad)" small>
                                                    {{ $t('subtitle.ask_for_candidate') }}
                                                </v-btn>
                                                <v-btn color="error" @click="rejectCandidate(candidate.id, ad.id)" small text>
                                                    {{ $t('subtitle.refuse') }}
                                                </v-btn>
                                            </template>
                                            <template v-if="candidate.pivot.status === 'proceeded'">
                                                <v-btn small disabled color="primary">
                                                    {{ $t('subtitle.conversation_started') }}
                                                </v-btn>
                                            </template>
                                        </div>
                                    </div>
                                    <div v-if="ad.candidates.length === 0">
                                        <div class="code grey-bg">
                                            {{ $t('message.no_candidate_under_ad') }}
                                        </div>
                                    </div>
                                </template>
                                <template v-else-if="role === 'agency'">
                                    <h2>{{ $t('subtitle.your_applications') }}</h2>
                                    <div v-for="candidate in proposedCandidates" class="tw-w-full tw-rounded tw-flex tw-px-3 tw-py-2 tw-my-2" style="background: rgba(0, 0, 0, 0.1)">
                                        <div class="tw-flex-col tw-flex-grow">
                                            <div class="tw-font-semibold hover:tw-underline tw-text-square-blue tw-cursor-pointer tw-text-lg tw-flex-grow" @click="redirectToCandidate(candidate.id)">{{ candidate.name }} ({{ candidate.title }})</div>
                                            <div class="tw-text-square-grey-dark"><strong class="tw-capitalize">{{ $t('subtitle.proposed_m') }}: </strong>{{ candidate.pivot.created_at | moment('D MMMM YYYY') }}</div>
                                            <div class="tw-text-square-grey-dark"><strong class="tw-capitalize">{{ $t('field.status') }}: </strong> {{ candidate.pivot.status | candidateAdStatus }}</div>

                                        </div>
                                    </div>
                                    <div v-if="proposedCandidates.length === 0">
                                        <div class="code grey-bg">
                                            {{ $t('message.no_candidate_offered') }}
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </v-col>

                <v-col cols="12" sm="3">
                    <h3 v-if="similarAds.length">{{ $t('subtitle.similar_ads') }}</h3>
                    <div v-for="similarAd in similarAds" class="similar-ad tw-mb-4 tw-flex-col tw-rounded tw-bg-white tw-p-2" @click="redirectToAd(similarAd.id)">
                        <h2 class="tw-text-lg">{{ similarAd.title }}</h2>
                        <div class="tw-text-square-grey">{{ $t('subtitle.added') }} {{ similarAd.created_at | moment('D MMMM YYYY') }}</div>
                        <div class="tw-text-square-blue">{{ similarAd.region }}</div>
                    </div>
                </v-col>
            </v-row>
        </div>

        <propose-candidate />
        <talk-to-candidate />

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import ProposeCandidate from '@/Pages/Dashboard/ProposeCandidate'
    import TalkToCandidate from '@/Pages/Dashboard/TalkToCandidate'
    import bus from '@/bus'
    import AdsSearch from "./AdsSearch"

    export default {
        name: 'Ad',
        components: { Layout, ProposeCandidate, TalkToCandidate, AdsSearch },
        props: {
            ad: {
                type: Object,
                default: () => {}
            },
            candidates: {
                type: Array,
                default: () => []
            },
            unproposedCandidates: {
                type: Array,
                default: () => []
            },
            proposedCandidates: {
                type: Array,
                default: () => []
            },
            isAdOwner: {
                type: Boolean,
                default: false
            },
            userConversations: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                similarAds: []
            }
        },
        mounted() {
            if (localStorage.lastSearchedAds) {
                const ads = JSON.parse(localStorage.lastSearchedAds)
                this.similarAds = ads.filter(candidate => {
                    return ad.id !== this.ad.id
                })
            }
        },
        methods: {
            rejectCandidate(candidateId, adId) {
                this.$inertia.patch(route('reject-ad-candidate', { ad: adId, candidate: candidateId }))
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            proposeCandidate() {
                bus.$emit('propose-candidate', this.ad, this.unproposedCandidates)
            },
            talkToCandidate(candidate) {
                bus.$emit('talk-to-candidate', this.ad, candidate)
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            isConversationStarted(candidate) {
                const startedConversation = this.userConversations.find(conversation => {
                    return conversation.candidate_id === candidate.pivot.candidate_id && conversation.ad_id === this.ad.id
                })

                return typeof startedConversation !== 'undefined'
            }
        },
        computed: {
            role() {
                return this.$page.auth.user ? this.$page.auth.user.role : null
            }
        }
    }
</script>

<style lang="scss">
    .similar-ad {
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            border-left: 6px solid #ffc542;
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
    .deleted-ad {
        border: 4px dashed rgba(0, 0, 0, 0.1);
    }
</style>
