<template>
    <layout>
        <template v-slot:subheader>
            <ads-search :jobTypes="jobTypes" :languages="languages"/>
        </template>
        <div class="tw-mx-auto" style="max-width: 1080px; padding-bottom: 60px;">
            <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center">
                <h2 class="tw-font-normal tw-text-3xl tw-text-left">{{ $t('subtitle.ads') }}</h2>
                <div class="tw-text-square-grey-dark tw-mt-1 tw-ml-3">({{ $t('subtitle.we_found') }} <strong>{{ adsCount }}</strong> {{ $t('subtitle.we_found_ads') }})</div>
            </div>

            <hr class="tw-mb-6 tw-mt-2">

            <template v-if="searchedAds.length">
                <div v-for="ad in searchedAds" v-if="!ad.deleted_at" class="tw-my-4">
                    <div class="ad tw-relative tw-p-4" @click="redirectToAd(ad.id)">
                        <template v-if="$page.auth.user && $page.auth.user.role === 'agency'">
                            <div v-if="isAdFavorite(ad)" class="favorite-star-wrapper" @click.stop="favoriteAd(ad)" style="position: absolute; right: 4px; top: 4px;">
                                <v-icon class="favorite-star">mdi-star</v-icon>
                            </div>
                            <div v-else class="favorite-star-wrapper active" @click.stop="unfavoriteAd(ad)" style="position: absolute; right: 4px; top: 4px;">
                                <v-icon class="favorite-star">mdi-star</v-icon>
                            </div>
                        </template>
                        <div class="tw-flex tw-items-center">
                            <v-avatar size="72" color="warning" class="tw-text-square-white tw-text-2xl tw-font-bold tw-rounded" tile>{{ ad.title | initials }}</v-avatar>
                        </div>
                        <div class="tw-flex tw-flex-col tw-flex-grow tw-ml-4 tw-pl-4 tw-border-l-4 tw-border-square-white-darker">
                            <div class="tw--mt-1 tw-font-display tw-text-square-grey-dark tw-font-semibold tw-text-base sm:tw-text-2xl">{{ ad.title }}</div>
                            <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">{{ $t('subtitle.added') }} {{ ad.created_at | moment('D MMMM YYYY') }}</div>
                            <div class="tw-flex tw-mt-auto">
                                <div class="tw-flex tw-flex-col tw-flex-grow" v-if="ad.region">
                                    <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">{{ $t('field.localization') }}</div>
                                    <div class="tw-text-square-blue tw-text-sm sm:tw-text-base">{{ ad.region }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <div v-else class="code tw-shadow">
                {{ $t('message.no_ads_in_database') }}
            </div>

            <div class="tw-mx-auto tw-mt-2" v-if="!(this.searchedAds.length < this.adsCount)">
                <div class="text-center tw-text-square-grey ">
                    {{ $t('message.no_more_ads') }}
                </div>
            </div>

            <div style="position: fixed; bottom: 48px; right: 48px;" v-if="$page.auth.user && $page.auth.user.role === 'company'">
                <div
                    @click="createNewAd"
                    class="add-ad-button tw-relative tw-bg-square-orange tw-flex tw-items-center tw-justify-center tw-shadow-xl tw-cursor-pointer"
                    style="width: 60px; height: 60px; border-radius: 100%">
                    <transition name="slide-bottom">
                        <div
                            style="background: white; position: absolute; top: -34px; width: 104px;"
                            class="add-ad-hover tw-py-1 tw-px-2 tw-rounded tw-text-2xs tw-font-semibold tw-uppercase tw-shadow tw-text-center"
                        >
                            {{ $t('subtitle.add_ad') }}
                        </div>
                    </transition>
                    <v-icon class="tw-text-white">mdi-plus</v-icon>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import AdsSearch from "./AdsSearch"

    export default {
        name: 'Ads',
        components: { Layout, AdsSearch },
        props: {
            ads: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            regions: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            },
            favoriteAds: {
                type: Array,
                default: () => []
            },
            initialAdsCount: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                page: 1,
                searchedAds: this.ads,
                adsCount: this.initialAdsCount,
                isFetching: false,
            }
        },
        created() {
            if (localStorage.lastSearchedAds && localStorage.lastSearchedAds !== 'undefined') {
                const parsedAds = JSON.parse(localStorage.lastSearchedAds)
                if (parsedAds.length > 0) {
                    this.searchedAds = parsedAds

                    if (localStorage.lastSearchedAdsCount) {
                        this.adsCount = localStorage.lastSearchedAdsCount
                    }
                }
            }

            bus.$on('scroll-pagination-trigger', () => {
                let searchObject = {}

                if (localStorage.adsSearch) {
                    searchObject = JSON.parse(localStorage.adsSearch)
                }

                searchObject.skip = this.searchedAds.length

                if (!this.isFetching && this.searchedAds.length < this.adsCount) {
                    this.searchAds(searchObject)
                }
            })

            bus.$on('search-ads', searchObject => {
                searchObject.skip = 0
                this.searchAdsInitial(searchObject)
            })
        },
        computed: {
            role() {
                return this.$page.auth.user.role
            }
        },
        methods: {
            createNewAd() {
                this.$inertia.visit(this.$route('dashboard-ads') + '?create-new=ad')
            },
            isAdFavorite(ad) {
                let existingAd = this.findFavoriteAdId(ad)

                return typeof existingAd === 'undefined'
            },
            findFavoriteAdId(ad) {
                return this.favoriteAds.find( favoriteAd => {
                    return favoriteAd.ad_id === ad.id
                })
            },
            favoriteAd(ad) {
                this.$inertia.visit(route('favorite-ad', ad.id)).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.ad_added_to_favorites'))
                })
            },
            unfavoriteAd(ad) {
                let favoriteAd = this.findFavoriteAdId(ad)
                this.$inertia.visit(route('unfavorite-ad', favoriteAd.id)).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.ad_deleted_from_favorites'))
                })
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            searchAds(searchObject) {
                this.isFetching = true
                axios.post(route('search-ads'), searchObject).then( response => {
                    const ads = response.data.data
                    if (ads.length) {
                        this.adsCount = response.data.ads_count
                        this.searchedAds.push(...ads)
                    }
                    this.isFetching = false
                    bus.$emit('searching-finished')
                }).catch( error => {
                    this.isFetching = false
                    bus.$emit('searching-finished')
                })
            },
            searchAdsInitial(searchObject) {
                this.isFetching = true
                axios.post(route('search-ads'), searchObject).then( response => {
                    const ads = response.data.data
                    if (ads.length) {
                        localStorage.setItem('lastSearchedAds', JSON.stringify(ads))
                        localStorage.setItem('lastSearchedAdsCount', response.data.ads_count)
                    }
                    this.adsCount = response.data.ads_count
                    this.searchedAds = ads

                    this.isFetching = false
                    bus.$emit('searching-finished')
                }).catch( error => {
                    this.isFetching = false
                    bus.$emit('searching-finished')
                })
            }
        }
    }
</script>

<style lang="scss">
    .ad {
        height: 140px;
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            border-left: 6px solid #ffc542;
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
    .add-ad-button {
        transition: 0.4s;
        .add-ad-hover {
            opacity: 0;
            transition: 0.2s;
        }
        &:hover {
            transform: translateY(-4px);
            .add-ad-hover {
                opacity: 1;
            }
        }
    }
</style>
