<template>
    <div class="tw-px-6 tw-pt-2 tw-border-t tw-border-square-blue" style="width: 100%; background: white; z-index: 100; box-shadow: 10px 4px 10px -5px rgba(0, 0, 0, 0.3);">
        <div class="tw-mx-auto tw-flex tw-flex-col" style="max-width: 1080px">
            <h2 class="sm:tw-mt-3 tw-mb-1 sm:tw-mb-2">{{ $t('subtitle.ads_search') }}</h2>
            <div class="tw-block tw-text-xs sm:tw-hidden tw-text-square-blue" @click="toggleHideSearch()">
                {{ hideSearch ? $t('subtitle.show_search') : $t('subtitle.hide_search') }}
            </div>
            <template v-if="!hideSearch">
                <v-row>
                    <v-col cols="12" sm="3">
                        <v-text-field
                                outlined
                                dense
                                hide-details
                                v-model="search.searchText"
                                :label="$t('field.job_title')"
                        />
                    </v-col>

                    <v-col cols="12" sm="3" class="tw--mt-3 sm:tw-mt-0">
                        <v-autocomplete
                                hide-details
                                clearable
                                :label="$t('field.industry')"
                                outlined
                                dense
                                v-model="search.jobType"
                                return-object
                                item-value="id"
                                item-text="name"
                                :items="jobTypes"
                        />
                    </v-col>

                    <v-col cols="12" sm="3" class="tw--mt-3 sm:tw-mt-0">
                        <v-autocomplete
                                v-model="search.region"
                                :items="search.cities"
                                :loading="citiesLoading"
                                :search-input.sync="searchCitiesText"
                                clearable
                                hide-details
                                hide-no-data
                                :label="$t('field.city_or_country')"
                                :error-messages="$page.errors.region"
                                autocomplete="new-password"
                                spellcheck="false"
                                return-object
                                item-value="id"
                                item-text="name"
                                outlined dense
                        />
                    </v-col>

                    <v-col cols="12" sm="3" class="tw--mt-3 sm:tw-mt-0">
                        <v-autocomplete
                                v-model="search.radius"
                                :items="[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]"
                                clearable
                                hide-no-data
                                :label="$t('subtitle.radius')"
                                :error-messages="$page.errors.radius"
                                autocomplete="new-password"
                                spellcheck="false"
                                outlined dense
                                hide-details
                        >
                            <template v-slot:selection="data">
                                {{ data.item }}km
                            </template>

                            <template v-slot:item="data">
                                {{ data.item }}km
                            </template>

                        </v-autocomplete>
                    </v-col>
                </v-row>

                <v-row v-if="extendedSearch">
                    <v-col cols="12" sm="4" class="tw--mt-3 sm:tw-mt-0">
                        <v-autocomplete
                                v-model="search.language"
                                :items="languages"
                                item-value="id"
                                item-text="name"
                                :label="$t('field.language')"
                                clearable
                                return-object
                                hide-details
                                dense
                                outlined
                        />
                    </v-col>

                    <v-col cols="12" sm="4" class="tw--mt-3 sm:tw-mt-0">
                        <v-autocomplete
                                :items="['A1', 'A2', 'B1', 'B2', 'C1', 'C2']"
                                v-model="search.languageLevel"
                                autocomplete="new-password"
                                spellcheck="false"
                                :label="$t('field.language_level')"
                                hide-details
                                outlined dense
                        />
                    </v-col>

                    <v-col cols="12" sm="4" class="tw--mt-3 sm:tw-mt-0 tw--mb-6">
                        <v-autocomplete
                                :label="$t('field.skills')"
                                v-model="search.selectedTags"
                                autocomplete="new-password"
                                :items="tags"
                                :search-input.sync="searchTagsText"
                                spellcheck="false"
                                :loading="loadingTags"
                                hide-no-data
                                multiple
                                cache-items
                                auto-select-first
                                deletable-chips
                                chips
                                outlined
                        />
                    </v-col>
                </v-row>

                <v-row>
                    <v-btn :loading="loading" color="primary" class="tw-ml-4" @click="searchAds">
                        {{ $t('subtitle.find') }}
                    </v-btn>
                </v-row>

                <div @click="extendedSearch = !extendedSearch" class="tw-mt-1 tw-mb-2 tw-text-square-blue tw-text-2xs tw-cursor-pointer hover:tw-underline">
                    {{ extendedSearch ? $t('subtitle.hide_advanced_search') : $t('subtitle.show_advanced_search') }}
                </div>

            </template>
        </div>
    </div>
</template>

<script>
    import bus from '@/bus'
    import algoliaSearchMixin from "../mixins/algoliaSearchMixin";

    export default {
        name: 'AdsSearch',
        props: {
            jobTypes: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            },
            redirect: {
                type: Boolean,
                default: false,
            }
        },
        mixins: [ algoliaSearchMixin ],
        data() {
            return {
                search: {
                    searchText: '',
                    region: '',
                    language: null,
                    languageLevel: null,
                    jobType: '',
                    selectedTags: [],
                    radius: 30,
                    cities: [],
                    tomtom_region_id: ''
                },
                ad: '',
                extendedSearch: false,
                hideSearch: false,
                searchCitiesText: null,
                citiesLoading: false,
                tags: [],
                loadingTags: false,
                searchTagsText: '',
                loading: false,
                languageLevels: ['A1', 'A2', 'B1', 'B2', 'C1', 'C2'],
            }
        },
        mounted() {
            if (localStorage.hideSearch) {
                if (window.innerWidth <= 600) {
                    this.hideSearch = localStorage.hideSearch
                }
            }

            if (localStorage.adsSearch) {
                this.search = JSON.parse(localStorage.adsSearch)
            }

            bus.$on('searching-finished', () => {
                this.loading = false
            })
        },
        watch: {
            searchTagsText(text) {
                this.searchTags(text)
            },
            searchCitiesText(text) {
                if (typeof text !== 'object' && typeof text !== 'undefined' && !this.citiesLoading && text.length > 1) {
                    this.searchCities(text)
                }
            },
            'search.selectedTags': {
                handler(current, previous) {
                    if (current.length - previous.length === 2) {
                        this.searchTagsText = ''
                    }

                    this.searchTagsText = ''
                }
            },
        },
        methods: {
            toggleHideSearch() {
                this.hideSearch = !this.hideSearch
                localStorage.hideSearch = this.hideSearch
            },
            searchAds() {
                this.loading = true

                this.searchCitiesAround(this.search.region.id, this.search.radius).then( response => {
                    this.search.tomtom_region_id = response

                    const searchObject = {
                        title: this.search.searchText,
                        tomtom_region_id: response, // zmienic na tablice w backendzie
                        language_id: this.search.language ? this.search.language.id : null,
                        language_level: this.search.languageLevel,
                        job_type_id: this.search.jobType ? this.search.jobType.id : null,
                        tags: this.search.selectedTags,
                        country_code: this.search.region.country_code,
                        is_country: this.search.region.is_country
                    }

                    localStorage.setItem('adsSearch', JSON.stringify(this.search))

                    if (this.redirect) {
                        this.$inertia.visit(route('ads')).then( response => {
                            bus.$emit('search-ads', searchObject)
                        })
                    }

                    bus.$emit('search-ads', searchObject)
                }).finally( () => {
                    this.loading = false
                })

            },
            searchCities: _.debounce( function (text) {
                this.citiesLoading = true

                this.searchPlaces(text).then( response => {
                    this.search.cities = response.data
                    this.citiesLoading = false
                }).catch( error => {
                    this.citiesLoading = false
                })
            }, 250),
            searchTags: _.debounce( function(text) {
                if (text && text.length > 2) {
                    this.loadingTags = true

                    axios.get(route('find-tags', this.searchTagsText)).then ( (response) => {
                        this.tags = response.data
                        this.loadingTags = false
                    })
                }
            }, 200),
        }
    }
</script>
