<template>
    <layout>
        <div class="tw-mt-2 tw-mb-10 tw-mx-auto" style="max-width: 1200px; width: 100%;">
            <div class="tw-font-light tw-text-xl">
                <a :href="$route('agencies')" class="tw-text-square-grey-dark tw-font-normal hover:tw-underline">{{ $t('subtitle.agencies') }}</a> / {{ agency.name }}
            </div>

            <div class="tw-flex tw-flex-col tw-rounded tw-relative tw-bg-white tw-mt-8 tw-px-6 tw-py-4">
                <div class="tw-flex">
                    <template v-if="agency.logo">
                        <v-img
                            :src="agency.logo"
                            class="tw-rounded"
                            contain
                            max-width="160px" min-width="160px" min-height="160px" max-height="160px"
                        />
                    </template>
                    <template v-else>
                        <div class="tw-flex tw-items-center tw-justify-center tw-cursor-pointer tw-rounded"
                             style="width: 160px; height: 160px; background: rgba(0, 0, 0, 0.1)">
                            <v-icon class="tw-text-square-grey">mdi-camera</v-icon>
                        </div>
                    </template>

                    <div class="tw-flex tw-flex-col tw-ml-4">
                        <h2 class="tw-text-square-blue tw-flex-grow">{{ agency.name }}</h2>

                        <div class="tw-mt-1 tw-flex tw-items-center" v-if="agency.site">
                            <v-icon class="tw-text-square-grey-lighter">mdi-earth</v-icon>
                            <div class="tw-ml-2 tw-text-sm">{{ agency.site }}</div>
                        </div>

                        <div class="tw-my-1 tw-flex tw-items-center" v-if="agency.address">
                            <v-icon class="tw-text-square-grey-lighter">mdi-home-variant</v-icon>
                            <div class="tw-ml-2 tw-text-sm">{{ agency.address }}</div>
                        </div>

                        <div class="tw-my-1 tw-flex tw-items-center" v-if="agency.public_phone">
                            <v-icon class="tw-text-square-grey-lighter">mdi-phone</v-icon>
                            <div class="tw-ml-2 tw-text-sm">{{ agency.public_phone }}</div>
                        </div>
                    </div>

                </div>

                <div class="tw-text-square-grey tw-mt-6" v-if="agency.description">{{ agency.description }}</div>

            </div>

            <div class="tw-flex tw-flex-col tw-mt-6">
                <h2 class="tw-ml-1 tw-mb-4">{{ $t('title.candidates') }}</h2>

                <v-row v-if="candidates.length" style="max-width:1200px">
                    <v-col cols="12" sm="4" v-for="candidate in candidates">
                        <candidate-box
                            class="tw-my-8 tw-mx-auto"
                            :candidate="candidate"
                            :isCandidateFavorite="isCandidateFavorite(candidate)"
                            :favoritedCandidate="findFavoriteCandidateId(candidate)"
                        />
                    </v-col>
                </v-row>

                <div v-else class="code">
                    {{ $t('message.agency_no_candidates') }}
                </div>
            </div>

        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import CandidateBox from "./Utils/CandidateBox";

    export default {
        name: 'Agency',
        components: { Layout, CandidateBox },
        props: {
            agency: {
                type: Object,
                default: () => []
            },
            favoriteCandidates: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                isFetching: false,
                candidates: this.agency.candidates
            }
        },
        created() {
            bus.$on('scroll-pagination-trigger', () => {
                if (!this.isFetching) {
                    this.getMoreCandidates()
                }
            })
        },
        methods: {
            redirectToCandidate(candidateId) {
                return this.$inertia.visit(route('candidate', candidateId))
            },
            isCandidateFavorite(candidate) {
                let existingCandidate = this.findFavoriteCandidateId(candidate)

                return typeof existingCandidate === 'undefined'
            },
            findFavoriteCandidateId(candidate) {
                return this.favoriteCandidates.find( favoriteCandidate => {
                    return favoriteCandidate.candidate_id === candidate.id
                })
            },
            getMoreCandidates() {
                this.isFetching = true

                axios.post(route('get-paginated-agency-candidates', this.agency.id), { skip: this.candidates.length }).then( response => {
                    this.candidates.push(...response.data.data)
                    this.isFetching = false
                }).catch( error => {
                    this.isFetching = false
                })
            }
        }
    }
</script>
