<template>
    <layout>
        <div class="tw-mx-auto" style="max-width: 1200px; padding-bottom: 220px;">

            <div class="tw-flex tw-items-center">
                <h2 class="tw-font-normal tw-text-3xl tw-text-left">{{ $t('subtitle.agencies') }}</h2>
            </div>

            <hr class="tw-mb-6 tw-mt-2">

            <v-row>
                <v-col
                    cols="12"
                    sm="4"
                    v-for="agency in agencies"
                >
                    <div
                        class="tw-my-4 sm:tw-mr-8 tw-bg-white tw-rounded-lg tw-shadow tw-px-6 tw-py-4 tw-flex tw-flex-col"
                        style="height: 384px;"
                    >
                        <h2 class="tw-truncate tw-text-square-blue tw-text-xl tw-break-all">{{ agency.name }}</h2>

                        <div class="tw-relative tw-flex tw-mt-2">
                            <div>
                                <template v-if="agency.logo">
                                    <v-img
                                        :src="agency.logo"
                                        class="tw-rounded"
                                        contain
                                        max-width="120px" min-width="120px" min-height="120px" max-height="120px"
                                    />
                                </template>
                                <template v-else>
                                    <div class="tw-flex tw-items-center tw-justify-center tw-cursor-pointer tw-rounded"
                                         style="width: 120px; height: 120px; background: rgba(0, 0, 0, 0.1)">
                                        <v-icon class="tw-text-square-grey">mdi-camera</v-icon>
                                    </div>
                                </template>
                            </div>
                        </div>

                        <div class="tw-flex tw-flex-col tw-mt-4 tw-text-square-grey tw-flex-grow">
                            <div class="tw-mt-1 tw-flex tw-items-center">
                                <v-icon class="tw-text-square-grey-lighter">mdi-account-multiple</v-icon>
                                <div class="tw-ml-2 tw-text-sm">{{ agency.candidates_count }} {{ $t('subtitle.candidat_es') }}</div>
                            </div>

                            <div class="tw-mt-1 tw-flex tw-items-center" v-if="agency.site">
                                <v-icon class="tw-text-square-grey-lighter">mdi-earth</v-icon>
                                <div class="tw-ml-2 tw-text-sm">{{ agency.site }}</div>
                            </div>

                            <div class="tw-my-1 tw-flex tw-items-center" v-if="agency.address">
                                <v-icon class="tw-text-square-grey-lighter">mdi-home-variant</v-icon>
                                <div class="tw-ml-2 tw-text-sm">{{ agency.address }}</div>
                            </div>

                            <div class="tw-my-1 tw-flex tw-items-center" v-if="agency.public_phone">
                                <v-icon class="tw-text-square-grey-lighter">mdi-phone</v-icon>
                                <div class="tw-ml-2 tw-text-sm">{{ agency.public_phone }}</div>
                            </div>
                        </div>

                        <v-btn class="tw-mt-4" small color="primary" @click="redirectToAgency(agency.id)">
                            {{ $t('subtitle.see_details') }}
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'Agencies',
        components: { Layout },
        props: {
            initialAgencies: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                agencies: this.initialAgencies,
                isFetching: false
            }
        },
        created() {
            bus.$on('scroll-pagination-trigger', () => {
                if (!this.isFetching) {
                    this.getMoreAgencies()
                }
            })
        },
        methods: {
            getMoreAgencies() {
                this.isFetching = true
                axios.post(route('get-paginated-agencies'), { skip: this.agencies.length }).then( response => {
                    this.agencies.push(...response.data.data)
                    this.isFetching = false
                }).catch( error => {
                    this.isFetching = true
                })
            },
            redirectToAgency(agencyId) {
                return this.$inertia.visit(route('agency', agencyId))
            }
        }
    }
</script>
