<template>
    <layout>

        <template v-slot:subheader>
            <candidates-search :redirect="true" :jobTypes="jobTypes" :languages="languages"/>
        </template>

        <div class="tw-mt-2 tw-mb-10 tw-mx-auto" style="max-width: 1120px;">
            <div class="tw-font-light tw-text-xl">
                <a :href="$route('candidates')" class="tw-text-square-grey-dark tw-font-normal hover:tw-underline">{{ $t('title.candidates') }}</a> / {{ candidate.title }}
            </div>
        </div>

        <div class="tw-flex tw-flex-col sm:tw-flex-row tw-mx-auto" style="max-width: 1120px">

            <v-row>
                <v-col cols="12" sm="9">
                    <div class="tw-flex tw-flex-col tw-rounded tw-relative tw-bg-white tw-px-4" :class="{ 'deleted-candidate': candidate.deleted_at }">
                        <div v-if="candidate.deleted_at" class="tw-absolute tw-text-square-grey-light tw-uppercase tw-font-semibold tw-text-display" style="right: 0; top: -26px">{{ $t('subtitle.inactive_m') }}</div>

                        <div class="tw-flex tw-mb-4">

                            <v-avatar
                                    tile
                                    size="120"
                                    color="primary"
                                    class="tw-text-white tw-text-4xl tw-font-bold tw-rounded tw--mt-6"
                                    :style=" candidate.deleted_at ? 'background: #ccc !important' : ''"
                            >
                                {{ candidate.title | initials }}
                            </v-avatar>

                            <div class="tw-flex tw-flex-col tw-mt-4 tw-ml-4 tw-flex-grow">
                                <div class="tw-flex tw-flex-col sm:tw-flex-row">
                                    <h2 class="tw-text-lg sm:tw-text-3xl tw-flex-grow ">{{ candidate.title }}</h2>

                                    <template v-if="!candidate.deleted_at && $page.auth.user && $page.auth.user.role === 'company'">
                                        <v-btn v-if="!conversationExists" color="primary" class="tw-ml-auto" @click="talkToCandidate">
                                            {{ $t('subtitle.ask_for_candidate') }}
                                        </v-btn>
                                        <v-btn v-else color="primary" class="tw-ml-auto" disabled>{{ $t('subtitle.conversation_started')}}</v-btn>
                                    </template>

                                    <template v-else>
                                        <v-tooltip top open-on-hover>
                                            <template v-slot:activator="{ on, attrs }">
                                                <div v-on="on">
                                                    <v-btn color="primary" class="tw-ml-auto" disabled>{{ $t('subtitle.ask_for_candidate')}}</v-btn>
                                                </div>
                                            </template>
                                            <span>{{ $t('subtitle.only_registered_companies_can_ask_candidates') }}</span>
                                        </v-tooltip>
                                    </template>
                                </div>

                                <div class="tw-text-square-grey tw-text-sm sm:tw-text-base">
                                    {{ $t('subtitle.added') }} {{ candidate.started_at | moment('D MMMM YYYY') }}
                                </div>
                            </div>
                        </div>

                        <div v-if="candidate.is_agency_premium" class="tw-mb-2 tw-text-square-grey-darker">
                            {{ $t('subtitle.candidate_put_by') }} <inertia-link :href="$route('agency', candidate.owner_id)">{{ candidate.owner }}</inertia-link>
                        </div>

                        <hr>

                        <div>
                            <div class="tw-mt-2">
                                <div class="tw-flex tw-mt-auto tw-flex-wrap">

                                    <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-2 tw-mr-6" v-if="candidate.region">
                                        <div class="tw-text-square-grey">{{ $t('field.localization' ) }}</div>
                                        <div class="tw-text-square-blue">{{ candidate.region }}</div>
                                    </div>

                                    <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-2 tw-mr-6" v-if="candidate.job_type">
                                        <div class="tw-text-square-grey">{{ $t('field.industry') }}</div>
                                        <div class="tw-text-square-blue">{{ candidate.job_type }}</div>
                                    </div>

                                    <div style="flex-basis: 100%; height: 0;"></div>

                                    <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-2 tw-mr-6" v-if="candidate.languages.length">
                                        <div class="tw-text-square-grey tw-capitalize">{{ $t('subtitle.foreign_language') }}</div>
                                        <div class="tw-text-square-blue">{{ candidate.languages.map( lang => lang.text).join(', ') }}</div>
                                    </div>

                                    <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-2 tw-mr-6" v-if="candidate.skills.length">
                                        <div class="tw-text-square-grey">{{ $t('field.skills') }}</div>
                                        <div class="tw-text-square-blue">{{ candidate.skills.join(', ') }}</div>
                                    </div>

                                    <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-2 tw-mr-6" v-if="candidate.experience">
                                        <div class="tw-text-square-grey tw-capitalize"> {{ $t('subtitle.experience') }} </div>
                                        <div class="tw-text-square-blue">{{ candidate.experience }} lat(a)</div>
                                    </div>

                                </div>
                            </div>
                            <div class="tw-font-display tw-mt-8">
                                <strong>{{ $t('field.candidate_description') }}</strong>
                                <div class="tw-text-square-grey-dark">
                                    {{ candidate.description }}
                                </div>
                            </div>
                        </div>
                        <div class="tw-my-4">
                            <template v-if="isOwner">
                            <h2>{{ $t('subtitle.attached_to_ads') }}:</h2>
                                <template v-if="agencyCandidateAds.length">
                                    <div v-for="ad in agencyCandidateAds" class="tw-w-full tw-rounded tw-flex tw-px-3 tw-py-2 tw-my-2" style="background: rgba(0, 0, 0, 0.1)">
                                        <div class="tw-flex-col tw-flex-grow">
                                            <div class="tw-font-semibold tw-text-square-blue tw-text-lg tw-flex-grow hover:tw-underline tw-cursor-pointer" @click="redirectToAd(ad.id)">{{ ad.title }}</div>
                                            <div class="tw-text-square-grey-dark">
                                                <span class="tw-font-semibold tw-mr-1">{{ $t('subtitle.proposed_m') }}: </span>{{ ad.pivot.created_at | moment('D MMMM YYYY') }}
                                            </div>
                                            <div class="tw-text-square-grey-dark">
                                                <span class="tw-font-semibold tw-mr-1">{{ $t('subtitle.status') }}: </span> {{ ad.pivot.status | candidateAdStatus }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <div v-else>
                                    <div class="code grey-bg">{{ $t('message.no_ads_under_candidate') }}</div>
                                </div>
                            </template>
                        </div>
                    </div>
                </v-col>

                <v-col cols="12" sm="3">
                    <h3 v-if="similarCandidates.length">{{ $t('subtitle.similar_candidates') }}</h3>
                    <div v-for="similarCandidate in similarCandidates.slice(0, 5)" class="similar-candidate tw-mb-4 tw-flex-col tw-rounded tw-bg-white tw-p-2" @click="redirectToCandidate(similarCandidate.id)">
                        <h2 class="tw-text-lg">{{ similarCandidate.title }}</h2>
                        <div class="tw-text-square-grey">{{ similarCandidate.started_at | moment('D MMMM YYYY') }}</div>
                        <div class="tw-text-square-blue">{{ similarCandidate.region }}</div>
                    </div>
                </v-col>
            </v-row>
        </div>
        <talk-to-agency/>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import TalkToAgency from '@/Pages/Dashboard/TalkToAgency'
    import bus from '@/bus'
    import CandidatesSearch from "./CandidatesSearch";

    export default {
        name: 'Candidate',
        components: { Layout, TalkToAgency, CandidatesSearch },
        data() {
            return {
                similarCandidates: []
            }
        },
        props: {
            candidate: {
                type: Object,
                default: () => {}
            },
            agencyCandidateAds: {
                type: Array,
                default: () => []
            },
            isOwner: {
                type: Boolean,
                default: () => false
            },
            conversationExists: {
                type: Boolean,
                default: () => false
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            }
        },
        mounted() {
            if (localStorage.lastSearchedCandidates) {
                const candidates = JSON.parse(localStorage.lastSearchedCandidates)
                this.similarCandidates = candidates.filter(candidate => {
                    return candidate.id !== this.candidate.id
                })
            }
        },
        methods: {
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            talkToCandidate() {
                bus.$emit('talk-to-agency', this.candidate)
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            }
        }
    }
</script>

<style lang="scss">
    .similar-candidate {
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            border-left: 6px solid #0062ff;
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
    .deleted-candidate {
        border: 4px dashed rgba(0, 0, 0, 0.1);
    }
</style>
