<template>
    <layout>
        <template v-slot:subheader>
            <candidates-search :jobTypes="jobTypes" :languages="languages"/>
        </template>
        <div class="tw-mx-auto" style="max-width: 1200px; padding-bottom: 60px;">
            <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center">
                <h2 class="tw-font-normal tw-text-xl sm:tw-text-3xl tw-text-left">{{ $t('title.candidates') }}</h2>
                <div class="tw-text-square-grey-dark tw-mt-1 tw-ml-3">({{ $t('subtitle.we_found') }} <strong>{{ candidatesCount }}</strong> {{ $t('message.candidates_which_meet_criteria') }})</div>
            </div>

            <hr class="tw-mb-6 tw-mt-2">

            <v-row v-if="searchedCandidates.length" style="max-width:1200px">
                <v-col cols="12" sm="4" v-for="candidate in searchedCandidates">
                    <candidate-box
                        class="tw-my-8"
                        :candidate="candidate"
                        :isCandidateFavorite="isCandidateFavorite(candidate)"
                        :favoritedCandidate="findFavoriteCandidate(candidate)"
                    />
                </v-col>
            </v-row>

            <div v-else class="code tw-shadow">
                {{ $t('subtitle.no_candidates_in_database') }}
            </div>

            <div class="tw-mx-auto" v-if="!(this.searchedCandidates.length < this.candidatesCount)">
                <div class="text-center tw-text-square-grey tw-mt-2">
                    {{ $t('subtitle.didnt_find_desired_candidate') }}
                    <span v-if="$page.auth.user && $page.auth.user.role === 'company'" class="tw-text-square-blue tw-cursor-pointer hover:tw-underline" @click="createNewAd">{{ $t('title.add_free_ad') }}</span>
                    <span v-if="!$page.auth.user" class="tw-text-square-blue tw-cursor-pointer hover:tw-underline">{{ $t('title.add_free_ad') }}</span>
                    <span v-if="$page.auth.user && $page.auth.user.role === 'agency'">{{ $t('title.add_free_ad') }}</span>
                </div>
            </div>

            <div style="position: fixed; bottom: 48px; right: 48px;" v-if="$page.auth.user && $page.auth.user.role === 'agency'">
                <div
                    @click="createNewCandidate"
                    class="add-candidate-button tw-relative tw-bg-square-blue tw-flex tw-items-center tw-justify-center tw-shadow-xl tw-cursor-pointer"
                    style="width: 60px; height: 60px; border-radius: 100%">
                    <transition name="slide-bottom">
                        <div
                            style="background: white; position: absolute; top: -34px; width: 132px;"
                            class="add-candidate-hover tw-py-1 tw-px-2 tw-rounded tw-text-2xs tw-font-semibold tw-uppercase tw-shadow tw-text-center"
                        >
                            {{ $t('subtitle.add_candidate') }}
                        </div>
                    </transition>
                    <v-icon class="tw-text-white">mdi-plus</v-icon>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import CandidatesSearch from './CandidatesSearch'
    import CandidateBox from "./Utils/CandidateBox";

    export default {
        name: 'Candidates',
        components: { Layout, CandidatesSearch, CandidateBox },
        props: {
            initialCandidates: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            regions: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            },
            favoriteCandidates: {
                type: Array,
                default: () => []
            },
            initialCandidatesCount: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                page: 1,
                searchedCandidates: this.initialCandidates,
                candidatesCount: this.initialCandidatesCount,
                isFetching: false
            }
        },
        created() {
            if (localStorage.lastSearchedCandidates && localStorage.lastSearchedCandidates !== 'undefined') {
                const parsedCandidates = JSON.parse(localStorage.lastSearchedCandidates)
                if (parsedCandidates.length > 0) {
                    this.searchedCandidates = parsedCandidates

                    if (localStorage.lastSearchedCandidatesCount) {
                        this.candidatesCount = localStorage.lastSearchedCandidatesCount
                    }
                }
            }

            bus.$on('scroll-pagination-trigger', () => {
                let searchObject = {}

                if (localStorage.candidatesSearch) {
                    searchObject = JSON.parse(localStorage.candidatesSearch)
                }

                searchObject.skip = this.searchedCandidates.length

                if (!this.isFetching && this.searchedCandidates.length < this.candidatesCount) {
                    this.searchCandidates(searchObject)
                }
            })

            bus.$on('search-candidates', searchObject => {
                searchObject.skip = 0
                this.searchCandidatesInitial(searchObject)
            })
        },
        methods: {
            createNewAd() {
                this.$inertia.visit(this.$route('dashboard-ads') + '?create-new=ad')
            },
            createNewCandidate() {
                this.$inertia.visit(this.$route('dashboard-candidates') + '?create-new=candidate')
            },
            isCandidateFavorite(candidate) {
                let existingCandidate = this.findFavoriteCandidate(candidate)

                return typeof existingCandidate === 'undefined'
            },
            findFavoriteCandidate(candidate) {
                return this.favoriteCandidates.find( favoriteCandidate => {
                    return favoriteCandidate.candidate_id === candidate.id
                })
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            searchCandidates(searchObject) {
                this.isFetching = true
                axios.post(route('search-candidates'), searchObject).then( response => {
                    const candidates = response.data.data
                    if (candidates.length) {
                        this.candidatesCount = response.data.candidates_count
                        this.searchedCandidates.push(...candidates)
                    }
                    this.isFetching = false
                    bus.$emit('searching-finished')
                }).catch( error => {
                    this.isFetching = false
                    bus.$emit('searching-finished')
                })
            },
            searchCandidatesInitial(searchObject) {
                this.isFetching = true
                axios.post(route('search-candidates'), searchObject).then( response => {
                    const candidates = response.data.data
                    if (candidates.length) {
                        localStorage.setItem('lastSearchedCandidates', JSON.stringify(candidates))
                        localStorage.setItem('lastSearchedCandidatesCount', response.data.candidates_count)
                    }
                    this.candidatesCount = response.data.candidates_count
                    this.searchedCandidates = candidates

                    this.isFetching = false
                    bus.$emit('searching-finished')
                }).catch( error => {
                    this.isFetching = false
                    bus.$emit('searching-finished')
                })
            }
        }
    }
</script>

<style lang="scss">
    .add-candidate-button {
        transition: 0.4s;
        .add-candidate-hover {
            opacity: 0;
            transition: 0.2s;
        }
        &:hover {
            transform: translateY(-4px);
            .add-candidate-hover {
                opacity: 1;
            }
        }
    }
</style>
