<template>
    <v-app>
        <div class="tw-bg-square-white tw-h-screen tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-square-black" style="overflow-y: scroll; overflow-x: hidden">
            <div class="tw-inline-flex tw-text-square-white lg:tw--mt-16">
                <p class="tw-text-5xl tw-font-display tw-text-square-blue tw-font-bold tw-mb-4">emplostore</p>
                <p>®</p>
            </div>
            <div class="tw-bg-square-white tw-w-full md:tw-w-1/3 2xl:tw-w-1/4 tw-m-4 tw-rounded-xl tw-px-8 tw-py-6 tw-text-center">
                <p class="tw-font-bold tw-text-xl tw-mt-2">{{ $t('subtitle.confirm_account') }}</p>
                <hr>
                <div class="tw-mt-8 tw-mb-6">
                    <template v-if="!invalid">
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-green tw-my-6">
                            <v-icon style="font-size: 144px;" color="success">mdi-check-circle-outline</v-icon>
                            <div class="tw-font-semibold text-center">{{ $t('subtitle.account_is_confirmed') }}</div>
                            <div class="tw-text-center">{{ $t('subtitle.you_will_be_redirected_to_login') }}</div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-red">
                            <v-icon style="font-size: 144px;" color="error">mdi-close-circle-outline</v-icon>
                            <div class="tw-text-center tw-font-semibold">{{ $t('subtitle.couldnt_confirm_account') }}</div>
                            <div>{{ $t('subtitle.account_already_confirmed') }}</div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
    export default {
        name: 'ResetPassword',
        props: {
            invalid: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
            }
        },
        created() {
            setTimeout( () => {
                this.$inertia.visit(route('join'))
            }, 7000)
        }
    }
</script>
