<template>
    <layout>
        <div class="tw-mx-auto" style="max-width: 1200px; padding-bottom: 220px;">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.contact_form') }}</h2>
            <hr class="tw-mt-3 tw-mb-4">

            <v-row>
                <v-col cols="12" sm="10" class="tw-mx-auto">
                    <div class="tw-bg-white tw-rounded tw-px-4 tw-pb-4 tw-pt-2 tw-shadow-lg tw-flex-col tw-flex tw-mt-2">
                        <v-row>
                            <v-col cols="12" sm="4" class="tw--mb-4">
                                <v-text-field
                                    dense
                                    :label="$t('field.email_address')"
                                    v-model="email"
                                    :disabled="isEmail()"
                                    :error-messages="$page.errors.email"
                                    outlined autocomplete="new-password"
                                />
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <v-textarea
                                    outlined
                                    rows="10"
                                    v-model="message"
                                    :error-messages="$page.errors.message"
                                    :label="$t('field.email_content')"
                                />
                            </v-col>
                        </v-row>

                        <div class="tw-ml-auto">
                            <v-btn color="primary" :loading="pendingRequest" @click="sendEmail()">
                                {{ $t('subtitle.send') }}
                            </v-btn>
                        </div>

                    </div>

                </v-col>
            </v-row>
        </div>
    </layout>
</template>

<script>
    import Layout from "../Shared/Layout"
    import bus from '@/bus'

    export default {
        name: 'Contact',
        components: { Layout },
        data: () => ({
            message: null,
            email: null,
            pendingRequest: false,
        }),
        created() {
            if (this.$page.auth.user) {
                this.email = this.$page.auth.user.email
            }
        },
        methods: {
            sendEmail() {
                this.pendingRequest = true

                this.$inertia.post(route('send-contact-email'), { email: this.email, message: this.message }).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.message_sent'))
                        this.message = null
                        this.email = null
                    } else {
                        bus.$emit('snackbar-error', this.$t('message.message_sent_failed'))
                    }

                    this.pendingRequest = false
                })
            },
            isEmail() {
                return this.$page.auth.user !== null
            }
        }
    }
</script>
