<template>
    <layout>
        <v-container class="max-1200">
            <v-row align="center" class="tw-mb-6 sm:tw-mb-48 tw-mt-2 sm:tw-mt-12">

                <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                    <h1 class="sans-title tw-text-left">{{ $t('page.getting_clients_easy') }}</h1>
                    <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                        <div>
                            {{ $t('page.our_platform_guarantees_new_clients') }}
                        </div>

                        <div class="tw-flex tw-flex-col tw-mt-6">
                            <v-btn depressed class="tw-text-white" color="#ff6e02" @click="redirectToRegister">
                                {{ $t('subtitle.create_free_account') }}
                            </v-btn>
                        </div>
                    </div>
                </v-col>

                <v-col cols="6" class="tw-pl-6 tw-hidden sm:tw-block">
                    <img class="tw-ml-auto" style="width: 80%;" :src="require('@images/hero_recruiters.svg')" />
                </v-col>

            </v-row>
        </v-container>

        <v-container fluid style="background: white; width: 110%; max-width: 110%; margin-left: -5%;">
            <v-container class="max-1200">

                <v-row align="center" class="tw-mt-2 sm:tw-mt-12 tw-mb-6 sm:tw-mb-32">
                    <v-col cols="12" class="tw-text-center">
                        <h1 class="tw-text-2xl sm:tw-text-5xl">{{ $t('page.how_does_it_work') }}</h1>
                    </v-col>

                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-mr-auto" style="width: 80%;" :src="require('@images/feature1recruiters.svg')" />
                    </v-col>

                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-mt-6 tw-text-left">{{ $t('page.place_candidate_profiles') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.good_candidates_looking_for_job') }}
                        </div>
                    </v-col>
                </v-row>

                <v-row align="center" class="tw-my-4 sm:tw-my-32">
                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.attach_candidates_to_ads') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.our_platform_let_add_ads') }}
                        </div>
                    </v-col>

                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-ml-auto" style="width: 80%;" :src="require('@images/feature2recruiters.svg')" />
                    </v-col>
                </v-row>

                <v-row align="center" class="tw-my-4 sm:tw-my-32">
                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-mr-auto" style="width: 80%;" :src="require('@images/feature3recruiters.svg')" />
                    </v-col>

                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.present_your_agency') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.our_page_is_visited') }}
                        </div>
                    </v-col>
                </v-row>

                <v-row align="center" class="tw-my-4 sm:tw-my-32">
                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.client_panel') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.register_get_full_access') }}
                        </div>
                    </v-col>
                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-ml-auto" style="width: 80%;" :src="require('@images/feature4recruiters.png')" />
                    </v-col>
                </v-row>

            </v-container>
        </v-container>

        <v-container
            fluid
            style="width: 110%; max-width: 110%; margin-left: -5%;"
            class="tw-bg-square-blue"
        >
            <v-container class="max-1200 tw-pt-6 tw-pb-24">

                <h1 class="sans-title tw-text-white tw-text-center">
                    {{ $t('page.pricing') }}
                </h1>

                <v-row class="tw-mt-12">
                    <v-col cols="2"></v-col>
                    <v-col cols="12" sm="4">
                        <div class="tw-bg-square-white tw-shadow-xl tw-rounded-lg tw-p-4">
                            <h2 class="tw-text-3xl tw-text-center tw-text-square-blue">{{ $t('page.free_plan') }}</h2>

                            <div style="height: 63px;" class="tw-text-square-grey tw-text-sm tw-text-center">
                                {{ $t('page.use_platform_without_costs') }}
                            </div>

                            <div class="tw-flex tw-flex-col tw-items-center tw-my-6" >
                                <div class="tw-flex tw-relative">
                                    <div class="tw-font-bold tw-text-6xl">0</div>
                                    <div class="tw-mt-4 tw-absolute tw-text-square-grey" style="left: 42px; top: 3px; width: 86px;">PLN</div>
                                </div>
                                <div class="tw-text-sm tw-text-square-grey" style="margin-top: -18px;"> / {{ $t('subtitle.month') }} </div>
                            </div>
                            <div style="height: 164px;">
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.add_candidate_profiles') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.find_ads') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.respond_to_ads') }}</div>
                                </div>
                            </div>
                            <v-btn depressed class="tw-text-white tw-w-full tw-mt-4 tw-mb-2" color="#ff6e02" @click="redirectToRegister">{{ $t('subtitle.choose_plan') }}</v-btn>
                            <div class="tw-text-center tw-text-square-grey tw-text-xs">{{ $t('page.prices_contain_tax') }}</div>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <div class="tw-bg-square-white tw-shadow-xl tw-rounded-lg tw-p-4">
                            <h2 class="tw-text-3xl tw-text-center tw-text-square-blue">{{ $t('page.premium_plan') }}</h2>
                            <div style="height: 63px;" class="tw-text-square-grey tw-text-sm tw-text-center">{{ $t('page.this_plan_is_for_active') }}</div>
                            <div class="tw-flex tw-flex-col tw-items-center tw-my-6" >
                                <div class="tw-flex tw-relative">
                                    <div class="tw-font-bold tw-text-6xl">99</div>
                                    <div class="tw-mt-4 tw-absolute tw-text-square-grey" style="left: 80px; top: 3px; width: 86px;">PLN</div>
                                </div>
                                <div class="tw-text-sm tw-text-square-grey" style="margin-top: -18px;"> / {{ $t('subtitle.month') }}</div>
                            </div>
                            <div style="height: 164px;">
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.free_plan_perks') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.agency_presentation') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.client_messaging') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.client_names') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.visible_phone_number') }}</div>
                                </div>
                                <div class="tw-flex tw-my-1">
                                    <v-icon color="success">mdi-check</v-icon>
                                    <div class="tw-ml-2">{{ $t('page.visible_agency_name') }}</div>
                                </div>
                            </div>
                            <v-btn depressed class="tw-text-white tw-w-full tw-mt-4 tw-mb-2" color="#ff6e02" @click="redirectToRegister">
                                {{ $t('subtitle.choose_plan') }}
                            </v-btn>
                            <div class="tw-text-center tw-text-square-grey tw-text-xs">{{ $t('page.prices_contain_tax') }}</div>
                        </div>
                    </v-col>

                    <v-col cols="2"></v-col>
                </v-row>

            </v-container>
        </v-container>

    </layout>
</template>

<script>
    import Layout from '../Shared/Layout'

    export default {
        name: 'ForAgencies',
        components: { Layout },
        data() {
            return {
            }
        },
        methods: {
            redirectToRegister() {
                this.$inertia.visit(route('join') + '?register=true')
            }
        }
    }
</script>

<style lang="scss">
</style>
