<template>
    <layout>
        <v-container class="max-1200">
            <v-row align="center" class="tw-mb-4 sm:tw-mb-24 sm:tw-mt-12">

                <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                    <h1 class="sans-title tw-text-left">
                        {{ $t('page.best_candidates_best_agencies') }}
                    </h1>

                    <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                        <div>
                            {{ $t('page.system_help_you_find_specialists') }}
                        </div>
                        <div class="tw-flex tw-flex-col tw-mt-6">
                            <div class="tw-flex">
                                <v-btn depressed style="flex-basis: 50%;" @click="redirectToLogin()">
                                    {{ $t('page.get_to_know_more') }}
                                </v-btn>
                                <v-btn depressed class="sm:tw-ml-6 tw-text-white" style="flex-basis: 50%;" color="#ff6e02" @click="redirectToCandidates()">
                                    {{ $t('subtitle.view_candidates') }}
                                </v-btn>
                            </div>
                            <a @click="redirectToForAgencies()" class="tw-text-square-blue-desaturated hover:tw-underline tw-text-sm tw-mt-4">
                                {{ $t('page.are_you_recruiter') }}
                            </a>
                        </div>
                    </div>
                </v-col>

                <v-col cols="6" class="tw-pl-6 tw-hidden sm:tw-block">
                    <img class="tw-ml-auto" style="width: 80%;" :src="require('@images/hero.svg')" />
                </v-col>

            </v-row>
        </v-container>

        <v-container fluid style="background: white; width: 110%; max-width: 110%; margin-left: -5%;">
            <v-container class="max-1200">

                <v-row align="center" class="tw-mt-2 sm:tw-mt-12 tw-mb-4 sm:tw-mb-32">
                    <v-col cols="12" class="tw-text-center">
                        <h1 class="tw--mt-4 tw-text-2xl md:tw-text-5xl ">{{ $t('page.how_does_it_work') }}</h1>
                    </v-col>

                    <v-col cols="6" class="tw-pr-2 tw-mt-6 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-mr-auto" style="width: 80%;" :src="require('@images/feature1.svg')" />
                    </v-col>

                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.advanced_profile_search') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.best_agencies_add_profiles') }}
                        </div>
                        <v-btn depressed class="tw-mt-4 tw-text-white tw-float-right" color="#ff6e02" @click="redirectToCandidates()">
                            {{ $t('subtitle.view_candidates') }}
                        </v-btn>
                    </v-col>
                </v-row>

                <v-row align="center" class="tw-mt-4 sm:tw-my-32">
                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.can_add_ads') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.you_only_fill_form') }}
                        </div>

                        <v-btn depressed class="tw-mt-4 tw-text-white tw-float-left" color="#ff6e02" @click="redirectToAddAd()" v-if="$page.auth.user && $page.auth.user.role === 'company'">
                            {{ $t('subtitle.add_ad') }}
                        </v-btn>

                        <v-btn depressed class="tw-mt-4 tw-text-white tw-float-left" color="#ff6e02" @click="redirectToAds()" v-if="$page.auth.user && $page.auth.user.role !== 'company'">
                            {{ $t('subtitle.add_ad') }}
                        </v-btn>

                        <v-btn depressed class="tw-mt-4 tw-text-white tw-float-left" color="#ff6e02" @click="redirectToLogin()" v-if="!$page.auth.user">
                            {{ $t('subtitle.add_ad') }}
                        </v-btn>

                    </v-col>
                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-ml-auto" style="width: 80%;" :src="require('@images/feature2.svg')" />
                    </v-col>
                </v-row>

                <v-row align="center" class="tw-my-4 sm:tw-my-32">
                    <v-col cols="6" class="tw-pr-2 tw-text-center tw-hidden sm:tw-block">
                        <img class="tw-mr-auto" style="width: 80%;" :src="require('@images/feature3.svg')" />
                    </v-col>

                    <v-col cols="12" sm="6" class="tw-pr-2 tw-text-center">
                        <h1 class="sans-title tw-text-left">{{ $t('page.how_much_it_costs') }}</h1>
                        <div class="tw-flex tw-flex-col tw-text-left tw-text-square-grey tw-mt-6">
                            {{ $t('page.using_service_is_free') }}
                        </div>
                        <div class="tw-flex-col tw-flex float-right">
                            <v-btn depressed class="tw-mt-4 tw-text-white tw-float-right" color="#ff6e02" @click="redirectToCandidates()">
                                {{ $t('subtitle.view_candidates') }}
                            </v-btn>
                            <a @click="redirectToForAgencies()" class="tw-text-square-blue-desaturated hover:tw-underline tw-text-sm tw-mt-4">
                                {{ $t('page.are_you_recruiter') }}
                            </a>
                        </div>
                    </v-col>
                </v-row>

            </v-container>
        </v-container>
    </layout>
</template>

<script>
    import Layout from '../Shared/Layout'

    export default {
        name: 'Index',
        components: { Layout },
        data() {
            return {
            }
        },
        methods: {
            redirectToCandidates() {
                return this.$inertia.visit(route('candidates'))
            },
            redirectToForAgencies() {
                return this.$inertia.visit(route('for-agencies'))
            },
            redirectToLogin() {
                return this.$inertia.visit(route('join'))
            },
            redirectToAds() {
                return this.$inertia.visit(route('ads'))
            },
            redirectToAddAd() {
                return this.$inertia.visit(route('dashboard-ads') + '?create-new=ad')
            }
        },
        computed: {
        },
    }
</script>

<style lang="scss">
</style>
