<template>
    <v-app>
        <div class="tw-bg-square-white tw-h-screen tw-flex tw-flex-col tw-items-center tw-text-square-black" style="overflow-y: scroll; overflow-x: hidden">
            <div class="tw-inline-flex tw-text-square-white md:tw-mt-6">
                <p class="tw-text-5xl tw-font-display tw-text-square-blue tw-font-bold">emplostore</p>
                <p>®</p>
            </div>
            <div class="tw-bg-square-white tw-w-full md:tw-w-1/3 2xl:tw-w-1/4 tw-mb-4 tw-rounded-xl tw-px-8 tw-py-1 tw-text-center">
                <template v-if="formType === 'login'">
                    <p class="tw-font-bold tw-text-xl tw-mt-2">{{ $t('page.login') }}</p>
                    <hr>
                    <div class="tw-mt-8 tw-mb-6">
                        <form @submit.prevent="login">
                            <v-text-field
                                class="tw-mb-2"
                                height="44"
                                label="Email"
                                v-model="loginUser.email"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.email"
                            />

                            <v-text-field
                                v-model="loginUser.password"
                                class="tw-mb-2"
                                height="44"
                                :label="$t('field.password')"
                                type="password"
                                outlined autocomplete="new-password"
                                :error-messages="$page.errors.password"
                            />

                            <v-btn primary color="primary" type="submit" class="tw-mt-4" :ripple="false" :loading="pendingRequest" large block>
                                {{ $t('page.login') }}
                            </v-btn>
                        </form>
                    </div>
                </template>
                <template v-else-if="formType === 'register'">
                    <p class="tw-font-bold tw-text-xl tw-mt-2">{{ $t('page.create_new_account') }}</p>
                    <hr>
                    <div class="tw-mt-8 tw-mb-6" v-if="!confirmEmailStep">
                        <form @submit.prevent="register">
                            <div class="tw-text-left tw-text-uppercase tw-text-xs tw-font-bold">{{ $t('page.account_type') }}</div>
                            <v-chip-group class="tw-mb-6" v-model="newUser.role" active-class="chip-active">
                                <v-chip v-ripple="false" value="agency" key="agency" class="tw-flex-grow tw-justify-center tw-font-bold" label>
                                    {{ $t('page.agency') }}
                                </v-chip>
                                <v-chip v-ripple="false" value="company" key="company" class="tw-flex-grow tw-justify-center tw-font-bold" label>
                                    {{ $t('page.company') }}
                                </v-chip>
                            </v-chip-group>
                            <div class="tw--mt-8 tw-mb-4 tw-ml-3 tw-text-left tw-text-xs tw-text-square-red" v-if="$page.errors.role">
                                {{ $page.errors.role[0] }}
                            </div>

                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.company_name')"
                                v-model="newUser.name"
                                :error-messages="$page.errors.name"
                                outlined autocomplete="new-password"
                            />

                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.email_from_company_domain')"
                                v-model="newUser.email"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.email"
                            />

                            <v-autocomplete
                                dense
                                outlined
                                height="44"
                                item-value="code"
                                item-text="name"
                                :items="countries"
                                v-model="newUser.country_code"
                                :error-messages="$page.errors.country_code"
                                :label="$t('field.country')"
                            />

                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('field.password')"
                                :hint="$t('field.password_hint')"
                                v-model="newUser.password"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.password"
                            />

                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('field.confirm_password')"
                                v-model="newUser.password_confirmation"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.password_confirmation"
                            />

                            <div class="tw-text-square-grey-dark">
                                {{ $t('page.gdpr_disclaimer') }}
                            </div>

                            <v-btn :loading="pendingRequest" primary color="primary" type="submit" class="tw-mt-4" :ripple="false" large block>
                                {{ $t('subtitle.create_account') }}
                            </v-btn>
                        </form>
                    </div>
                    <div v-else>
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-green tw-my-6">
                            <v-icon style="font-size: 144px;" color="success">mdi-check-circle-outline</v-icon>
                            <div class="tw-font-semibold text-center">{{ $t('subtitle.confirm_account') }}</div>
                            <div class="tw-text-center">{{ $t('subtitle.confirm_email_description') }}</div>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <p class="tw-font-bold tw-text-xl tw-mt-2">{{ $t('subtitle.restore_account') }}</p>
                    <hr>
                    <div class="tw-mt-8 tw-mb-6" v-if="!recoverySuccessful && !recoveryError">
                        <div class="tw-text-square-grey tw-text-sm tw-mb-2 tw-text-left">{{ $t('subtitle.restore_give_email') }}</div>
                        <v-text-field
                            dense
                            height="44"
                            label="Email"
                            v-model="recoveryEmail"
                            outlined
                            autocomplete="new-password"
                            :error-messages="$page.errors.recovery_email"
                        />

                        <v-btn @click="recoverAccount" :loading="pendingRecoveryRequest" primary color="primary" class="tw-mt-4" :ripple="false" large block>
                            {{ $t('subtitle.restore_account') }}
                        </v-btn>
                    </div>
                    <template v-if="recoverySuccessful">
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-green tw-my-6">
                            <v-icon style="font-size: 144px;" color="success">mdi-check-circle-outline</v-icon>
                            <div class="tw-font-semibold text-center">{{ $t('subtitle.we_sent_message_to_given_email') }}</div>
                            <div class="tw-text-center">{{ $t('subtitle.inside_you_find_link') }}</div>
                        </div>
                    </template>
                    <template v-if="recoveryError">
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-red">
                            <v-icon style="font-size: 144px;" color="error">mdi-close-circle-outline</v-icon>
                            <div class="tw-text-center tw-font-semibold">{{ $t('subtitle.couldnt_send_email') }}</div>
                            <div>{{ $t('subtitle.check_if_email_is_correct') }}</div>
                        </div>
                    </template>
                </template>

                <hr>
                <div class="tw-flex tw-items-baseline justify-center" v-if="!recoverySuccessful && !recoveryError && !confirmEmailStep">
                    <a v-if="formType !== 'register'" @click="toggleForm('register')" class="tw-block tw-text-square-blue tw-font-medium tw-text-sm hover:tw-underline tw-mt-4">{{ $t('subtitle.no_account_register') }}</a>

                    <div v-if="formType !== 'register'" class="tw-ml-2 tw-mr-2">|</div>

                    <a v-if="formType !== 'login'" @click="toggleForm('login')" class="tw-block tw-text-square-blue tw-font-medium tw-text-sm hover:tw-underline tw-mt-4">{{ $t('page.login') }}</a>

                    <div v-if="formType !== 'login' && formType !== 'recovery'" class="tw-ml-2 tw-mr-2">|</div>

                    <a v-if="formType !== 'recovery'" @click="toggleForm('recovery')" class="tw-block tw-text-square-blue tw-font-medium tw-text-sm hover:tw-underline tw-mt-4">{{ $t('subtitle.restore_account') }}</a>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'Join',
        props: {
            countries: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                pendingRequest: false,
                pendingRecoveryRequest: false,
                formType: 'login',
                newUser: {
                    role: 'nothing',
                    name: null,
                    email: null,
                    password: null,
                    password_confirmation: null,
                    country_code: null
                },
                loginUser: {
                    email: null,
                    password: null
                },
                recoveryEmail: null,
                recoverySuccessful: false,
                recoveryError: false,
                confirmEmailStep: false,
            }
        },
        created() {
            const url = new URL(window.location.href)
            const urlParam = url.searchParams.get('register')

            if (urlParam === 'true') {
                this.formType = 'register'
            }

            fetch('https://ipapi.co/json').then(response => {
                return response.json()
            }).then(data => {
                this.newUser.country_code = data.country_code.toLowerCase()
            })
        },
        methods: {
            recoverAccount() {
                this.pendingRecoveryRequest = true
                this.$inertia.post(route('recover-account'), { recovery_email: this.recoveryEmail }).then( response => {
                    this.recoverySuccessful = true
                    this.pendingRecoveryRequest = false
                }).catch( error => {
                    this.recoveryError = true
                    this.pendingRecoveryRequest = false
                })
            },
            toggleForm(type) {
                this.$page.errors = {}
                this.formType = type
            },
            login() {
                this.pendingRequest = true
                this.$page.errors = {}
                this.$inertia.post(route('login'), this.loginUser).then( response => {
                    localStorage.candidatesSearch = ''
                    localStorage.lastSearchedCandidates = ''
                    bus.$emit('snackbar-success', this.$t('subtitle.you_logged_in'))
                    this.pendingRequest = false
                }).catch( error => {
                    this.pendingRequest = false
                })
            },
            register() {
                this.pendingRequest = true
                this.$page.errors = {}
                this.$inertia.post(route('register'), this.newUser).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        this.confirmEmailStep = true
                    }
                    this.pendingRequest = false
                }).catch( error => {
                    this.pendingRequest = false
                })
            }
        }
    }
</script>
