<template>
    <layout>
        <div class="tw-mx-auto" style="max-width:1080px">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('page.privacy_policy') }}</h2>

            <hr class="tw-mt-3 tw-mb-4">

            <p><strong class="tw-text-xl">Kto jest administratorem Twoich danych?</strong></p>

            <div class="tw-ml-3">
                Firma RB Solutions Sp. z o. o. z siedzibą w Krakowie, przy ul. Krupniczej 12/7, kod pocztowy 31-123, zarejestrowana w Sądzie Rejonowym w Krakowie, XI Wydział Gospodarczy, KRS pod nr 0000562662, NIP: 676-248-94-16.
            </div>

            <br>

            <p><strong class="tw-text-xl">Dlaczego i w jakim celu przetwarzamy Twoje dane?</strong></p>

            <div class="tw-ml-3">
                W celu prowadzenia Twojego konta w Serwisie, stworzenia profilu, wizytówki i umożliwienia przesyłania aplikacji na wybrane ofert pracy - podstawą przetwarzania Twoich danych będzie w tym wypadku umowa zawarta z Administratorem poprzez założenie konta i akceptację regulaminu Serwisu. Twoje dane potrzebne też nam są do przesyłania treści marketingowych czy handlowych jeśli wyraziłeś na to zgodę. A także celu wykonania ciążących na nas obowiązkach prawnych, wykrywania nadużyć i zapobiegania im, ustalenia i obrony oraz dochodzenia roszczeń, marketingu bezpośredniego, profilowania, tworzenia zestawień, analiz i statystyk, weryfikacji wiarygodności płatniczej, obsługi reklamacji i zgłoszeń, wsparcia technicznego, rozliczeń finansowych, w tym wystawienia dokumentów księgowych.
            </div>

            <br>

            <p><strong class="tw-text-xl">Podstawa prawna do przetwarzania twoich danych osobowych</strong></p>

            <div class="tw-ml-3">
                Twoje dane będą przetwarzane na podstawie art. 6 ust. 1 lit b) Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”) (jest to niezbędne do wykonania umowy, której stroną jest osoba, której dane dotyczą). Podstawą prawną do działań marketingowych w tym profilowania jest Twoja dobrowolna zgoda. Dane potrzebne do wykrywania wszelkich nadużyć, botów, zbierania statystyk udoskonalenie serwisu, dopasowanie treści usług do potrzeb użytkowników jest art. 6 ust. 1 lit. f) RODO (uzasadniony interes administratora)
            </div>

            <br>

            <p><strong class="tw-text-xl">Komu przekazujemy Twoje dane?</strong></p>

            <div class="tw-ml-3">
                Twoje dane mogą być przekazywane różnym dostawcom usług, takim jak firmy IT, czy agencje marketingowe. Takie powierzenie danych odbywa się na podstawie umów o powierzeniu danych zgodnie z wytycznymi administratora oraz na podstawie bezwzględnie obowiązujących przepisów prawa. Twoje dane mogą być również przekazywane na wniosek organów ścigania.
            </div>

            <br>

            <p><strong class="tw-text-xl">Przekazywane danych poza Europejski Obszar Gospodarczy</strong></p>

            <div class="tw-ml-3">
                Twoje dane osobowe nie będą przekazywane do państw trzecich poza Europejskim Obszarem Gospodarczym.
            </div>

            <br>

            <p><strong class="tw-text-xl">Twoje prawa</strong></p>

            <div class="tw-ml-3">
                Z zastrzeżeniem ograniczeń wynikających z RODO i innych przepisów prawa, posiadasz prawo dostępu do treści Swoich danych osobowych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych osobowych, prawo wniesienia sprzeciwu, a także prawo do cofnięcia zgody w dowolnym momencie jeżeli przetwarzanie odbywa się na podstawie wyrażonej przez Ciebie zgody. Masz prawo wniesienia skargi do organu nadzoru w rozumieniu RODO, gdy Uznasz, iż przetwarzanie Twoich danych osobowych narusza przepisy RODO. W celu skorzystania ze swoich praw należy po zalogowaniu wejść w zakładkę ustawienia lub skontaktować się z nami przez formularz kontaktowy z zakładce “kontakt” lub podany adres email.
            </div>

            <br>

            <p><strong class="tw-text-xl">Jak długo przechowujemy Twoje dane</strong></p>

            <div class="tw-ml-3">
                Twoje dane osobowe będą przechowywane przez okres trwania zawartej przez Ciebie umowy o świadczenie usług , w związku z którą Twoje dane osobowe są przetwarzane, a po tym okresie do dnia upływu terminu przedawnienia roszczeń z tytułu zawartej przez Ciebie umowy o świadczenie usług Natomiast Twoje dane osobowe utrwalone w dokumentacji księgowej będą przechowywane przez okres wskazany w obowiązujących przepisach prawa, w tym przepisach podatkowych. Dane w celach marketingowych będą przetwarzane do momentu cofnięcia zgody a dane dotyczące dopasowania treść do momentu wyrażenia sprzeciwu lub zaprzestania korzystania z naszych usług.
            </div>

            <br>

            <p><strong class="tw-text-xl">Cookies</strong></p>

            <div class="tw-ml-3">
                Korzystając z serwisu wyrażasz zgodę na zapisywanie i odczytywanie wymienionych poniżej plików cookie. Serwis do poprawnej pracy wykorzystuje pliki 'cookies', które są niewielkich rozmiarów i służą poszerzaniu wiedzy Użytkowników na temat funkcjonowania serwisu oraz monitorowaniu działań związanych ze stroną. Jeśli zaistnieje potrzeba wyłączenia tych plików, prosimy o zapoznanie się z sekcją „Pomoc”, która jest dostępna w zainstalowanej przeglądarce. Uprzedzamy, iż może to spowodować utrudnienia w dostępie do niektórych opcji serwisu tzn. że Użytkownik będzie mógł przeglądać stronę, ale nie będzie w stanie się zalogować. Jak zrezygnować z zapisywania plików "cookies" ?
                <br>
                Jeśli chcesz zrezygnować z zapisywania plików cookies, wybierz przeglądarkę z której korzystasz i postępuj zgodnie ze wskazówkami:
                <ul>
                    <li>
                        <strong>Internet Explorer</strong>
                        <br>
                        <a href="http://windows.microsoft.com/pl-PL/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/pl-PL/windows-vista/Block-or-allow-cookies</a>
                    </li>
                    <li>
                        <strong>Mozilla Firefox</strong>
                        <br>
                        <a href="http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20">http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20</a>
                    </li>
                    <li>
                        <strong>Google Chrome</strong>
                        <br>
                        <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647</a>
                    </li>
                    <li>
                        <strong>Opera</strong>
                        <br>
                        <a href="http://help.opera.com/Windows/12.10/pl/cookies.html">http://help.opera.com/Windows/12.10/pl/cookies.html</a>
                    </li>
                    <li>
                        <strong>Safari</strong>
                        <br>
                        <a href="http://support.apple.com/kb/HT1677?viewlocale=pl_PL&locale=pl_PL">http://support.apple.com/kb/HT1677?viewlocale=pl_PL&locale=pl_PL</a>
                    </li>
                </ul>
                Pliki cookie używane przez nasz serwis:
                <br>
                Stałe Pliki - wykorzystywane do modyfikacji wyglądu lub działania serwisu na podstawie dokonanych wcześniej wyborów lub czynności. Pozostają na urządzeniu użytkownika aż do momentu wygaśnięcia lub usunięcia przez serwis lub użytkownika. Brak tych plików nie wpływa w znaczący sposób na funkcjonowanie serwisu.
                <br>
                Sesyjne Pliki - zawierające ciąg znaków identyfikujący zbiór danych przechowywanych po stronie serwisu (tzw. sesja). Sesja wykorzystywana jest przez system uwierzytelniania użytkownika, system weryfikacji kodów obrazkowych (CAPTCHA) oraz wiele innych mechanizmów usprawniających działanie serwisu. Pozostają na urządzeniu użytkownika do czasu wylogowania z serwisu lub zamknięcia przeglądarki. Brak tych plików uniemożliwia prawidłowe funkcjonowanie serwisu.
                <br>
                Pliki cookie podmiotów trzecich Analityczne Pliki zapisywane przez Google Analytics, bezpłatne narzędzie internetowe Google, które umożliwiają anonimowe zbieranie informacji w celu lepszego zrozumienia sposobu korzystania z serwisu, preferencji użytkownika, trendów.

            </div>

        </div>
    </layout>
</template>

<script>
    import Layout from "../Shared/Layout";

    export default {
        name: 'PrivacyPolicy',
        components: { Layout }
    }
</script>