<template>
    <v-app>
        <div class="tw-bg-square-white tw-h-screen tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-square-black" style="overflow-y: scroll; overflow-x: hidden">
            <div class="tw-inline-flex tw-text-square-white lg:tw--mt-16">
                <p class="tw-text-5xl tw-font-display tw-text-square-blue tw-font-bold tw-mb-4">emplostore</p>
                <p>®</p>
            </div>
            <div class="tw-bg-square-white tw-w-full md:tw-w-1/3 2xl:tw-w-1/4 tw-m-4 tw-rounded-xl tw-px-8 tw-py-6 tw-text-center">
                <p class="tw-font-bold tw-text-xl tw-mt-2">{{ $t('field.change_password') }}</p>
                <hr>
                <div class="tw-mt-8 tw-mb-6">
                    <template v-if="expired && !pendingRequest && !success">
                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-red">
                            <v-icon style="font-size: 144px;" color="error">mdi-close-circle-outline</v-icon>
                            <div class="tw-text-center tw-font-semibold">{{ $t('recovery_link_expired') }}</div>
                            <div>{{ $t('subtitle.try_recovery_again') }}</div>
                        </div>
                    </template>
                    <template v-else>
                        <template v-if="!success">
                            <div class="tw-mb-4">
                                {{ $t('subtitle.you_changing_email_for') }} <strong>{{ email }}</strong>
                            </div>
                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('subtitle.new_password')"
                                :hint="$t('field.password_hint')"
                                v-model="password"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.password"
                            />

                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('subtitle.confirm_password')"
                                v-model="password_confirmation"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.password_confirmation"
                            />

                            <v-btn :loading="pendingRequest" primary color="primary" @click="submitResetPassword()" class="tw-mt-4" large block>
                                {{ $t('field.change_password') }}
                            </v-btn>
                        </template>
                        <template v-else>
                            <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-green tw-my-6">
                                <v-icon style="font-size: 144px;" color="success">mdi-check-circle-outline</v-icon>
                                <div class="tw-font-semibold text-center">{{ $t('subtitle.password_is_changed') }}</div>
                                <div class="tw-text-center">{{ $t('subtitle.you_will_be_redirected_to_login') }}</div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
    export default {
        name: 'ResetPassword',
        props: {
            email: {
                type: String,
                default: ''
            },
            recoveryKey: {
                type: String,
                default: ''
            },
            expired: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                password: null,
                password_confirmation: null,
                pendingRequest: false,
                success: false,
            }
        },
        methods: {
            submitResetPassword() {
                this.pendingRequest = true
                this.$inertia.post(route('confirm-reset-password'), {
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                    recovery_key: this.recoveryKey
                }).then( () => {
                    if (!Object.keys(this.$page.errors).length) {
                        this.success = true
                        this.pendingRequest = false
                        setTimeout( () => {
                            this.$inertia.visit(route('join'))
                        }, 5000)
                    }
                    this.pendingRequest = false
                })
            }
        }
    }
</script>
