<template>
    <layout>
         <div class="tw-mx-auto" style="max-width:1080px">
             <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('page.rules') }}</h2>

             <hr class="tw-mt-3 tw-mb-4">

            <p><strong>§1 Postanowienia ogólne:</strong></p>

            <div class="tw-ml-3">1.1. Niniejszy Regulamin, określa:
                <div class="tw-ml-3">a. prawa i obowiązki Usługodawcy i Usługobiorców związane ze świadczeniem Usług drogą elektroniczną,</div>
                <div class="tw-ml-3">b. zasady wyłączania odpowiedzialności Usługodawcy z tytułu świadczenia Usług drogą elektroniczną,</div>
                <div class="tw-ml-3">c. zasady ochrony danych osobowych usługobiorców, korzystających z Usług świadczonych drogą elektroniczną.</div>
                <br>
                <p>1.2. Niniejszy Regulamin jest udostępniony Usługobiorcom nieodpłatnie za pośrednictwem strony internetowej www.emplostore.pl.</p>
                <p>1.3. Usługodawca świadczy Usługi drogą elektroniczną zgodnie z Regulaminem.</p>
                <p>1.4. Usługobiorca jest zobowiązany do zapoznania się z treścią Regulaminu przed rozpoczęciem korzystania z Usług.</p>
                <p>1.5. Usługobiorca zobowiązany jest do przestrzegania postanowień niniejszego Regulaminu od momentu rozpoczęcia korzystania z Usług, świadczonych przez Usługodawcę.</p>
                <p>1.6. Nie ma możliwości ustalania indywidualnych praw i obowiązków lub zgłaszania zastrzeżeń co do ich treści.</p>
                <p>1.7. Niniejszy regulamin dostępny będzie w tym miejscu przez cały okres istnienia serwisu www.emplostore.pl.</p>
            </div>

            <br>

            <p><strong>§2 Definicje:</strong></p>

            <div class="tw-ml-3">
                <p>2.1. "Usługodawca" - RB Solutions Sp. z o. o. z siedzibą w Krakowie, przy ul. Krupnicza 12/7, kod pocztowy 31-123, zarejestrowana w Sądzie Rejonowym w Krakowie, XI Wydział Gospodarczy, KRS pod nr 0000562662, NIP: 676-248-94-16;</p>
                <p>2.2. "Usługobiorca" - osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, która korzysta z Usług świadczonych przez Usługodawcę i posiada konto w serwisie; Usługobiorcy dzielimy na Agencje rekrutacyjną i pracodawcę</p>
                <p>2.3. "Serwis" - serwis internetowy należący do Usługodawcy, umieszczony pod adresem: www.emplostore.pl, w ramach którego Usługodawca świadczy usługi;</p>
                <p>2.4. "Usługi" - usługi świadczone przez Usługodawcę na rzecz Usługobiorców w oparciu o niniejszy Regulamin;</p>
                <p>2.5. "Regulamin" - niniejszy Regulamin;</p>
                <p>2.6. "Baza Danych" - miejsce przechowywania danych o Usługobiorcach, gromadzonych w Serwisie;</p>
                <p>2.7. "Konto" - miejsce gromadzenia danych poszczególnego Usługobiorcy, korzystającego z Usług Serwisu;</p>
                <p>2.8. "Administrator" – właściciel Serwisu wraz z zespołem osób zarządzającym Serwisem od strony technicznej, funkcjonalnej oraz prawnej,</p>
                <p>2.9. "Użytkownik" - jest to osoba fizyczna, korzystająca z serwisu bez rejestracji i zalogowania</p>
            </div>

            <br>

            <p><strong>§3 Zawarcie i rozwiązanie umowy:</strong></p>
            <div class="tw-ml-3">
                <div>3.1. Umowa o świadczenie Usług z Serwisem, zostaje zawarta z chwilą rozpoczęcia korzystania z Usługi przez Usługobiorcę.</div>
                    <div class="tw-ml-3">a. w przypadku Usług wymagających zarejestrowania się w Serwisie warunkiem zawarcia umowy jest prawidłowe wypełnienie formularza rejestracyjnego. Wysłanie przez Usługobiorcę formularza rejestracyjnego jest równoznaczne z zawarciem umowy z Usługodawcą,</div>
                    <div class="tw-ml-3">b. dla Usług dostępnych bez konieczności zarejestrowania lub logowania rozpoczęciem korzystania z nich jest wejście na stronę Serwisu.</div>
                <br>

                <div>3.2. Umowa o świadczenie Usług ulega rozwiązaniu:</div>
                    <div class="tw-ml-3">a. na skutek jej rozwiązania przez jedną ze stron,</div>
                    <div class="tw-ml-3">b. z upływem okresu, za jaki opłacona została Usługa odpłatna,</div>
                    <div class="tw-ml-3">c. w momencie, gdy Usługobiorca wyrejestruje się z Serwisu lub usunie swoje Konto,</div>
                    <div class="tw-ml-3">d. zgłoszenia przez Usługobiorcę żądania zaprzestania przetwarzania podanych w formularzu rejestracyjnym danych osobowych,</div>
                    <div class="tw-ml-3">e. w przypadku Usług odpłatnych, świadczonych na podstawie umowy na czas nieokreślony - na skutek wypowiedzenia dokonanego z zachowaniem miesięcznego okresu wypowiedzenia.</div>
                <br>

                <div>3.3. Usługodawca ma prawo rozwiązać umowę o świadczenie Usług drogą elektroniczną bez zachowania terminu wypowiedzenia i zaprzestać świadczenia Usługi bez obowiązku zwrotu całości lub części pozostałej do wykorzystania opłaty w następujących przypadkach:</div>
                    <div class="tw-ml-3">a. naruszenia przez Usługobiorcę istotnych postanowień Regulaminu,</div>
                    <div class="tw-ml-3">b. umieszczania przez Usługobiorcę treści niezgodnych z obowiązującymi przepisami prawa,</div>
                    <div class="tw-ml-3">c. wykorzystywania przez Usługobiorcę Usługi niezgodnie z jej przeznaczeniem w szczególności poprzez pisanie wiadomości o treści reklamowej, erotycznej, lub towarzyskiej.</div>
                <br>

                <p>3.4. Wypowiedzenia dokonuje się poprzez przesłanie drugiej stronie oświadczenia o wypowiedzeniu umowy na adres e-mail lub usunięcie konta usługobiorcy.</p>
                <p>3.5. Usługodawca zastrzega sobie prawo do odmowy świadczenia Usług na rzecz Usługobiorcy i możliwości usunięcia jego konta, jeżeli zostało ono założone po raz kolejny po usunięciu, wynikającym z braku uiszczenia opłaty, lub wskutek naruszenia jakiegokolwiek z punktów Regulaminu.</p>
            </div>

            <br>

            <p><strong>§4 Rejestracja w Serwisie:</strong></p>

            <div class="tw-ml-3">
                <p>4.1. Warunkiem rozpoczęcia świadczenia Usług przez Usługodawcę w pełnym zakresie jest prawidłowe wypełnienie przez Usługobiorcę formularza rejestracyjnego, umieszczonego w Serwisie oraz wysłanie go Usługodawcy.</p>
                <p>4.2. Poprzez rejestrację, Usługodawca będzie zarejestrowany w Bazie Danych, co będzie umożliwiało odnajdywanie jego Konta osobom zainteresowanym. Wszelkie dane osobowe, wizerunek na fotografiach i inne informacje składające się na Konto każdego Usługobiorcy przekazuje on do Serwisu w sposób dobrowolny oraz wyraża zgodę na upublicznienie tego Konta przez emplostore.pl, co oznacza, iż dostęp do tych danych może mieć nieograniczony krąg Użytkowników Internetu, z wyłączeniem danych dostępnych tylko po zalogowaniu.</p>
                <p>4.3. Usługodawca po otrzymaniu prawidłowo wypełnionego formularza rejestracyjnego, oraz żądanych dokumentów, utworzy dla Usługobiorcy konto o nazwie wybranej przez Usługobiorcę.</p>
                <p>4.4. Usługodawca może odmówić utworzenia konta o określonej nazwie jeżeli jest ona już używana w ramach Serwisu, sprzeczna z prawem, dobrymi obyczajami, narusza dobra osobiste osób trzecich lub uzasadnione interesy Usługodawcy.</p>
                <p>4.5. O odmowie utworzenia konta Usługodawca poinformuje Usługobiorcę w terminie 24 godzin od podjęcia decyzji w tej sprawie. Decyzja ta jest ostateczna.</p>

                <div>4.6. Usługobiorca wysyłając formularz rejestracyjny oświadcza, że:</div>
                    <div class="tw-ml-3">. podane w nim dane są kompletne i zgodne ze stanem faktycznym,</div>
                    <div class="tw-ml-3">b. podane przez niego dane nie naruszają jakichkolwiek praw osób trzecich,</div>
                    <div class="tw-ml-3">c. będzie korzystał z konta w sposób zgodny z obowiązującym prawem oraz normami społecznymi i obyczajowymi,</div>
                    <div class="tw-ml-3">d. zapoznał się z Regulaminem i zobowiązuje się go przestrzegać.</div>
                <br>

                <p>4.7. Podanie danych osobowych Usługobiorcy jest dobrowolne, lecz niepodanie ich może uniemożliwić mu korzystanie z udostępnianych przez Serwis Usług.</p>
                <p>4.8. Usługodawca zapewnia każdemu Usługobiorcy dostęp do dotyczących go danych, w celu ich weryfikacji, modyfikacji lub usunięcia.</p>

                <div>4.9. Usługodawca zastrzega sobie prawo do zamknięcia konta Usługobiorcy, gdy:</div>
                    <div class="tw-ml-3">a. usługobiorca wykorzystuje konto niezgodnie z postanowieniami obowiązującego prawa lub Regulaminu w szczególności poprzez pisanie wiadomości o treści reklamowej, erotycznej, matrymonialnej, towarzyskiej.</div>
                    <div class="tw-ml-3">b. nazwa konta narusza prawo, chronione prawem dobra osób trzecich, jest niezgodna z dobrymi obyczajami, w tym jest wyrażeniem powszechnie uznanym za obraźliwe</div>
                    <div class="tw-ml-3">c. zamieszcza ogłoszenia z fikcyjną pracą w celu pozyskania danych kontaktowych</div>
                <br>

                <p>4.10. Usługobiorca ponosi odpowiedzialność za sposób, w jaki wykorzystuje konto w Serwisie, w tym za zawartość i formę zamieszczanych treści, jak i treści przesyłanych do innych Usługobiorców z uwzględnieniem odpowiedzialności karnej lub cywilnej za działania niezgodne z prawem.</p>
                <p>4.11. Usługobiorca uzyskuje dostęp do konta za pomocą loginu i hasła dostępu. Usługobiorca zobowiązany jest nie ujawniać jakiejkolwiek osobie trzeciej loginu lub hasła i ponosi wyłączną odpowiedzialność za szkody wyrządzone na skutek ich ujawnienia.</p>
                <p>4.12. Użytkownikiem i Usługobiorcą Serwisu może być każda osoba, która ukończyła 18 rok życia.</p>
            </div>

            <br>

            <p><strong>§5 Usługi Świadczone przez Serwis:</strong></p>

            <div class="tw-ml-3">
                <div>5.1. Przedmiotem usług Serwisu jest:</div>
                    <div class="tw-ml-3">a. dostarczenie Pracodawcom możliwości przeglądania Bazy Danych dodawanych profili kandydatów oraz zamieszczania zleceń rekrutacji.</div>
                    <div class="tw-ml-3">b. usługa publikacji profilu kandydata przez agencję rekrutacyjną oraz możliwość podpinania profili pod zlecenia pracodawców.</div>
                    <div class="tw-ml-3">c. dostarczenie możliwości kontaktowania się z wybranymi Usługobiorcami, za pomocą wiadomości wysyłanych w obrębie Serwisu</div>
                    <div class="tw-ml-3">d. dostarczenie możliwości Usługobiorcom (agencją) prezentacji swojego Konta w postaci wizytówki</div>
            </div>

            <br>

            <p><strong>§6 Prawa i obowiązki stron:</strong></p>

            <div class="tw-ml-3">
                <p>6.1. Usługodawca dołoży wszelkich starań, by Serwis funkcjonował w sposób ciągły. Usługodawca zastrzega sobie prawo do czasowego całkowitego lub częściowego wyłączenia Serwisu w celu jego ulepszenia, dodawania usług lub przeprowadzania konserwacji, bez wcześniejszego uprzedzania o tym Usługobiorców.</p>

                <div>6.2. Usługodawca zastrzega sobie prawo do:</div>
                    <div class="tw-ml-3">a. zablokowania dostępu do zasobów Usługobiorców zawierających treści erotyczne, pornograficzne, zawierające nielegalne oprogramowanie lub informację na temat jego pozyskania, linki kierujące do innych stron internetowych lub zachęcanie do rejestracji na innych stronach internetowych oraz inne treści sprzeczne z prawem, dobrymi obyczajami lub uzasadnionymi interesami Usługodawcy,</div>
                    <div class="tw-ml-3">b. zaprzestania świadczenia usług i usunięcia konta Usługobiorcy w razie nieprzestrzegania przez niego Regulaminu lub w przypadku, gdy skuteczne dostarczenie usług jest niemożliwe z winy Usługobiorcy,</div>
                    <div class="tw-ml-3">c. umożliwienia Usługobiorcom utworzenia konta w Serwisie przy użyciu adresu e-mail używanego wcześniej przez innego Usługobiorcę, którego konto zostało usunięte,</div>
                    <div class="tw-ml-3">d. ujawniania Pracodawcom Danych Osobowych zarejestrowanych Usługobiorców,</div>
                    <div class="tw-ml-3">e. przesyłania do Usługobiorców wiadomości przez Serwis, na podany przez nich adres mailowy.</div>
                <br>

                <p>6.3. Usługodawca zastrzega, iż wszystkie znaki towarowe, handlowe, marki dostępne w Serwisie (w szczególności grafika, artykuły, zdjęcia, wygląd i struktura witryny) są objęte ochroną prawa autorskiego. Usługobiorca ma prawo do korzystania z nich jedynie w ramach dozwolonego użytku osobistego. Kopiowanie, zwielokrotnianie, rozpowszechnianie w Internecie i inne formy korzystania, wykraczające poza granice dozwolone prawem jest możliwe jedynie po uzyskaniu uprzedniej zgody Usługodawcy wyrażonej w formie pisemnej, pod groźbą nieważności.</p>
                <p>6.4. Usługodawca nie zwraca środków pieniężnych wniesionych tytułem opłat za korzystanie z usług Serwisu, jeżeli podstawy żądania zwrotu nie wynikają z wyłącznej winy Usługodawcy lub podmiotów z nim współpracujących.</p>
                <p>6.5. Usługobiorca zobowiązuje się do przestrzegania Regulaminu i przepisów prawa, korzystając z Usług świadczonych przez Usługodawcę.</p>
                <p>6.6. Serwis zastrzega sobie prawo do wysyłania informacji systemowych oraz wiadomości, takich jak powiadomienia o nowych ofertach pracy lub wewnętrzych wiadomościach, informacji o rejestracji nowych usługobiorców do Usługobiorców na podany przez nich podczas Rejestracji adres e-mail.</p>
            </div>

            <br>

            <p><strong>§7 Płatność:</strong></p>

            <div class="tw-ml-3">
                <p>7.1. Serwis oferuje zarówno Usługi odpłatne jak i niepłatne. Opłata za wykupienie konta premium lub kredytów musi zostać uiszczona w całości. Opłat można dokonywać kartą kredytową, debetową, za pomocą operatora płatności Stripe.</p>
                <p>7.2. Pracodawcy korzystają z serwisu zupełnie bezpłatnie. Agencje rekrutacyjne mogą wykupić konto premium oraz dodatkowe pakiety, które następnie można zamienić na możliwość prezentacji profili kandydata na stronach serwisu oraz podpinać te profile pod zlecenia pracodawców. Szczegółowy cennik znajduje się po zalogowaniu jako agencja pracy.</p>
                <p>7.3. Agencja rekrutacyjna, która zdecyduje się wykupić konto premium wyraża zgodę na cykliczne, comiesięczne pobieranie przez Operatora Płatności (Stripe) z karty płatniczej kwoty pieniężnej odpowiadającej wysokości wartości opłaty za usługę. Opłata będzie pobierana przez Operatora płatności raz w miesiącu. W każdej chwili można wyłączyć tę opcję w ustawieniach swojego konta. Usługobiorca  w ramach usługi płatności cyklicznych ma możliwość zapisania danych karty i zlecenia stałego polecania zapłaty. Dane karty będą przechowywane przez Operatora Płatności (Stripe)</p>
            </div>

            <br>

            <p><strong>§8 Odpowiedzialność:</strong></p>

            <div class="tw-ml-3">
                <div>8.1. Usługodawca nie ponosi odpowiedzialności za:</div>
                    <div class="tw-ml-3">a. treści Kont utworzonych przez Usługobiorców, rzetelność danych, znajdujących się na poszczególnych Kontach Usługobiorców,</div>
                    <div class="tw-ml-3">b. utratę przez Usługobiorców danych, spowodowaną działaniem czynników zewnętrznych lub innymi okolicznościami niezależnymi od Usługodawcy,</div>
                    <div class="tw-ml-3">c. za ujawnianie danych osobowych w sposób zgodny z Regulaminem,</div>
                    <div class="tw-ml-3">d. podanie przez Usługobiorców informacji nieprawdziwych lub niepełnych przy rejestracji konta,</div>
                    <div class="tw-ml-3">e. za jakiekolwiek szkody powstałe na skutek korzystania z Serwisu w sposób niezgodny z prawem lub Regulaminem przez Usługobiorców,</div>
                    <div class="tw-ml-3">f. za jakiekolwiek szkody powstałe na skutek zaprzestania świadczenia Usług, w przypadku gdy nastąpiło to z winy Usługobiorcy,</div>
                    <div class="tw-ml-3">g. za jakiekolwiek szkody powstałe na skutek zaprzestania świadczenia Usług i usunięcia konta Usługobiorcy naruszającego Regulamin lub przepisy prawa,</div>
                    <div class="tw-ml-3">h. jakiekolwiek szkody wyrządzone osobom trzecim, powstałe w wyniku korzystania przez Usługobiorców z Usług w sposób sprzeczny z Regulaminem lub przepisami prawa,</div>
                    <div class="tw-ml-3">i. Usługodawca nie odpowiada za wydarzenia jakie mogą mieć lub miały miejsce w świecie rzeczywistym pomiędzy Usługobiorcami poznanymi za pośrednictwem Serwisu.</div>
                <br>

                <p>8.2. Usługodawca, który uzyskał wiarygodną informację o bezprawnym charakterze przechowywanych danych dostarczonych przez Usługobiorcę i uniemożliwił dostęp do tych danych, nie odpowiada względem tego Usługobiorcy za szkodę powstałą w wyniku uniemożliwienia dostępu do tych danych.</p>
                <p>8.3. Usługodawca i Usługobiorca zobowiązani są do naprawienia szkody, jaką druga strona poniosła na skutek niewykonania lub nienależytego wykonania przez nich obowiązków wynikających z Regulaminu, chyba że ich niewykonanie lub nienależyte wykonanie było następstwem okoliczności, za które strona nie ponosi odpowiedzialności.</p>

                <div>8.4. Udostępniając zdjęcie do Serwisu www.emplostore.pl, Usługobiorca oświadcza, iż:</div>
                    <div class="tw-ml-3">a. posiada on zgody wymagane przepisami prawa do tego, by zdjęcie to mogło być w sposób swobodny i nieskrępowany publicznie udostępniane w mediach i nie narusza w ten sposób żadnych praw osób trzecich,</div>
                    <div class="tw-ml-3">b. w przypadku, gdy pojawią się roszczenia podmiotów trzecich względem Usługodawcy odnośnie publikacji tego zdjęcia oraz naruszania jakichkolwiek praw do jego publikacji na łamach Serwisu, Usługobiorca zobowiązuje się złożyć pisemne oświadczenie, o odpowiedniej treści o zwolnieniu z jakiejkolwiek odpowiedzialności Usługodawcy w tym zakresie.</div>
                    <div class="tw-ml-3">c. wyraża zgodę na opatrzenie, zamieszczonych przez niego w Serwisie zdjęć, znakiem wodnym o dowolnej treści i formie Usługodawcy lub adresu Serwisu, celem zabezpieczenia przedmiotowych zdjęć przed niepożądanym kopiowaniem i wykorzystywaniem przez podmioty trzecie.</div>
            </div>

            <br>

            <p><strong>§9 Zasady administrowania danymi osobowymi:</strong></p>

            <div class="tw-ml-3">
                <p>9.1. Usługobiorca wysyłając Usługodawcy formularz rejestracyjny wyraża zgodę na przetwarzanie swoich danych osobowych i innych danych zawartych w formularzu rejestracyjnym do celów świadczenia wybranej Usługi.Dane osobowe Użytkownika i Usługobiorcy przetwarzane są z zachowaniem zasad bezpieczeństwa wymaganych ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz. U. z 2014 r. poz. 1182, 1662).</p>
                <p>9.2. Usługobiorca rejestrując się w Serwisie, wyraża zgodę na przetwarzanie swoich danych osobowych i innych danych zawartych w formularzu rejestracyjnym, a w szczególności na przekazywanie tych danych osobowych pracodawcom korzystającym z Serwisu.</p>
                <p>9.3. W przypadku uzyskania przez Usługodawcę wiadomości o korzystaniu przez Usługobiorcę z Serwisu w sposób niezgodny z prawem lub Regulaminem, Usługodawca może przetwarzać dane osobowe Usługobiorcy w celu i w zakresie potrzebnym do ustalenia odpowiedzialności Usługobiorcy.</p>

                <div>9.4. Usługodawca może przetwarzać następujące dane osobowe:</div>
                    <div class="tw-ml-3">a. imię, nazwisko,</div>
                    <div class="tw-ml-3">b. NIP,</div>
                    <div class="tw-ml-3">c. adres poczty elektronicznej,</div>
                    <div class="tw-ml-3">d. numer telefonu stacjonarnego i komórkowego,</div>
                <br>

                <p>9.5. Usługodawca zastrzega, że powyższy katalog danych osobowych może ulegać zmianie w zależności od rodzaju świadczonej Usługi.</p>
                <p>9.6. Usługodawca dba o bezpieczeństwo danych osobowych udostępnionych przez Usługobiorców. Dane te są zabezpieczone przed dostępem osób nieupoważnionych. Usługodawca zapewnia Usługobiorcom realizację prawa wglądu do danych, prawa żądania aktualizacji danych oraz prawa wniesienia sprzeciwu w przypadkach określonych przepisami prawa.</p>
                <p>9.7. W przypadku danych osobowych przetwarzanych w celu realizacji Usług, Usługobiorcy przysługuje prawo wglądu do swoich danych osobowych podanych w formularzu rejestracyjnym i możliwość ich aktualizacji bądź zmiany.</p>
                <p>9.8. Usługodawca ma prawo przetwarzania danych personalnych Usługobiorcy bez jego uprzedniej zgody w celach marketingu bezpośredniego realizowanego inną drogą niż za pośrednictwem poczty elektronicznej.</p>
                <p>9.9. Żądanie usunięcia danych osobowych udostępnionych do Serwisu, których podanie jest wymagane przez Usługodawcę, jest jednoznaczne z rezygnacją przez Usługobiorcę z korzystania z zasobów Serwisu.</p>
            </div>

            <br>

            <p><strong>§10 Postępowanie reklamacyjne:</strong></p>

            <div class="tw-ml-3">
                <p>10.1. Usługobiorcy mają prawo składać reklamacje w sprawach dotyczących Usług.</p>
                <p>10.2. Reklamacje Usług, Usługobiorca może składać w formie pisemnej, za pomocą listu poleconego, na adres Usługodawcy.</p>
                <p>10.3. Reklamacje rozpatruje Usługodawca.</p>
                <p>10.4. Reklamacja powinna zawierać następujące dane: Imię, Nazwisko, email podany przy rejestracji, Adres, Przedmiot Reklamacji, Okoliczności Uzasadniające Reklamację.</p>
                <p>10.5. Reklamacje nie zawierające powyższych danych nie będą rozpatrywane.</p>
                <p>10.6. O decyzji Usługodawcy, Usługobiorca zostanie powiadomiony pisemnie, na adres email podany w reklamacji</p>
            </div>

            <br>

            <p><strong>§11 Postanowienia końcowe:</strong></p>

            <div class="tw-ml-3">
                <p>11.1. Regulamin wchodzi w życie z dniem 1 Sierpnia 2020 roku.</p>
                <p>11.2. Usługodawca ma prawo do jednostronnej zmiany Regulaminu. Zmiany Regulaminu wchodzą w życie po upływie 7 dni od zamieszczenia zmienionego Regulaminu w Serwisie www.emplostore.pl</p>
                <p>11.3. O zmianie Regulaminu Usługodawca zawiadomi Usługobiorcę, przesyłając odpowiednią informację w formie wiadomości w obrębie serwisu www.emplostore.pl</p>
                <p>11.4. Usługobiorca po otrzymaniu informacji o zmianie Regulaminu, ma prawo odstąpienia od umowy o świadczenie Usług drogą elektroniczną niezwłocznie po otrzymaniu informacji o zmianie Regulaminu. Jeśli Usługodawca nie otrzyma takiej informacji, przyjmuje się, że Usługobiorca zaakceptował zmieniony Regulamin i zobowiązuję się go przestrzegać.</p>
                <p>11.5. Wszelkie spory powstałe na gruncie Regulaminu lub umów o świadczenie Usług drogą elektroniczną rozstrzygał będzie polski sąd powszechny.</p>
                <p>11.6. W sprawach nieuregulowanych w Regulaminie zastosowanie mają przepisy ustawy o świadczeniu usług drogą elektroniczną, ustawy o ochronie danych osobowych, kodeksu cywilnego i inne bezwzględnie obowiązujące przepisy prawa.</p>
            </div>

        </div>
    </layout>
</template>

<script>
    import Layout from "../Shared/Layout";

    export default {
        name: 'Rules',
        components: { Layout }
    }
</script>