<template>
    <layout>
        <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.card') }}</h2>
        <hr class="tw-mt-3 tw-mb-4">

        <v-row>
            <v-col cols="12" sm="8">
                <div class="tw-bg-white tw-rounded tw-px-4 tw-pb-4 tw-pt-2 tw-shadow-lg tw-flex-col tw-flex tw-mt-2">
                    <v-row>
                        <v-col cols="12" sm="4">
                            <div class="tw-text-square-grey tw-text-xs">{{ $t('subtitle.logo') }}</div>

                            <v-file-input v-model="card.logo" show-size counter dark label="Image" ref="file" @change="previewImage" class="tw-hidden"></v-file-input>

                            <v-img
                                v-if="card.logoPreview"
                                @click="browseImage"
                                contain
                                class="tw-cursor-pointer tw-rounded"
                                max-width="120px" min-width="120px" min-height="120px" max-height="120px"
                                :src="card.logoPreview"
                            />

                            <v-img
                                v-else-if="card.logoPath"
                                @click="browseImage"
                                contain
                                class="tw-cursor-pointer tw-rounded"
                                max-width="120px" min-width="120px" min-height="120px" max-height="120px"
                                :src="card.logoPath"
                            />

                            <div
                                v-else
                                @click="browseImage()"
                                class="tw-flex tw-items-center tw-justify-center tw-cursor-pointer tw-rounded"
                                style="width: 120px; height: 120px; background: rgba(0, 0, 0, 0.1)"
                            >
                                <v-icon class="tw-text-square-grey">mdi-camera</v-icon>
                            </div>

                            <div class="tw-text-xs tw-text-square-red" v-if="$page.errors.logo">
                                {{ $page.errors.logo[0] }}
                            </div>

                            <div class="tw-text-square-grey tw-text-xs tw-mt-1 tw-mb-4">Max: 2mb, (.jpg, .png)</div>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.agency_name')"
                                v-model="card.name"
                                :error-messages="$page.errors.name"
                                outlined autocomplete="new-password"
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                outlined
                                v-model="card.description"
                                :error-messages="$page.errors.description"
                                :label="$t('field.agency_description')"
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.phone_number')"
                                v-model="card.public_phone"
                                :error-messages="$page.errors.public_phone"
                                outlined autocomplete="new-password"
                            />
                        </v-col>
                        <v-col cols="12" sm="8">
                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.www_site')"
                                v-model="card.site"
                                :error-messages="$page.errors.site"
                                outlined autocomplete="new-password"
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                dense
                                height="44"
                                :label="$t('field.address')"
                                v-model="card.address"
                                :error-messages="$page.errors.address"
                                outlined autocomplete="new-password"
                            />
                        </v-col>
                    </v-row>

                    <div class="tw-ml-auto">
                        <v-btn color="primary" :loading="pendingCardRequest" @click="updateCard()">
                            {{ $t('subtitle.save') }}
                        </v-btn>
                    </div>

                </div>
            </v-col>
        </v-row>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'AgencyCard',
        components: { Layout },
        props: {
            user: {
                type: Object,
                default: () => {}
            },
        },
        data() {
            return {
                pendingCardRequest: false,
                card: {
                    address: null,
                    site: null,
                    public_phone: null,
                    description: null,
                    name: null,
                    logo: null,
                    logoPath: null,
                    logoPreview: null
                },
            }
        },
        created() {
            this.card.address = this.user.address
            this.card.site = this.user.site
            this.card.public_phone = this.user.public_phone
            this.card.description = this.user.description
            this.card.name = this.user.name
            this.card.logoPath = this.user.logo
        },
        methods: {
            updateCard() {
                this.pendingCardRequest = true

                let formData = new FormData()

                formData.set('address', this.card.address)
                formData.set('site', this.card.site)
                formData.set('public_phone', this.card.public_phone)
                formData.set('description', this.card.description)
                formData.set('name', this.card.name)

                if (this.card.logo) {
                    formData.append('logo', this.card.logo)
                }

                this.$inertia.post(route('update-card'), formData).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.card_changed'))
                    }
                    this.pendingCardRequest = false
                }).catch( error => {
                    this.pendingCardRequest = false
                })
            },
            browseImage() {
                document.querySelector('input[type=file]').click()
            },
            previewImage(event) {
                let reader = new FileReader();

                reader.onload = (e) => {
                    this.card.logoPreview = e.target.result;
                }

                reader.readAsDataURL(event);
            },
        }
    }
</script>
