<template>
    <layout>
        <div class="tw-ml-4">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.payments') }}</h2>
            <hr class="tw-mt-3 tw-mb-6" />
            <div class="tw-flex tw-flex-col tw-bg-white tw-rounded tw-px-4 tw-py-2">
                <template v-if="!payments.length">
                    <div class="tw-mt-3 tw-text-square-grey">
                        {{ $t('message.no_payments_yet') }}
                    </div>
                </template>
                <template v-else>
                    <div class="tw-hidden sm:tw-flex tw-font-medium tw-text-xs tw-mt-2">
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.data') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.user') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.type') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.price') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('subtitle.payment_status') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.invoice') }}</div>
                    </div>
                    <div v-for="payment in payments" class="tw-text-square-grey sm:tw-flex tw-my-1 tw-hidden">
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ payment.created_at | moment('D MMMM YYYY, HH:mm') }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ payment.user.name }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">{{ payment.type !== 'candidates' ? $t('subtitle.subscription') : '+10 ' + $t('subtitle.candidates_p') }}</div>
                        <div class="tw-flex-grow tw-uppercase tw-font-bold" style="flex-basis: 0">{{ payment.total / 100 }} {{ payment.currency }}</div>
                        <div class="tw-flex-grow" style="flex-basis: 0">
                            <v-chip
                                class="tw-uppercase tw-font-bold tw-text-2xs tw-text-center tw-block"
                                :color="payment.status === 'succeeded' ? 'success' : ''"
                                text small label
                                style="width: 120px;"
                                :class="{'tw-bg-square-grey' : payment.status === 'pending', 'tw-bg-square-red': payment.status === 'failed'}"
                            >
                                <span class="tw-capitalize" v-if="payment.status === 'succeeded'">
                                    {{ $t('subtitle.finished') }}
                                </span>

                                <span v-else-if="payment.status === 'pending'" class="tw-text-white tw-capitalize">
                                    {{ $t('subtitle.in_progress') }}
                                </span>

                                <span v-else class="tw-text-white tw-capitalize">
                                    {{ $t('subtitle.unfinished') }}
                                </span>
                            </v-chip>
                        </div>
                        <div class="tw-flex-grow" style="flex-basis: 0">
                            <v-btn v-if="payment.fakturownia_invoice_id" color="primary" small @click="downloadInvoice(payment.id)">
                                {{ $t('subtitle.finished') }}
                            </v-btn>

                            <v-btn v-else class="tw--ml-2" color="primary" disabled text small>
                                {{ $t('subtitle.no_invoice') }}
                            </v-btn>
                        </div>
                    </div>
                    <div class="code tw-block sm:tw-hidden">
                        {{ $t('subtitle.use_higher_resolution_device') }}
                    </div>
                </template>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'Payments',
        components: { Layout },
        props: {
            initialPayments: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                payments: this.initialPayments,
                isFetching: false
            }
        },
        created() {
            bus.$on('scroll-pagination-trigger', () => {
                if (!this.isFetching) {
                    this.getMorePayments()
                }
            })
        },
        methods: {
            getMorePayments() {
                this.isFetching = true
                axios.post(route('get-paginated-payments'), { skip: this.payments.length }).then( response => {
                    this.payments.push(...response.data.data)
                    this.isFetching = false
                }).catch( error => {
                    this.isFetching = false
                })
            },
            downloadInvoice(paymentId) {
                window.location.href = route('download-invoice', paymentId)
            },
        }
    }
</script>
