<template>
    <v-dialog scrollable persistent v-model="dialog" width="90%">
        <v-card style="height: 90vh">
            <v-card-title>
                <span class="tw-text-square-blue">{{ modalTitle }}</span>
                <div class="tw-ml-auto tw-flex tw-justify-center tw-cursor-pointer" @click="reject">
                    <v-icon class="tw-font-6xl">mdi-close</v-icon>
                </div>
            </v-card-title>

            <v-card-text>
                <v-row>
                    <v-col cols="12" md="6">
                        <div class="tw-h-full">
                            <hr class="tw-mb-4 tw-mr-4">
                            <template v-if="type === 'subscription'">
                                <div class="tw-mx-auto tw-px-4 tw-pt-8 tw-pb-6 md:tw-pb-24 md:tw-mt-16 md:tw-w-4/5 tw-rounded-lg tw-shadow-lg" style="background: #eee">
                                    <h1>{{ $t('subtitle.premium_account') }}</h1>
                                    <div class="tw-flex tw-flex-col tw-mt-6 tw-text-base">
                                        <div class="tw-flex tw-my-2 tw-font-medium" v-for="advantage in subscriptionAdvantages">
                                            <v-icon color="success">mdi-check</v-icon>
                                            <div class="tw-ml-2">{{ advantage }}</div>
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <template v-else>
                                <v-row class="tw-justify-center">
                                    <v-col cols="12" md="6">
                                        <div class="candidate-box tw-bg-square-white tw-rounded tw-p-4" :class="{ 'candidate-box-faded': selectedCandidatesAmount !== 10 }" @click="selectedCandidatesAmount = 10">
                                            <h2 class="tw-text-3xl tw-text-center tw-text-square-blue tw-mt-3 tw-capitalize">10 {{ $t('subtitle.candidates_p') }}</h2>
                                            <div class="tw-flex tw-flex-col tw-items-center tw-my-20">
                                                <div class="tw-flex tw-relative">
                                                    <div class="tw-font-bold tw-text-5xl tw--ml-4">499</div>
                                                    <div class="tw-mt-4 tw-absolute tw-text-square-grey" style="left: 75px; top: -30px; width: 86px;">PLN netto</div>
                                                </div>
                                                <div class="tw-text-sm tw-text-square-grey-light tw--ml-2 tw-mt-2">{{ $t('subtitle.one_time_payment') }}</div>
                                            </div>
                                            <v-btn depressed class="tw-text-white tw-w-full tw-mt-4 tw-mb-2" :disabled="selectedCandidatesAmount !== 10" color="primary">
                                                {{ selectedCandidatesAmount !== 10 ? $t('subtitle.choose_plan') : $t('subtitle.chosen_plan') }}
                                            </v-btn>
                                            <div class="tw-text-center tw-text-square-grey tw-text-xs">
                                                {{ $t('subtitle.price_contains_vat_tax') }}
                                            </div>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" md="6">
                                        <div class="candidate-box tw-bg-square-white tw-rounded tw-p-4" :class="{ 'candidate-box-faded': selectedCandidatesAmount !== 20 }" @click="selectedCandidatesAmount = 20">
                                            <h2 class="tw-text-3xl tw-text-center tw-text-square-blue tw-mt-3">30 {{ $t('subtitle.candidates_p') }}</h2>
                                            <div class="tw-flex tw-flex-col tw-items-center tw-my-20">
                                                <div class="tw-flex tw-relative">
                                                    <div class="tw-font-bold tw-text-5xl tw--ml-4">799</div>
                                                    <div class="tw-mt-4 tw-absolute tw-text-square-grey" style="left: 68px; top: -30px; width: 86px;">PLN netto</div>
                                                </div>
                                                <div class="tw-text-sm tw-text-square-grey-light tw--ml-2 tw-mt-2">{{ $t('subtitle.one_time_payment') }}</div>
                                            </div>
                                            <v-btn depressed class="tw-text-white tw-w-full tw-mt-4 tw-mb-2" :disabled="selectedCandidatesAmount !== 20" color="primary">
                                                {{ selectedCandidatesAmount !== 20 ? $t('subtitle.choose_plan') : $t('subtitle.chosen_plan') }}
                                            </v-btn>
                                            <div class="tw-text-center tw-text-square-grey tw-text-xs">{{ $t('subtitle.price_contains_vat_tax') }}</div>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" md="6">
                                        <div class="candidate-box tw-bg-square-white tw-rounded tw-p-4" :class="{ 'candidate-box-faded': selectedCandidatesAmount !== 50 }" @click="selectedCandidatesAmount = 50">
                                            <h2 class="tw-text-3xl tw-text-center tw-text-square-blue tw-mt-3">50 {{ $t('subtitle.candidates_p') }}</h2>
                                            <div class="tw-flex tw-flex-col tw-items-center tw-my-20">
                                                <div class="tw-flex tw-relative">
                                                    <div class="tw-font-bold tw-text-5xl tw--ml-6">1699</div>
                                                    <div class="tw-mt-4 tw-absolute tw-text-square-grey" style="left: 82px; top: -30px; width: 86px;">PLN netto</div>
                                                </div>
                                                <div class="tw-text-sm tw-text-square-grey-light tw--ml-3 tw-mt-2">{{ $t('subtitle.one_time_payment') }}</div>
                                            </div>
                                            <v-btn depressed class="tw-text-white tw-w-full tw-mt-4 tw-mb-2" :disabled="selectedCandidatesAmount !== 50" color="primary">
                                                {{ selectedCandidatesAmount !== 50 ? $t('subtitle.choose_plan') : $t('subtitle.chosen_plan') }}
                                            </v-btn>
                                            <div class="tw-text-center tw-text-square-grey tw-text-xs">{{ $t('subtitle.price_contains_vat_tax') }}</div>
                                        </div>
                                    </v-col>
                                </v-row>
                            </template>
                        </div>
                    </v-col>

                    <v-col cols="12" md="6">
                        <div class="tw-h-full">
                            <div class="tw-flex tw-flex-col stripe tw-h-full">
                                <form id="payment-form" class="stripe tw-h-full tw-flex tw-flex-col">

                                    <h4>{{ $t('subtitle.pay_by_card') }}</h4>
                                    <h3 class="tw-font-normal tw-mb-6">{{ $t('subtitle.service_activated_immediately') }}</h3>
                                    <template v-if="!paymentSuccess && !paymentError">
                                        <div class="tw-py-4" style="border-bottom: 1px solid #e2e8f0; border-top: 1px solid #e2e8f0">
                                            <div v-if="type === 'subscription'" class="tw-flex tw-items-baseline tw-mx-2 tw-text-base">
                                                <div class="tw-font-medium">{{ $t('subtitle.premium_account') }}</div>
                                                <div class="tw-mx-4" style="flex: 1; border-bottom: 2px dotted #ccc"></div>
                                                <div class="tw-ml-auto tw-font-semibold">{{ this.price }},00zł / {{ $t('subtitle.month') }}</div>
                                            </div>
                                            <div v-else class="tw-flex tw-items-baseline tw-mx-2 tw-text-base">
                                                <div class="tw-font-medium">{{ selectedCandidatesAmount + ' ' + $t('subtitle.extra_candidates')}} </div>
                                                <div class="tw-mx-4" style="flex: 1; border-bottom: 2px dotted #ccc"></div>
                                                <div class="tw-ml-auto tw-font-semibold">
                                                    {{ selectedCandidatesAmount === 10 ? tenCandidatesPrice : selectedCandidatesAmount === 20 ? twentyCandidatesPrice : fiftyCandidatesPrice }},00zł
                                                </div>
                                            </div>
                                        </div>

                                        <div id="card-element" ref="card"></div>

                                        <div id="card-errors" role="alert"></div>

                                        <div class="tw-mt-4">
                                            <v-checkbox
                                                    color="primary"
                                                    v-model="form.invoice_included"
                                                    :label="$t('subtitle.want_to_receive_invoice')"
                                            />
                                            <template v-if="form.invoice_included">
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-text-field
                                                                dense
                                                                height="44"
                                                                :label="$t('field.full_company_name')"
                                                                v-model="form.company_name"
                                                                :error-messages="$page.errors.company_name"
                                                                hide-details
                                                                outlined autocomplete="new-password"
                                                        />
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-text-field
                                                                dense
                                                                height="44"
                                                                :label="$t('field.tax_id')"
                                                                v-model="form.tax_id"
                                                                :error-messages="$page.errors.tax_id"
                                                                hide-details
                                                                outlined autocomplete="new-password"
                                                        />
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" md="4">
                                                        <v-text-field
                                                                dense
                                                                height="44"
                                                                :label="$t('field.street_and_number')"
                                                                v-model="form.company_street"
                                                                :error-messages="$page.errors.company_street"
                                                                hide-details
                                                                outlined autocomplete="new-password"
                                                        />
                                                    </v-col>
                                                    <v-col cols="12" md="4">
                                                        <v-text-field
                                                                dense
                                                                height="44"
                                                                :label="$t('field.postal_code')"
                                                                v-model="form.company_postal_code"
                                                                :error-messages="$page.errors.company_postal_code"
                                                                hide-details
                                                                outlined autocomplete="new-password"
                                                        />
                                                    </v-col>
                                                    <v-col cols="12" md="4">
                                                        <v-text-field
                                                                dense
                                                                height="44"
                                                                :label="$t('field.city')"
                                                                v-model="form.company_city"
                                                                :error-messages="$page.errors.company_city"
                                                                hide-details
                                                                outlined autocomplete="new-password"
                                                        />
                                                    </v-col>
                                                </v-row>
                                            </template>
                                        </div>

                                        <hr class="tw-my-3">

                                        <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-3">
                                            <div class="tw-flex tw-items-center">
                                                <v-btn
                                                        class="tw-full tw-w-1/2 tw-mx-auto"
                                                        color="primary"
                                                        @click="confirm"
                                                        :loading="loadingPayment"
                                                >
                                                    {{ $t('subtitle.i_pay') }}
                                                </v-btn>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-else-if="!paymentError">
                                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-green">
                                            <v-icon style="font-size: 144px;" color="success">mdi-check-circle-outline</v-icon>
                                            <div class="tw-font-semibold text-center">
                                                {{ $t('message.payment_is_being_processed') }}
                                            </div>

                                            <div class="tw-text-center">{{ $t('message.redirect_incoming') }}</div>
                                        </div>
                                    </template>

                                    <template v-if="paymentError">
                                        <div class="tw-flex tw-items-center tw-flex-col tw-flex-grow tw-text-square-red">
                                            <v-icon style="font-size: 144px;" color="error">mdi-close-circle-outline</v-icon>
                                            <div class="tw-text-center tw-font-semibold">
                                                {{ $t('message.payment_error') }}
                                            </div>

                                            <div class="tw-text-center">{{ $t('message.redirect_incoming') }}</div>
                                        </div>
                                    </template>

                                    <hr class="tw-my-3">

                                    <div class="tw-text-square-grey tw-text-justify tw-text-xs">
                                        <div v-if="type === 'subscription'">
                                            {{ $t('message.subscription_payment_disclaimer') }}
                                        </div>
                                        <div v-else class="tw-text-center">
                                            {{ $t('message.payment_taken_once') }}
                                            <br>
                                            {{ $t('message.candidate_expiration_term') }}
                                        </div>
                                        <div class="tw-flex tw-flex-col">
                                            <div class="tw-text-center">
                                                {{ $t('message.payments_handled_by') }} <a target="_blank" href="https://stripe.com">Stripe</a>.
                                            </div>
                                            <v-img class="tw-mx-auto tw-mt-2" max-width="100%" :src="require('@images/powered_by_stripe.png')"></v-img>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-card-text>

        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'
    let stripe = Stripe(process.env.MIX_STRIPE_KEY)
    let elements = stripe.elements()
    let card = undefined

    export default {
        name: 'ProceedPaymentModal',
        data() {
            return {
                dialog: false,
                type: null,
                price: 99,
                loadingPayment: false,
                paymentSuccess: false,
                paymentError: false,
                modalTitle: this.$t('message.default_payment_modal_title'),
                form: {
                    company_name: '',
                    company_postal_code: '',
                    company_city: '',
                    company_street: '',
                    tax_id: '',
                    invoice_included: false
                },
                subscriptionAdvantages: this.$t('subscription_advantages'),
                tenCandidatesPrice: 499,
                twentyCandidatesPrice: 799,
                fiftyCandidatesPrice: 1699,
                selectedCandidatesAmount: 10,
            }
        },
        created() {
            bus.$on('pay-for-candidates', this.payForCandidatesHandler)
            bus.$on('pay-for-subscription', this.payForSubscriptionHandler)
        },
        beforeDestroy() {
            bus.$off('pay-for-subscription', this.payForSubscriptionHandler)
            bus.$off('pay-for-candidates', this.payForCandidatesHandler)
        },
        methods: {
            payForSubscriptionHandler(user, modalTitle) {
                this.type = 'subscription'

                if (modalTitle) {
                    this.modalTitle = modalTitle
                }

                this.price = 99

                this.dialog = true

                this.assignForm(user)

                this.initializeForm()
            },
            payForCandidatesHandler(user, modalTitle) {
                this.type = 'candidates'

                if (modalTitle) {
                    this.modalTitle = modalTitle
                }

                this.dialog = true

                this.assignForm(user)

                this.initializeForm()
            },
            assignForm(user) {
                this.form = {
                    company_name: user.company_name,
                    company_postal_code: user.company_postal_code,
                    company_city: user.company_city,
                    company_street: user.company_street,
                    tax_id: user.tax_id,
                    invoice_included: false
                }
            },
            initializeForm() {
                const style = {
                    base: {
                        color: "#32325d",
                        fontFamily: 'Arial, sans-serif',
                        fontSmoothing: "antialiased",
                        fontSize: "16px",
                        "::placeholder": {
                            color: "#32325d"
                        }
                    },
                    invalid: {
                        fontFamily: 'Arial, sans-serif',
                        color: "#fa755a",
                        iconColor: "#fa755a"
                    }
                }

                if (typeof card === 'undefined') {
                    card = elements.create("card", { style: style, hidePostalCode: true })

                }

                this.$nextTick ( () => {
                    card.mount(this.$refs.card)
                })

                card.on('change', ({error}) => {
                    const displayError = document.getElementById('card-errors');
                    if (error) {
                        displayError.textContent = error.message;
                    } else {
                        displayError.textContent = '';
                    }
                });
            },
            confirm() {
                if (this.type === 'candidates') {
                    if (this.selectedCandidatesAmount === 10) {
                        this.createTenProductPayment()
                    } else if (this.selectedCandidatesAmount === 20) {
                        this.createTwentyProductPayment()
                    } else {
                        this.createFiftyProductPayment()
                    }
                } else if (this.type === 'subscription') {
                    this.createSubscriptionPayment()
                }
            },
            createTenProductPayment() {
                this.loadingPayment = true
                axios.post(route('get-product-payment-ten-candidates'), this.form).then( response => {
                    stripe.confirmCardPayment(response.data.client_secret, {
                        payment_method: {
                            card: card,
                        }
                    }).then(result =>  {
                        if (result.error) {
                            this.displayError()
                        } else {
                            if (result.paymentIntent.status === 'succeeded') {
                                this.succeedTransaction()
                            }
                        }
                    });
                })
            },
            createTwentyProductPayment() {
                this.loadingPayment = true
                axios.post(route('get-product-payment-twenty-candidates'), this.form).then( response => {
                    stripe.confirmCardPayment(response.data.client_secret, {
                        payment_method: {
                            card: card,
                        }
                    }).then(result =>  {
                        if (result.error) {
                            this.displayError()
                        } else {
                            if (result.paymentIntent.status === 'succeeded') {
                                this.succeedTransaction()
                            }
                        }
                    });
                })
            },
            createFiftyProductPayment() {
                this.loadingPayment = true
                axios.post(route('get-product-payment-fifty-candidates'), this.form).then( response => {
                    stripe.confirmCardPayment(response.data.client_secret, {
                        payment_method: {
                            card: card,
                        }
                    }).then(result =>  {
                        if (result.error) {
                            this.displayError()
                        } else {
                            if (result.paymentIntent.status === 'succeeded') {
                                this.succeedTransaction()
                            }
                        }
                    });
                })
            },
            createSubscriptionPayment() {
                this.loadingPayment = true
                return stripe.createPaymentMethod({
                    type: 'card',
                    card: card
                }).then( response => {
                    if (response.error) {
                        this.displayError()
                    } else {
                        let form = JSON.parse(JSON.stringify(this.form))
                        form.payment_method_id = response.paymentMethod.id

                        axios.post(route('get-subscription-payment'), form).then(subscriptionResponse => {
                            if (subscriptionResponse.data.error) {
                                this.displayError()
                            } else {
                                if (subscriptionResponse.data.status === 'incomplete') {
                                    stripe.confirmCardPayment(subscriptionResponse.data.latest_invoice.payment_intent.client_secret).then(confirmationResult =>  {
                                        if (confirmationResult.error) {
                                            this.displayError()
                                        } else {
                                            this.succeedTransaction()
                                        }
                                    });
                                } else {
                                    this.succeedTransaction()
                                }
                            }
                        })
                    }
                })
            },
            reject() {
                this.dialog = false
            },
            displayError() {
                this.paymentError = true
                this.loadingPayment = false
                setTimeout( () => {
                    this.$inertia.visit(route('dashboard-payments-settings'))
                }, 8000)
            },
            succeedTransaction() {
                this.loadingPayment = false
                this.paymentSuccess = true
                setTimeout(() => {
                    this.$inertia.visit(route('dashboard-payments-settings'))
                }, 5000)
            }
        }
    }
</script>

<style lang="scss">
    .candidate-box-faded {
        opacity: 0.5;
        border: 1px solid #e2e2ea !important;
    }
    .candidate-box {
        transition: 0.5s;
        user-select: none;
        border: 1px solid #336ecc;
        border-radius: 8px;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .stripe {
        form {
            min-width: 310px !important
        }
    }
</style>
