<template>
    <v-dialog scrollable v-model="dialog" max-width="800px" v-if="Object.keys(ad).length">
        <v-card>
            <v-card-title>
                <span class="headline">{{ $t('subtitle.request_candidate_for_ad') }}</span>
            </v-card-title>
            <v-card-text>
                <div class="tw-flex tw-flex-col">
                    <div class="tw-flex tw-mb-4 tw-py-2">
                        <v-avatar
                                tile
                                size="80"
                                color="warning"
                                class="tw-text-white tw-text-2xl tw-font-bold tw-rounded"
                        >
                            {{ ad.title | initials }}
                        </v-avatar>
                        <div class="tw-flex tw-flex-col tw-ml-4">
                            <div class="tw-font-bold tw-text-xl">{{ ad.title }}</div>
                            <div>Dodane {{ ad.created_at | moment('D MMMM YYYY') }}</div>
                        </div>
                    </div>
                    <v-autocomplete label="Wybierz kandydata" :items="candidates" item-text="title" item-value="id" v-model="candidate"></v-autocomplete>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">
                    {{ $t('subtitle.cancel') }}
                </v-btn>
                <v-btn color="primary" @click="proposeCandidate">
                    {{ $t('subtitle.propose_candidate') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'ProposeCandidate',
        data() {
            return {
                dialog: false,
                ad: {},
                candidates: [],
                candidate: {}
            }
        },
        created() {
            bus.$on('propose-candidate', (ad, candidates) => {
                this.ad = ad
                this.candidates = candidates
                this.dialog = true
            })
        },
        methods: {
            proposeCandidate() {
                this.$inertia.post(route('propose-candidate', this.ad.id), { candidate_id: this.candidate }).then( (response) => {
                    if (typeof this.$page.errors.candidate_id === 'undefined') {
                        bus.$emit('snackbar-success', this.$t('message.candidate_proposed'))
                    } else {
                        bus.$emit('snackbar-error', this.$t('message.candidate_already_proposed'))
                    }

                    this.dialog = false
                    this.candidate = {}
                })
            }
        }
    }
</script>
