<template>
    <v-dialog scrollable v-model="dialog" max-width="800px" v-if="Object.keys(candidate).length">
        <v-card>
            <v-card-title>
                <span class="headline tw-capitalize">{{ $t('subtitle.ask_for_candidate') }}</span>
            </v-card-title>
            <v-card-text>
                <div class="tw-flex tw-flex-col">
                    <div class="tw-flex tw-mb-4 tw-py-2">
                        <v-avatar
                            tile
                            size="80"
                            color="primary"
                            class="tw-text-white tw-text-2xl tw-font-bold tw-rounded"
                        >
                            {{ candidate.title | initials }}
                        </v-avatar>
                        <div class="tw-flex tw-flex-col tw-ml-4">
                            <div class="tw-font-bold tw-text-xl">{{ candidate.title }}</div>
                            <div>{{ $t('subtitle.created') }} {{ candidate.created_at | moment('D MMMM YYYY') }}</div>
                        </div>
                    </div>
                    <div>
                        <v-textarea
                            solo
                            class="tw-text-display"
                            spellcheck="false"
                            :label="$t('subtitle.type_message')"
                            v-model="text"
                        />
                    </div>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">
                    {{ $t('subtitle.cancel') }}
                </v-btn>

                <v-btn color="primary" @click="startConversation">
                    {{ $t('subtitle.send') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'TalkToCandidate',
        data() {
            return {
                dialog: false,
                ad: {},
                candidate: {},
                text: ''
            }
        },
        created() {
            bus.$on('talk-to-candidate', (ad, candidate) => {
                this.ad = ad
                this.candidate = candidate
                this.dialog = true
            })
        },
        methods: {
            startConversation() {
                const request = {
                    ad_id: this.ad.id,
                    candidate_id: this.candidate.id,
                    text: this.text
                }

                this.$inertia.post(route('create-conversation'), request).then( response => {
                    if (Object.keys(this.$page.errors).length > 0) {
                        bus.$emit('snackbar-error', this.$t('message.conversation_start_failed'))
                    } else {
                        bus.$emit('snackbar-success', this.$t('message.conversation_started'))
                    }

                    this.text = ''
                    this.candidate = {}
                    this.ad = {}
                    this.dialog = false
                })
            }
        }
    }
</script>
