<template>
    <layout>
        <div class="tw-flex">
            <h2>Users</h2>
            <v-dialog scrollable v-model="dialog" max-width="800px">
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" class="tw-flex">
                                    <v-text-field
                                        v-model="editedItem.email"
                                        :error-messages="$page.errors.email"
                                        label="Email"
                                        autocomplete="new-password"
                                        dense outlined
                                    />
                                </v-col>
                                <v-col cols="12" class="tw-flex">
                                    <v-text-field
                                        v-model="editedItem.name"
                                        :error-messages="$page.errors.name"
                                        label="Nazwa"
                                        autocomplete="new-password"
                                        dense outlined
                                    />
                                </v-col>
                                <v-col cols="12" class="tw-flex">
                                    <v-autocomplete
                                        v-model="editedItem.role"
                                        :items="['agency', 'company']"
                                        :error-messages="$page.errors.role"
                                        label="Typ Konta"
                                        autocomplete="new-password"
                                        outlined disabled dense
                                    />
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        <v-btn color="primary" @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <div class="tw-w-full tw-mt-6">
            <div class="tw-mb-6 tw-mt-2 tw-w-full">
                <v-text-field class="search-input" v-model="search" prepend-inner-icon="mdi-magnify" placeholder="Search by name, email or account type."
                              dense rounded outlined hide-details></v-text-field>
            </div>
            <v-data-table :search="search" :headers="headers" :items="users" :items-per-page="itemsPerPage" :page.sync="page"
                          class="main-table tw-text-left" hide-default-footer>
                <template v-slot:item.name="{ item }">
                    {{ item.name }}
                    <span v-if="item.is_new" class="tw-text-2xs tw-text-square-red">NEW</span>
                </template>
                <template v-slot:item.created_at="{ item }">
                    {{ item.created_at | moment('D MMMM YYYY') }}
                </template>
                <template v-slot:item.role="{ item }">
                    {{ item.role === 'agency' ? 'Agencja' : 'Firma' }}
                </template>
                <template v-slot:item.action="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-icon v-on="on" small class="tw-mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                        </template>
                        <span>Edytuj</span>
                    </v-tooltip>

<!--                    <v-tooltip bottom>-->
<!--                        <template v-slot:activator="{ on }">-->
<!--                            <v-icon v-on="on" small @click="deleteItem(item)">mdi-delete-outline</v-icon>-->
<!--                        </template>-->
<!--                        <span>Delete</span>-->
<!--                    </v-tooltip>-->
                </template>
            </v-data-table>
            <v-pagination v-model="page" :length="Math.ceil(users.length/10)" class="tw-mt-6 tw-flex tw-justify-start"></v-pagination>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'Users',
        components: { Layout },
        props: {
            users: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                dialog: false,
                headers: [
                    { text: 'Email', value: 'email', align: 'left', sortable: false, width: '20%' },
                    { text: 'Nazwa', value: 'name', sortable: false },
                    { text: 'Typ Konta', value: 'role', sortable: false },
                    { text: 'Stworzony', value: 'created_at' },
                    { text: 'Akcje', value: 'action', sortable: false, width: '5%'},
                ],
                defaultItem: {
                    name: '',
                    email: '',
                    type: 'agency'
                },
                editedItem: {
                    name: '',
                    email: '',
                    type: 'agency'
                },
                page: 1,
                itemsPerPage: 10,
                editedIndex: -1,
                search: '',
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Nowy Użytkownik' : 'Edytuj Użytkownika'
            },
        },
        methods: {
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            editItem(item) {
                this.editedIndex = this.users.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.$page.errors = {}
                this.dialog = true
            },
            save() {
                if (this.editedIndex > -1) {
                    this.$inertia.patch(route('update-user', this.editedItem.id), this.editedItem).then(response => {
                        if (!Object.keys(this.$page.errors).length) {
                            bus.$emit('snackbar-success', 'Użytkownik został zaktualizowany.')
                            this.close()
                        }
                    })
                }
            },
        }
    }
</script>
