<template>
    <div class="tw-bg-white tw-h-full tw-py-4 tw-px-6 tw-rounded-lg tw-relative" style="overflow-y: auto; max-height: 800px;" >
        <h1>{{ $t('title.messages') }}</h1>
        <div class="tw-absolute tw-cursor-pointer" style="right: 18px; top: 18px;" @click="refreshMessages"><v-icon>mdi-refresh</v-icon></div>
        <template v-if="conversations.length > 0">
            <div
                v-for="conversation in sortedConversations"
                @click="moveToConversation(conversation)"
                class="message tw-relative tw-flex tw-my-4 tw-px-4 tw-py-3"
                :class="{ 'conversation-active' : currentConversationId === conversation.id }"
                style="background: rgba(0, 0, 0, 0.03)"
                :style="isConversationUnread(conversation) ? 'background: rgba(0, 0, 0, 0.1)' : ''"
            >
                <div class="tw-font-semibold tw-uppercase tw-text-square-grey tw-text-2xs tw-mr-3" style="position: absolute; right: 0; top: 2px;"
                     v-if="isConversationUnread(conversation)"
                >
                    {{ $t('subtitle.unread') }}
                </div>
                <div class="time" style="right: 12px; top: 16px;" v-if="conversation.last_message.length">
                    <strong>
                        {{ conversation.last_message[0].created_at | moment('HH:mm') }}
                    </strong>,
                    {{ conversation.last_message[0].created_at | moment('D MMM') }}
                </div>
                <div class="tw-mr-2">
                    <v-avatar size="54" color="secondary" class="tw-text-square-white tw-text-xl tw-font-bold tw-mt-1">{{ conversation.candidate.title | initials }}</v-avatar>
                </div>
                <div class="tw-flex tw-flex-col">
                    <div class="tw-flex">
                        <div class="sender tw-text-semibold tw-mt-1">{{ conversation.starter.id === userId ? conversation.candidate.owner.name : conversation.starter.name}}</div>
                    </div>
                    <div class="message-title tw-font-display tw-font-semibold tw--mt-1">{{ conversation.starter.id === userId ? conversation.candidate.title : conversation.ad ? conversation.ad.title : ''}}</div>
                    <div class="text tw-text-square-grey-darker tw-font-display tw-mt-1">{{ conversation.starter.id === userId ? ( conversation.ad ? conversation.ad.title : '') : conversation.candidate.title }}</div>
                    <div class="message-content tw-text-square-grey tw-font-display tw-text-sm tw-font-normal tw-leading-tight tw--mt-1" v-if="conversation.last_message.length">
                        {{ conversation.last_message[0].text | truncate(100) }}
                    </div>
                </div>
            </div>
        </template>
        <div v-else class="code grey-bg">
            {{ $t('message.no_started_conversations') }}
        </div>
    </div>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'MessageList',
        props: {
            conversations: {
                type: Array,
                default: () => []
            },
            currentConversationId: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
            }
        },
        methods: {
            isConversationUnread(conversation) {
                return !conversation.is_admin_read
            },
            refreshMessages() {
                this.$inertia.reload().then( response => {
                    bus.$emit('snackbar-success', this.$t('message.messages_were_refreshed') )
                })
            },
            moveToConversation(conversation) {
                this.$inertia.visit(route('dashboard-admin-conversation', conversation.id))
            }
        },
        computed: {
            sortedConversations() {
                return _.orderBy(this.conversations, conversation => {
                    if (conversation.last_message.length) {
                        return conversation.last_message[0].created_at
                    }
                }, ['desc'])
            },
            userId() {
                return this.$page.auth.user.id
            }
        }
    }
</script>
<style lang="scss">
    .message {
        @apply tw-rounded-lg tw-cursor-pointer;
        transition: 0.1s;
        &:hover, &.conversation-active {
            background: rgba(0, 0, 0, 0.2) !important;
            /*.sender, .message-title, .text, .time, .message-content {
                @apply tw-text-square-white #{!important};
            }*/
        }
        .sender {
            transition: 0.1s;
            @apply tw-text-square-cyan;
        }
        .message-title {
            transition: 0.1s;
            @apply tw-text-square-grey-darkest;
        }
        .text {
            transition: 0.1s;
            @apply tw-text-square-grey-dark;
        }
        .time {
            @apply tw-absolute tw-text-sm tw-text-square-grey;
        }
    }
</style>
