<template>
    <layout>
        <v-row>
            <v-col cols="12" sm="5">
                <message-list :conversations="conversations" :current-conversation-id="conversation.id">
                </message-list>
            </v-col>
            <v-col cols="12" sm="7">
                <conversation :conversation="conversation" v-if="Object.keys(conversation).length > 0">
                </conversation>
                <div v-else class="code tw-h-full">
                    {{ $t('message.no_selected_conversation') }}
                </div>
            </v-col>
        </v-row>
    </layout>
</template>

<script>
    import Conversation from './Conversation'
    import MessageList from './MessageList'
    import Layout from '@/Shared/Layout'

    export default {
        name: 'Messages',
        components: { Layout, MessageList, Conversation },
        props: {
            conversations: {
                type: Array,
                default: () => []
            },
            conversation: {
                type: Object,
                default: () => {}
            }
        },
        data() {
            return {

            }
        }
    }
</script>
