<template>
    <layout>
        <div class="tw-flex">
            <h2>{{ $t('title.all_ads') }}</h2>
        </div>
        <div class="tw-w-full tw-mt-6">

            <div class="tw-flex tw-text-sm tw-mb-6 tw--mt-4">
                <div @click="redirectTo($route('dashboard-admin-ads'))"
                     class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-text-square-blue tw-cursor-pointer hover:tw-underline"
                     :class="{ 'tw-font-bold': adsType === 'moderation' }">
                    <span class="tw-capitalize">{{ $t('subtitle.to_moderation') }} </span> ({{ moderationAdsAmount }})
                </div>
                <div @click="redirectTo($route('dashboard-admin-ads-active'))"
                     class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline tw-ml-6"
                     :class="{ 'tw-font-bold': adsType === 'active' }">
                    <span class="tw-capitalize">{{ $t('subtitle.active_n') }} </span> ({{ activeAdsAmount }})
                </div>
                <div @click="redirectTo($route('dashboard-admin-ads-inactive'))"
                     class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-capitalize tw-ml-6"
                     :class="{ 'tw-font-bold': adsType === 'inactive' }">
                    {{ $t('subtitle.inactive_n') }} ({{ inactiveAdsAmount }})
                </div>
            </div>

            <div class="tw-mb-6 tw-mt-2 tw-w-full">
                <v-text-field class="search-input" v-model="search" prepend-inner-icon="mdi-magnify" :placeholder="$t('subtitle.find_ad')"
                              dense rounded outlined hide-details></v-text-field>
            </div>

            <div v-if="ads.length === 0" class="code">
                {{ $t('subtitle.no_current_offers') }} {{ adsType === 'active' ? $t('subtitle.active_p') : adsType === 'moderation' ? $t('subtitle.to_moderation') : $t('subtitle.inactive_p') }}.
            </div>

            <div class="ad-boxes tw-flex tw-flex-col">
                <div v-for="(ad, key) in searchedAds"
                     class="box tw-flex-col"
                     :style=" adsType === 'active' ? 'border-left: 4px solid #82c43c !important' : adsType === 'moderation' ? 'border-left: 4px solid #0062ff !important' : 'border-left: 4px solid #696974 !important'"
                >
                    <div class="tw-flex tw-flex-col sm:tw-flex-row">
                        <h2 class="tw-cursor-pointer hover:tw-underline tw-text-lg" @click="redirectToAd(ad.id)">{{ ad.title }}</h2>
                        <div class="tw-flex-col sm:tw-flex-row sm:tw-ml-auto tw-flex">
                            <div v-if="adsType === 'active'">
                                <v-btn small text color="primary" class="tw-text-black tw-mr-2" @click="deactivateAd(ad.id)">
                                    {{ $t('subtitle.stop_publication') }}
                                </v-btn>
                            </div>

                            <div v-if="(ad.status !== 'unapproved' && ad.status !== 'discarded') && adsType === 'inactive'">
                                <v-btn @click="renewAd(ad)" class="tw-text-black tw-mr-2" color="primary" small text>
                                    {{ $t('subtitle.restore') }}
                                </v-btn>
                            </div>

                            <template v-if="ad.status === 'unapproved'">
                                <div>
                                    <v-btn small text color="error" class="tw-text-black tw-mr-2" @click="discardAd(ad)">{{ $t('subtitle.refuse') }}</v-btn>
                                </div>

                                <div>
                                    <v-btn small text color="success" class="tw-text-black tw-mr-2" @click="acceptAd(ad)">{{ $t('subtitle.accept') }}</v-btn>
                                </div>
                            </template>

                            <div>
                                <v-btn @click="deleteAd(ad)" small color="error" class="tw-mr-2">
                                    {{ $t('subtitle.delete') }}
                                </v-btn>
                            </div>

                            <div v-if="adsType === 'inactive'">
                                <v-btn small color="primary" @click="editItem(ad)">{{ $t('subtitle.edit') }}</v-btn>
                            </div>
                        </div>
                    </div>
                    <div class="tw-flex tw-mt-1">
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.created') }}</div>
                            <div class="value">{{ ad.created_at | moment('D MMMM YYYY') }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.salary_range') }}</div>
                            <div class="value">{{ ad.salary_min }} - {{ ad.salary_max }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.experience') }}</div>
                            <div class="value">{{ ad.experience_min }} lat(a)</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.category') }}</div>
                            <div class="value">{{ ad.job_type }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.city_or_country') }}</div>
                            <div class="value">{{ ad.region }}</div>
                        </div>
                    </div>
                    <hr class="tw-my-2">

                    <h2 class="tw-text-base">{{ $t('title.candidates') }}:</h2>

                    <div class="tw-flex">
                        <div @click="ad.candidates_selected_type = 'all'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'all' }">
                            <span class="tw-capitalize">{{ $t('subtitle.all') }} </span> ({{ ad.candidates.length }})
                        </div>
                        <div @click="ad.candidates_selected_type = 'proceeded'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'proceeded' }">
                            <span class="tw-capitalize">{{ $t('subtitle.proceeded') }} </span>({{ candidatesTypeLength(ad.candidates, 'proceeded') }})
                        </div>
                        <div @click="ad.candidates_selected_type = 'rejected'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': ad.candidates_selected_type === 'rejected' }">
                            <span class="tw-capitalize">{{ $t('subtitle.refused_p') }} </span> ({{ candidatesTypeLength(ad.candidates, 'rejected') }})
                        </div>
                    </div>
                    <div class="tw-flex tw-flex-col" v-if="ad.candidates.length">
                        <div
                            v-for="candidate in ad.candidates"
                            v-if="candidate.pivot.status === ad.candidates_selected_type || ad.candidates_selected_type === 'all'"
                            class="tw-w-full tw-relative tw-rounded tw-flex tw-flex-col tw-px-3 tw-py-2 tw-my-2"
                            style="background: rgba(0, 0, 0, 0.1)"
                            :style=" candidate.pivot.status === 'requested' ? 'border: 3px dashed red' : '' "
                        >
                            <div class="tw-text-lg tw-font-medium tw-cursor-pointer tw-text-square-blue hover:tw-underline" @click="redirectToCandidate(candidate.id)">{{ candidate.title }}</div>
                            <div class="tw-text-square-grey-dark">
                                <strong class="tw-capitalize">{{ $t('subtitle.reported') }}: </strong>{{ candidate.pivot.created_at | moment('D MMMM YYYY') }}
                            </div>
                            <div class="tw-text-square-grey-dark">
                                <span class="tw-font-semibold tw-mr-1 tw-capitalize">{{ $t('subtitle.status') }}: </span> {{ candidate.pivot.status | candidateAdStatus }}
                            </div>
                            <div class="tw-relative sm:tw-absolute tw-flex" style="right: 4px; top: 6px;">
                                <template v-if="candidate.pivot.status === 'proceeded'">
                                    <v-btn small disabled color="primary">{{ $t('subtitle.conversation_started') }}</v-btn>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div v-else class="code">
                        {{ $t('subtitle.no_candidates_for_ad') }}.
                    </div>
                    <div class="tw-flex">
                        <div
                            class="tw-ml-auto tw-text-sm tw-text-white tw-px-4 tw-py-1 tw-rounded tw-text-right"
                            :class="adsType === 'active' ? 'tw-bg-square-green' : 'tw-bg-square-grey-light'"
                        >
                            <template v-if="ad.remaining_active_days > 0">
                                <span class="tw-capitalize">{{ $t('subtitle.remained') }}</span> {{ ad.remaining_active_days }} {{ $t('subtitle.days_active') }}
                            </template>
                            <template v-else-if="ad.status === 'unapproved'">
                                {{ $t('subtitle.waiting_for_acceptation') }}
                            </template>
                            <template v-else-if="ad.status === 'discarded'">
                                <span class="tw-capitalize">{{ $t('subtitle.refused') }}</span>: {{ ad.discard_reason }}
                            </template>
                            <template v-else>
                                <span class="tw-capitalize">{{ $t('subtitle.inactive_m') }}</span>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <add-new-ad :regions="regions" :job-types="jobTypes"/>
        <talk-to-candidate />
        <discard-ad-reason-modal/>

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import AddNewAd from '../../DashboardAds/AddNewAd'
    import TalkToCandidate from "../../TalkToCandidate";
    import DiscardAdReasonModal from "./DiscardAdReasonModal";

    export default {
        name: 'Ads',
        components: { DiscardAdReasonModal, Layout, AddNewAd, TalkToCandidate },
        props: {
            ads: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            regions: {
                type: Array,
                default: () => []
            },
            activeAdsAmount: {
                type: Number,
                default: 0
            },
            inactiveAdsAmount: {
                type: Number,
                default: 0
            },
            moderationAdsAmount: {
                type: Number,
                default: 0,
            },
            adsType: {
                type: String,
                default: 'moderation'
            }
        },
        data() {
            return {
                searchedAds: this.ads,
                search: '',
            }
        },
        mounted() {
            const url = new URL(window.location.href)
            const createNew = url.searchParams.get('create-new')

            if (createNew === 'ad') {
                this.openNewAdWizard()
            }
        },
        watch: {
            search(text) {
                this.searchedAds = this.ads.filter( ad => {
                    return ad.title.toLowerCase().includes(text.toLowerCase())
                })
            }
        },
        methods: {
            acceptAd(ad) {
                this.$inertia.patch(route('admin-accept-ad', ad.id))
            },
            discardAd(ad) {
                bus.$emit('discard-ad', ad)
            },
            redirectTo(route) {
                this.$inertia.visit(route)
            },
            openNewAdWizard() {
                bus.$emit('open-create-ad-wizard')
            },
            deleteAd(adId) {
                this.$confirm(this.$t('message.delete_ad')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.delete(route('delete-ad', adId))
                    }
                })
            },
            deactivateAd(adId) {
                this.$confirm(this.$t('message.deactivate_ad')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.patch(route('deactivate-ad', adId))
                    }
                })
            },
            renewAd(adId) {
                this.$inertia.patch(route('renew-ad', adId))
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            editItem(item) {
                bus.$emit('open-edit-ad-wizard', item)
            },
            candidatesTypeLength(candidates, type) {
                return candidates.filter( candidate => candidate.pivot.status === type).length
            }
        }
    }
</script>

<style lang="scss">
    .ad-boxes {
        .box {
            @apply tw-flex tw-px-4 tw-pb-2 tw-pt-2 tw-my-2 tw-bg-white tw-rounded;

            .cell {
                @apply tw-flex tw-flex-col tw-font-display tw-px-4 tw-flex-wrap;

                &:first-child {
                    @apply tw-pl-0;
                }

                .desc {
                    @apply tw-text-3xs tw-text-square-grey tw-uppercase tw-font-semibold;
                }

                .value {
                    @apply tw-text-sm tw-text-square-black;
                }
            }
        }
    }
</style>
