<template>
    <v-dialog scrollable v-model="dialog" max-width="800px" v-if="Object.keys(candidate).length">
        <v-card>
            <v-card-title>
                <span class="headline">{{ $t('message.reason_to_refuse_candidate') }}</span>
            </v-card-title>
            <v-card-text>
                <div class="tw-flex tw-flex-col">
                    <div class="tw-flex tw-mb-4 tw-py-2">
                        <v-avatar
                            tile
                            size="80"
                            color="primary"
                            class="tw-text-white tw-text-2xl tw-font-bold tw-rounded"
                        >
                            {{ candidate.title | initials }}
                        </v-avatar>
                        <div class="tw-flex tw-flex-col tw-ml-4">
                            <div class="tw-font-bold tw-text-xl">{{ candidate.title }}</div>
                        </div>
                    </div>
                    <div>
                        <v-textarea
                            solo
                            class="tw-text-display"
                            spellcheck="false"
                            :label="$t('subtitle.discard_reason')"
                            v-model="discardReason"
                            :error-messages="$page.errors.discard_reason"
                        />
                    </div>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">{{ $t('subtitle.cancel') }}</v-btn>
                <v-btn color="primary" @click="reject">{{ $t('subtitle.refuse') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'DiscardCandidateReasonModal',
        data() {
            return {
                dialog: false,
                discardReason: '',
                candidate: {}
            }
        },
        created() {
            bus.$on('discard-candidate', (candidate) => {
                this.candidate = candidate
                this.dialog = true
            })
        },
        methods: {
            reject() {
                this.$inertia.patch(route('admin-discard-candidate', this.candidate.id), { discard_reason: this.discardReason }).then( response => {
                    if (Object.keys(this.$page.errors).length <= 0) {
                        this.discardReason = ''
                        this.candidate = {}
                        this.dialog = false
                    }
                })
            }
        }
    }
</script>
