<template>
    <v-dialog v-model="newCandidateOpen" scrollable persistent max-width="820px">
        <v-card>
            <v-card-title>
                <div class="tw-text-square-black tw-text-xs sm:tw-text-sm tw--mt-1 tw-font-medium tw-leading-tight tw-break-normal">
                    {{ $t('message.candidate_disclaimer') }}
                </div>
                <div class="tw-text-square-grey tw-text-2xs sm:tw-text-xs tw-font-normal tw-leading-none">
                    {{ $t('message.candidate_disclaimer_gdpr') }}
                </div>
            </v-card-title>
            <v-card-text>
                <v-container class="tw-mb-8 tw-mt-4">
                    <v-row>
                        <v-col cols="12" sm="8">
                            <v-text-field
                                class="required"
                                :label="$t('field.job_title')"
                                v-model="candidate.title"
                                :error-messages="$page.errors.title"
                                autocomplete="new-password"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-autocomplete
                                class="required"
                                :label="$t('field.experience_in_job')"
                                v-model="candidate.experience"
                                :error-messages="$page.errors.experience"
                                autocomplete="new-password"
                                :items="[1, 2, 3, 4, 5, 6, 7, 8, 9]"
                                :hint="$t('field.candidate_experience_hint')"
                                outlined dense
                            />
                        </v-col>

                    </v-row>

                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-autocomplete
                                class="required"
                                v-model="algolia_region"
                                :items="cities"
                                :loading="citiesLoading"
                                :search-input.sync="searchCitiesText"
                                hide-no-data
                                :label="$t('field.city_or_country')"
                                :error-messages="$page.errors.region"
                                autocomplete="new-password"
                                spellcheck="false"
                                return-object
                                item-value="id"
                                item-text="name"
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-autocomplete
                                class="required"
                                :items="jobTypes"
                                v-model="candidate.job_type_id"
                                :error-messages="$page.errors.job_type_id"
                                autocomplete="new-password"
                                spellcheck="false"
                                item-value="id"
                                item-text="name"
                                :label="$t('field.industry')"
                                outlined dense
                            />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <v-combobox
                                class="required"
                                :label="$t('field.skills')"
                                v-model="candidate.skills"
                                :error-messages="$page.errors.skills"
                                autocomplete="new-password"
                                :items="tags"
                                :search-input.sync="searchTagsText"
                                spellcheck="false"
                                :loading="loadingTags"
                                :delimiters="[',']"
                                :hint="$t('field.skills_disclaimer')"
                                multiple
                                cache-items
                                required
                                deletable-chips
                                chips
                                outlined
                            />
                        </v-col>
                    </v-row>

                    <v-row v-for="(language, key) in candidate.languages">
                        <v-col cols="12" sm="6">
                            <v-autocomplete
                                :items="uniqueLanguages(language)"
                                v-model="language.language_id"
                                autocomplete="new-password"
                                spellcheck="false"
                                item-value="id"
                                item-text="name"
                                :label="$t('field.language')"
                                hide-details
                                outlined dense
                            />
                        </v-col>

                        <v-col cols="12" sm="4" class="tw-flex tw-items-center tw-justify-center">
                            <v-autocomplete
                                :items="['A1', 'A2', 'B1', 'B2', 'C1', 'C2']"
                                v-model="language.language_level"
                                autocomplete="new-password"
                                spellcheck="false"
                                :label="$t('field.language_level')"
                                hide-details
                                outlined dense
                            />
                            <v-icon v-if="candidate.languages.length > 1" color="red" class="tw-ml-2 tw-cursor-pointer" @click="candidate.languages.splice(key, 1)">mdi-close-circle</v-icon>
                            <v-icon v-else color="red" class="tw-ml-2 tw-cursor-pointer" @click="candidate.languages = [{}]">mdi-close-circle</v-icon>
                        </v-col>
                    </v-row>

                    <div class="tw-text-square-blue hover:tw-underline tw-cursor-pointer tw-mb-4" @click="addLanguage">{{ $t('field.add_language') }}</div>

                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                class="required"
                                v-model="candidate.description"
                                :error-messages="$page.errors.description"
                                spellcheck="false"
                                rows="8"
                                :label="$t('field.candidate_description')"
                                autocomplete="new-password"
                                dense outlined
                            />
                        </v-col>
                    </v-row>

                    <hr class="tw--mt-2 tw-mb-6">

                    <div class="tw-flex tw-flex-col tw-mb-3">
                        <h2>{{ $t('field.candidate_expectations') }}</h2>
                    </div>

                    <h3>{{ $t('field.financial_expectations') }}</h3>

                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                class="required"
                                :label="$t('field.candidate_min_earnings')"
                                v-model="candidate.min_salary"
                                :error-messages="$page.errors.min_salary"
                                autocomplete="new-password"
                                :hint="$t('field.candidate_min_earnings_hint')"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                class="required"
                                :label="$t('field.candidate_max_earnings')"
                                v-model="candidate.max_salary"
                                :error-messages="$page.errors.max_salary"
                                autocomplete="new-password"
                                :hint="$t('field.candidate_max_earnings_hint')"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-autocomplete
                                class="required"
                                :label="$t('field.agreement_type')"
                                multiple
                                v-model="candidate.contract_type"
                                :error-messages="$page.errors.contract_type"
                                autocomplete="new-password"
                                :items="['Umowa o pracę', 'Samozatrudnienie', 'Cywilnoprawna']"
                                outlined dense
                            />
                        </v-col>
                    </v-row>
                    <hr class="tw--mt-2 tw-mb-6">
                    <div class="tw-flex tw-flex-col tw-mb-3">
                        <h2>{{ $t('field.for_you_details') }}</h2>
                        <div class="tw-text-square-grey tw-text-xs">{{ $t('field.for_you_details_disclaimer') }}</div>
                    </div>
                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-text-field
                                :label="$t('field.candidate_name')"
                                v-model="candidate.name"
                                :error-messages="$page.errors.name"
                                autocomplete="new-password"
                                :hint="$t('field.candidate_name_hint')"
                                spellcheck="false"
                                outlined dense
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-textarea
                                v-model="candidate.private_description"
                                :error-messages="$page.errors.private_description"
                                spellcheck="false"
                                rows="8"
                                :label="$t('field.private_note')"
                                :hint="$t('field.private_note_hint')"
                                autocomplete="new-password"
                                dense outlined
                            />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <div class="tw-flex-col tw-w-full">
                    <div class="tw-text-square-grey tw-text-xs tw-font-normal tw-pr-2 tw-text-right tw-mb-2">
                        {{ $t('message.publication_after_moderation') }}
                    </div>
                    <div class="tw-flex">
                        <v-spacer/>
                        <v-btn text @click="newCandidateOpen = false">
                            {{ $t('subtitle.cancel') }}
                        </v-btn>

                        <v-btn :loading="pendingRequest" v-if="typeof candidate.id === 'undefined'" color="primary" @click="createCandidate">
                            {{ $t('subtitle.save') }}
                        </v-btn>

                        <v-btn :loading="pendingRequest" v-else color="primary" @click="updateCandidate">
                            {{ $t('subtitle.save') }}
                        </v-btn>
                    </div>
                </div>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'
    import algoliaSearchMixin from "../../../mixins/algoliaSearchMixin";

    export default {
        name: 'AddNewCandidate',
        props: {
            jobTypes: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            }
        },
        mixins: [ algoliaSearchMixin ],
        data() {
            return {
                newCandidateOpen: false,
                searchTagsText: '',
                tags: [],
                loadingTags: false,
                cities: [],
                pendingRequest: false,
                citiesLoading: false,
                searchCitiesText: null,
                algolia_region: null,
                candidate: {
                    title: null,
                    name: null,
                    private_description: null,
                    description: null,
                    contract_type: null,
                    min_salary: null,
                    max_salary: null,
                    current_workplace: null,
                    current_position: null,
                    languages: [],
                    skills: [],
                    experience: null,
                    region: null,
                    tomtom_region_id: null,
                    job_type_id: null,
                },
                candidateToEdit: {
                    title: null,
                    name: null,
                    private_description: null,
                    description: null,
                    contract_type: null,
                    min_salary: null,
                    max_salary: null,
                    current_workplace: null,
                    current_position: null,
                    languages: [],
                    skills: [],
                    experience: null,
                    region: null,
                    tomtom_region_id: null,
                    job_type_id: null,
                }
            }
        },
        created() {
            bus.$on('open-create-candidate-wizard', () => {
                this.candidate = JSON.parse(JSON.stringify(this.candidateToEdit))
                this.newCandidateOpen = true
            })

            bus.$on('open-edit-candidate-wizard', candidate => {
                this.candidate = JSON.parse(JSON.stringify(candidate))
                const algoliaRegion = {
                    name: candidate.region,
                    id: candidate.tomtom_region_id
                }

                this.cities = [algoliaRegion]
                this.algolia_region = algoliaRegion

                this.newCandidateOpen = true
            })
        },
        watch: {
            'candidate.skills': {
                handler(current, previous) {
                    if (current.length - previous.length === 2) {
                        this.candidate.skills.pop()
                    }

                    this.searchTagsText = ''
                }
            },
            searchTagsText(text) {
                this.searchTags(text)
            },
            searchCitiesText(text) {
                if (!this.citiesLoading && text.length > 1 && typeof text !== 'object') {
                    this.searchCities(text)
                }
            }
        },
        methods: {
            uniqueLanguages(currentLangPivot) {
                const currentLang = this.languages.find(lang => lang.id === currentLangPivot.language_id)
                let newLangs = null
                const candidateLanguages = this.candidate.languages.map(lang => lang.language_id)
                newLangs = this.languages.filter( language => {
                    return !_.includes(candidateLanguages, language.id)
                })

                if (typeof currentLang !== 'undefined') {
                    newLangs.unshift(currentLang)
                }

                return newLangs
            },
            addLanguage() {
                this.candidate.languages.push({})
            },
            searchCities: _.debounce( function (text) {
                this.citiesLoading = true

                this.searchPlaces(text).then( response => {
                    this.cities = response.data
                    this.citiesLoading = false
                }).catch( error => {
                    this.citiesLoading = false
                })

            }, 250),
            searchTags: _.debounce( function (text) {
                if (text && text.length > 2) {
                    this.loadingTags = true

                    axios.get(route('find-tags', this.searchTagsText)).then ( (response) => {
                        this.tags = response.data
                        this.loadingTags = false
                    })
                }
            }, 200),
            createCandidate() {
                this.pendingRequest = true
                let requestCandidate = JSON.parse(JSON.stringify(this.candidate))

                requestCandidate.tomtom_region_id = this.algolia_region !== null ? this.algolia_region.id : null
                requestCandidate.region = this.algolia_region !== null ? this.algolia_region.name : null
                requestCandidate.tomtom_country_id = this.algolia_region !== null ? this.algolia_region.country_code : null

                this.$inertia.post(route('store-candidate'), requestCandidate).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.candidate_added'))
                        this.close()
                    }

                    this.pendingRequest = false
                })
            },
            updateCandidate() {
                this.pendingRequest = true
                let requestCandidate = JSON.parse(JSON.stringify(this.candidate))

                requestCandidate.tomtom_region_id = this.algolia_region !== null ? this.algolia_region.id : null
                requestCandidate.region = this.algolia_region !== null ? this.algolia_region.name : null
                requestCandidate.tomtom_country_id = this.algolia_region !== null ? this.algolia_region.country_code : null

                this.$inertia.put(route('update-candidate', this.candidate.id), requestCandidate).then(response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.candidate_updated'))
                        this.close()
                    }

                    this.pendingRequest = false
                })
            },
            close() {
                this.newCandidateOpen = false

                setTimeout(() => {
                    this.candidate = {
                        title: null,
                        name: null,
                        private_description: null,
                        description: null,
                        current_workplace: null,
                        current_position: null,
                        languages: [],
                        skills: [],
                        experience: null,
                        region: null,
                        tomtom_region_id: null,
                        job_type_id: null,
                    }
                }, 300)
            },
        }
    }
</script>

<style lang="scss">
</style>
