<template>
    <layout>
        <div class="tw-flex">
            <h2>{{ $t('title.applications') }}</h2>
        </div>
        <div class="tw-w-full tw-mt-6">
            <div class="application-boxes tw-flex tw-flex-col">
                <div v-for="ad in applications" class="box tw-flex-col">
                    <div class="tw-flex tw-px-4 tw-py-2 tw-rounded-t tw-flex-grow tw-flex-col tw-bg-square-orange">
                        <h2 class="tw-cursor-pointer tw-text-white hover:tw-underline tw-text-xl" @click="redirectToAd(ad.id)">{{ ad.title }}</h2>
                    </div>
                    <div class="tw-px-4 tw-pb-2">
                        <hr class="tw-my-2">
                        <h2 class="tw-text-base">{{ $t('subtitle.your_candidates') }}:</h2>
                        <div class="tw-flex tw-flex-col">
                            <div v-for="candidate in ad.candidates" class="tw-relative tw-w-full tw-rounded tw-flex tw-flex-col sm:tw-flex-row tw-px-3 tw-py-2 tw-my-2" style="background: rgba(0, 0, 0, 0.1)">
                                <div class="tw-flex tw-flex-col tw-flex-grow">
                                    <h2 class="tw-text-lg tw-cursor-pointer tw-text-square-blue hover:tw-underline" @click="redirectToAd(candidate.id)">{{ candidate.title }}</h2>
                                    <div class="tw-text-square-grey-dark">
                                        <span class="tw-font-semibold tw-capitalize tw-mr-1">{{ $t('subtitle.proposed_m') }}: </span>
                                        {{ candidate.pivot.created_at | moment('D MMMM YYYY') }}
                                    </div>
                                    <div class="tw-text-square-grey-dark">
                                        <span class="tw-font-semibold tw-mr-1">Status: </span> {{ candidate.pivot.status | candidateAdStatus }}
                                    </div>
                                </div>

                                <v-btn class="tw-relative sm:tw-absolute" style="right: 4px; top: 6px;" color="error" @click="detachCandidate(candidate.id, ad.id)" small text>
                                    {{ $t('subtitle.detach_candidate') }}
                                </v-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'Applications',
        components: { Layout },
        props: {
            applications: {
                type: Array,
                default: () => []
            }
        },
        methods: {
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            detachCandidate(candidateId, adId) {
                this.$confirm(this.$t('message.detach_candidate')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.post(route('remove-candidate', {ad: adId , candidate: candidateId} )).then( () => {
                            bus.$emit('snackbar-success', this.$t('message.candidate_ad_detached'))
                        });
                    }
                })
            }
        }
    }
</script>

<style lang="scss">
    .application-boxes {
        .box {
            @apply tw-flex tw-my-2 tw-bg-white tw-rounded;

            .cell {
                @apply tw-flex tw-flex-col tw-font-display tw-px-4 tw-flex-wrap;

                &:first-child {
                    @apply tw-pl-0;
                }

                .desc {
                    @apply tw-text-3xs tw-text-square-grey tw-uppercase tw-font-semibold;
                }

                .value {
                    @apply tw-text-sm tw-text-square-black;
                }
            }
        }
    }
</style>
