<template>
    <layout>
        <div class="tw-flex tw-mt-3 sm:tw-mt-0">
            <h2>{{ $t('subtitle.your_candidates') }}</h2>
            <v-btn color="primary" class="tw-ml-auto mb-2" @click="openNewCandidateWizard">
                {{ $t('subtitle.add_candidate') }}
            </v-btn>
        </div>
        <div class="tw-w-full tw-mt-6">

            <div class="tw-flex tw-text-sm tw-mb-6 tw--mt-4">
                <div @click="redirectTo($route('dashboard-candidates'))"
                    class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline"
                    :class="{ 'tw-font-bold': areCandidatesActive }">
                    <span class="tw-capitalize">{{ $t('subtitle.published') }}</span> ({{ activeCandidatesAmount }})
                </div>
                <div @click="redirectTo($route('dashboard-candidates-inactive'))"
                    class="tw-bg-white tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-6"
                    :class="{ 'tw-font-bold': !areCandidatesActive }">
                    <span class="tw-capitalize"> {{ $t('subtitle.inactive_m_p') }} </span> ({{ inactiveCandidatesAmount }})
                </div>
            </div>

            <div class="tw-mb-6 tw-mt-2 tw-w-full">
                <v-text-field
                    class="search-input"
                    v-model="search"
                    prepend-inner-icon="mdi-magnify"
                    :placeholder="$t('subtitle.find_candidate')"
                    dense outlined hide-details
                />
            </div>

            <div v-if="candidates.length === 0" class="code">
                {{ $t('subtitle.no_currently') }} {{ areCandidatesActive ? $t('subtitle.active_p') : $t('subtitle.inactive_p') }} {{ $t('subtitle.candidates_p') }}.
            </div>

            <div class="candidate-boxes tw-flex tw-flex-col">
                <div v-for="(candidate, key) in searchedCandidates"
                     class="box tw-flex-col"
                     :style="areCandidatesActive ? 'border-left: 4px solid #82c43c !important' : 'border-left: 4px solid #696974 !important'"
                >
                    <div class="tw-flex tw-flex-col sm:tw-flex-row">
                        <div class="tw-flex tw-flex-col">
                            <h2 v-if="candidate.name" class="tw-text-base tw-font-normal tw--mb-1">{{ candidate.name }}</h2>
                            <h2 class="tw-cursor-pointer tw-text-square-blue hover:tw-underline tw-text-xl" @click="redirectToCandidate(candidate.id)">
                                {{ candidate.title }}
                            </h2>
                        </div>

                        <div class="sm:tw-ml-auto tw-flex tw-flex-col sm:tw-flex-row">
                            <div>
                                <v-btn @click="deactivateCandidate(candidate)" v-if="areCandidatesActive" class="tw-text-black tw-mr-2 tw-my-1 sm:tw-my-0" color="primary" small text>
                                    {{ $t('subtitle.stop_publication') }}
                                </v-btn>
                            </div>

                            <div v-if="(candidate.status !== 'unapproved' && candidate.status !== 'discarded') && !areCandidatesActive">
                                <v-btn @click="renewCandidate(candidate)" class="tw-text-black tw-mr-2 tw-my-1 sm:tw-my-0" color="primary" small text>
                                    {{ $t('subtitle.restore') }}
                                </v-btn>
                            </div>

                            <div>
                                <v-btn @click="deleteCandidate(candidate)" small color="error" class="tw-mr-2 tw-my-1 sm:tw-my-0">
                                    {{ $t('subtitle.delete') }}
                                </v-btn>
                            </div>

                            <v-tooltip top open-on-hover>
                                <template v-slot:activator="{ on, attrs }">
                                    <div v-on="on">
                                        <v-btn
                                                v-if="areCandidatesActive"
                                                disabled
                                                class="tw-text-black tw-mr-2"
                                                color="primary"
                                                small
                                            >
                                                {{ $t('subtitle.edit') }}
                                        </v-btn>
                                    </div>
                                </template>
                                <span>{{ $t('subtitle.deactivate_to_edit') }}</span>
                            </v-tooltip>

                            <v-btn v-if="!areCandidatesActive" @click="editCandidate(candidate)" small color="primary">
                                {{ $t('subtitle.edit') }}
                            </v-btn>
                        </div>
                    </div>
                    <div class="tw-flex tw-mt-1 tw-flex-wrap">
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.foreign_language') }}</div>
                            <div class="value">{{ candidate.languages.map( lang => lang.text).join(', ') }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.skills_and_abilities') }}</div>
                            <div class="value">{{ candidate.skills.join(', ') }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.experience') }}</div>
                            <div class="value">{{ candidate.experience }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.industry') }}</div>
                            <div class="value">{{ candidate.job_type }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.city_or_country') }}</div>
                            <div class="value">{{ candidate.region }}</div>
                        </div>
                        <div class="cell" v-if="candidate.contract_type">
                            <div class="desc">{{ $t('subtitle.agreement') }}</div>
                            <div class="value">{{ candidate.contract_type.join(', ') }}</div>
                        </div>
                        <div class="cell">
                            <div class="desc">{{ $t('subtitle.salary_range') }}</div>
                            <div class="value" v-if="candidate.min_salary && candidate.max_salary">{{ candidate.min_salary }} - {{ candidate.max_salary }}</div>
                        </div>
                    </div>
                    <hr class="tw-my-2">
                    <h2 class="tw-text-base">{{ $t('subtitle.assigned_to_ad') }}:</h2>
                    <div class="tw-flex">
                        <div @click="candidate.candidates_selected_type = 'all'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-text-square-green tw-cursor-pointer hover:tw-underline"
                             :class="{ 'tw-font-bold': candidate.candidates_selected_type === 'all' }">
                            <span class="tw-capitalize">{{ $t('subtitle.all') }}</span> ({{ candidate.ads.length }})
                        </div>
                        <div @click="candidate.candidates_selected_type = 'proceeded'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': candidate.candidates_selected_type === 'proceeded' }"
                        >
                            <span class="tw-capitalize"> {{ $t('subtitle.proceeded') }} </span> ({{ candidatesTypeLength(candidate.ads, 'proceeded') }})
                        </div>
                        <div @click="candidate.candidates_selected_type = 'rejected'"
                             class="tw-bg-white tw-text-xs tw-px-4 tw-py-1 tw-rounded tw-cursor-pointer tw-text-square-grey-dark hover:tw-underline tw-ml-2"
                             :class="{ 'tw-font-bold': candidate.candidates_selected_type === 'rejected' }">
                            <span class="tw-capitalize"> {{ $t('subtitle.refused_p') }} </span> ({{ candidatesTypeLength(candidate.ads, 'rejected') }})
                        </div>
                    </div>
                    <div class="tw-flex tw-flex-col" v-if="candidate.ads.length">
                        <div v-for="ad in candidate.ads"
                             v-if="ad.pivot.status === candidate.candidates_selected_type || candidate.candidates_selected_type === 'all'"
                            class="tw-relative tw-w-full tw-rounded tw-flex tw-px-3 tw-py-2 tw-my-2"
                            style="background: rgba(0, 0, 0, 0.1)"
                        >
                            <div class="tw-flex tw-flex-col tw-flex-grow">
                                <h2 class="tw-text-lg tw-cursor-pointer tw-text-square-blue hover:tw-underline" @click="redirectToAd(ad.id)">{{ ad.title }}</h2>
                                <div class="tw-text-square-grey-dark">
                                    <span class="tw-font-semibold tw-mr-1">{{ $t('subtitle.proposed_m') }}: </span>{{ ad.pivot.created_at | moment('D MMMM YYYY') }}
                                </div>
                                <div class="tw-text-square-grey-dark">
                                    <span class="tw-font-semibold tw-mr-1">Status: </span> {{ ad.pivot.status | candidateAdStatus }}
                                </div>
                            </div>
                            <v-btn v-if="candidate.status !== 'unapproved'" class="tw-absolute" style="right: 4px; top: 6px;" color="error" @click="detachCandidate(candidate.id, ad.id)" small text>
                                {{ $t('subtitle.detach_candidate') }}
                            </v-btn>
                        </div>
                    </div>

                    <div v-else class="code">
                        {{ $t('message.no_candidate_in_ads') }}
                    </div>

                    <div class="tw-flex">
                        <div
                            class="tw-ml-auto tw-text-sm tw-text-white tw-px-4 tw-py-1 tw-rounded tw-text-right"
                            :class="areCandidatesActive ? 'tw-bg-square-green' : 'tw-bg-square-grey-light'"
                        >
                            <template v-if="candidate.remaining_active_days > 0">
                                <span class="tw-capitalize">{{ $t('subtitle.remained') }}</span> {{ candidate.remaining_active_days }} {{ $t('subtitle.days_active') }}
                            </template>
                            <template v-else-if="candidate.status === 'unapproved'">
                                {{ $t('subtitle.waiting_for_acceptation') }}
                            </template>
                            <template v-else-if="candidate.status === 'discarded'">
                                <span class="tw-capitalize"> {{ $t('subtitle.refused') }} </span>: {{ candidate.discard_reason }}
                            </template>
                            <template v-else>
                                <span class="tw-capitalize">
                                    {{ $t('subtitle.inactive_m') }}
                                </span>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <add-new-candidate :languages="languages" :job-types="jobTypes"/>

        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import AddNewCandidate from "./AddNewCandidate";

    export default {
        name: 'Candidates',
        components: { AddNewCandidate, Layout },
        props: {
            candidates: {
                type: Array,
                default: () => []
            },
            jobTypes: {
                type: Array,
                default: () => []
            },
            languages: {
                type: Array,
                default: () => []
            },
            activeCandidatesAmount: {
                type: Number,
                default: 0
            },
            inactiveCandidatesAmount: {
                type: Number,
                default: 0
            },
            areCandidatesActive: {
                type: Boolean,
                default: false,
            },
            candidateLimitReached: {
                type: Boolean,
                default: false
            },
            user: {
                type: Object,
                default: () => {}
            }
        },
        data() {
            return {
                searchedCandidates: this.candidates,
                search: '',
            }
        },
        mounted() {
            const url = new URL(window.location.href)
            const createNew = url.searchParams.get('create-new')

            if (createNew === 'candidate') {
                this.openNewCandidateWizard()
            }
        },
        watch: {
            search(text) {
                this.searchedCandidates = this.candidates.filter( candidate => {
                    return candidate.title.toLowerCase().includes(text.toLowerCase())
                })
            }
        },
        methods: {
            renewCandidate(candidate) {
                this.$inertia.patch(route('renew-candidate', candidate.id))
            },
            redirectTo(route) {
                this.$inertia.visit(route)
            },
            deactivateCandidate(candidate) {
                this.$confirm(this.$t('message.deactivate_candidate')).then( (coonfirmed) => {
                    if (confirmed) {
                        this.$inertia.patch(route('deactivate-candidate', candidate.id))
                    }
                })
            },
            openNewCandidateWizard() {
                if (this.candidateLimitReached) {
                    bus.$emit('open-payment-modal', 'candidates', this.user, this.$t('message.buy_candidates_limit'))
                } else {
                    bus.$emit('open-create-candidate-wizard')
                }
            },
            editCandidate(candidate) {
                bus.$emit('open-edit-candidate-wizard', candidate)
            },
            deleteCandidate(candidate) {
                this.$confirm(this.$t('message.delete_candidate')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.delete(route('delete-candidate', candidate.id))
                    }
                })
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            detachCandidate(candidateId, adId) {
                this.$confirm(this.$t('message.detach_candidate')).then( () => {
                    this.$inertia.post(route('remove-candidate', {ad: adId , candidate: candidateId} )).then( () => {
                        bus.$emit('snackbar-success', this.$t('subtitle.candidate_ad_detached'))
                    });
                })
            },
            candidatesTypeLength(candidates, type) {
                return candidates.filter( candidate => candidate.pivot.status === type).length
            }
        }
    }
</script>

<style lang="scss">
    .candidate-boxes {
        .box {
            @apply tw-flex tw-px-4 tw-pb-2 tw-pt-2 tw-my-2 tw-bg-white tw-rounded;

            .cell {
                @apply tw-flex tw-flex-col tw-font-display tw-pr-8 tw-flex-wrap;

                &:first-child {
                    @apply tw-pl-0;
                }

                .desc {
                    @apply tw-text-3xs tw-text-square-grey tw-uppercase tw-font-semibold;
                }

                .value {
                    @apply tw-text-sm tw-text-square-black;
                }
            }
        }
    }
</style>
