<template>
    <layout>
        <div class="tw-mx-auto" style="max-width: 1080px; padding-bottom: 220px;">
            <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.observed_candidates') }}</h2>
            <hr class="tw-my-6">

            <v-row v-if="favoriteCandidates.length" style="max-width:1200px">
                <v-col cols="12" sm="4" v-for="candidate in favoriteCandidates">
                    <candidate-box
                            class="tw-my-8"
                            :candidate="candidate.candidate"
                            :isCandidateFavorite="false"
                            :favoritedCandidate="candidate"
                    />
                </v-col>
            </v-row>

            <div v-if="favoriteCandidates.length === 0" class="tw-text-center">
                <div class="code">Niestety, nie masz żadnych ulubionych kandydatów...</div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import CandidateBox from "../../Utils/CandidateBox";

    export default {
        name: 'FavoriteCandidates',
        components: { Layout, CandidateBox },
        props: {
            favoriteCandidates: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {

            }
        },
        methods: {
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            unfavoriteCandidate(candidate) {
                this.$inertia.visit(route('unfavorite-candidate', candidate.id)).then( response => {
                    bus.$emit('snackbar-success', 'Kandydat został usunięty z ulubionych.')
                })
            },
        }
    }
</script>

<style lang="scss">
    .candidate {
        height: 440px;
        width: 320px;
        transition: 0.2s;
        @apply tw-flex tw-bg-white tw-rounded;
        &:hover {
            @apply tw-cursor-pointer tw-shadow-xl;
        }
    }
</style>
