<template>
    <v-dialog scrollable v-model="dialog" max-width="800px">
        <v-card>
            <v-card-title>
                <span class="headline">{{ $t('cookies.title') }}</span>
            </v-card-title>
            <v-card-text>
                <div class="tw-flex tw-flex-col">
                    <span>
                        {{ $t('cookies.disclaimer') }}
                    </span>

                    <br>

                    <h3>{{ $t('cookies.how_to_resign') }}</h3>

                    <span>
                        {{ $t('cookies.resign') }}:
                    </span>
                    <ul>
                        <li>
                            <strong>Internet Explorer</strong>
                            <br>
                            <a href="http://windows.microsoft.com/pl-PL/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/pl-PL/windows-vista/Block-or-allow-cookies</a>
                        </li>
                        <li>
                            <strong>Mozilla Firefox</strong>
                            <br>
                            <a href="http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20">http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20</a>
                        </li>
                        <li>
                            <strong>Google Chrome</strong>
                            <br>
                            <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647</a>
                        </li>
                        <li>
                            <strong>Opera</strong>
                            <br>
                            <a href="http://help.opera.com/Windows/12.10/pl/cookies.html">http://help.opera.com/Windows/12.10/pl/cookies.html</a>
                        </li>
                        <li>
                            <strong>Safari</strong>
                            <br>
                            <a href="http://support.apple.com/kb/HT1677?viewlocale=pl_PL&locale=pl_PL">http://support.apple.com/kb/HT1677?viewlocale=pl_PL&locale=pl_PL</a>
                        </li>
                    </ul>

                    <br>

                    <h3>
                        {{ $t('cookies.cookies_we_use') }}
                    </h3>

                    <span>
                        <strong>{{ $t('cookies.const_files') }}</strong>
                        {{ $t('cookies.const_files_extend') }}
                    </span>

                    <br>

                    <span>
                        <strong>{{ $t('cookies.session_files') }}</strong>
                        {{ $t('cookies.session_files_extend') }}
                    </span>

                    <br>

                    <span>
                        {{ $t('cookies.analytics') }}
                    </span>

                </div>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'CookiesDialog',
        data() {
            return {
                dialog: false
            }
        },
        created() {
            bus.$on('open-cookies-dialog', (candidate) => {
                this.dialog = true
            })
        }
    }
</script>