<template>
    <v-app class="tw-font-body" style="background: #f2f2f2; overflow: hidden;">
        <div>
            <navbar/>
            <div class="tw-flex tw-relative">
                <navigation style="height: calc(100vh - 64px)"></navigation>
                <div
                    class="tw-flex tw-flex-col tw-w-full"
                    style="height: calc(100vh - 64px) !important;"
                >

                    <slot name="subheader" />

                    <main
                        style="overflow-y: scroll; overflow-x: hidden"
                        ref="scrollContainer"
                        class="tw-w-full md:tw-pt-4 tw-px-2 md:tw-px-6"
                        @scroll="handleScroll"
                    >
                        <slot>
                        </slot>

                        <v-container fluid>
                            <v-container class="max-1200 tw-py-12 tw-text-center tw-text-square-grey">
                                <div class="tw-text-grey tw-text-sm">
                                    © {{ new Date().getFullYear() }} emplostore.com
                                    <br>
                                    <inertia-link class="tw-text-square-grey hover:tw-underline tw-mr-2 tw-ml-2" :href="$route('rules')">{{ $t('page.rules') }}</inertia-link> |
                                    <inertia-link class="tw-text-square-grey hover:tw-underline tw-mr-2 tw-ml-2" :href="$route('privacy-policy')">{{ $t('page.privacy_policy') }}</inertia-link> |
                                    <inertia-link class="tw-text-square-grey hover:tw-underline tw-mr-2 tw-ml-2" :href="$route('agencies')">{{ $t('page.recruiting_agencies') }}</inertia-link> |
                                    <inertia-link class="tw-text-square-grey hover:tw-underline tw-ml-2" :href="$route('contact')">{{ $t('page.contact') }}</inertia-link>
                                </div>
                            </v-container>
                        </v-container>

                        <v-snackbar color="white" class="tw-text-square-black" v-model="successSnackbarVisible" center botttom>
                            <div class="tw-flex tw-flex-col">
                                <div class="tw-flex">
                                    <v-icon class="tw-text-square-green">mdi-check-bold</v-icon>
                                    <div class="tw-text-lg tw-font-semibold tw-font-display tw-text-square-grey-darker tw-font-display tw-ml-2 tw--mt-px">{{ $t('subtitle.success') }}</div>
                                </div>
                                <div class="tw-text-square-grey-darker tw-font-display tw-mt-4 tw-mb-4">
                                    {{ successSnackbarContent }}
                                </div>
                            </div>
                            <v-btn color="black" text @click="successSnackbarVisible = false">
                                {{ $t('subtitle.close') }}
                            </v-btn>
                        </v-snackbar>

                        <v-snackbar color="white" class="tw-text-square-black" v-model="errorSnackbarVisible" center botttom>
                            <div class="tw-flex tw-flex-col">
                                <div class="tw-flex">
                                    <v-icon class="tw-text-square-red">mdi-close-circle</v-icon>
                                    <div class="tw-text-lg tw-font-semibold tw-font-display tw-text-square-grey-darker tw-font-display tw-ml-2 tw--mt-px">
                                        {{ $t('subtitle.error') }}
                                    </div>
                                </div>
                                <div class="tw-text-square-grey-darker tw-font-display tw-mt-4 tw-mb-4">
                                    {{ errorSnackbarContent }}
                                </div>
                            </div>
                            <v-btn color="black" text @click="errorSnackbarVisible = false">
                                {{ $t('subtitle.close') }}
                            </v-btn>
                        </v-snackbar>
                    </main>
                </div>
            </div>
        </div>

        <div class="cookie-notification" v-if="!isCookieAccepted">
            <v-container class="tw-mx-auto tw-flex tw-flex-col">
                <div class="tw-text-center">
                    {{ $t('subtitle.page_uses_cookies') }}
                </div>
                <div class="tw-text-center tw-flex tw-mt-4 tw-justify-center">
                    <v-btn depressed class="tw--ml-2" @click="showCookiesPolicy()">{{ $t('page.get_to_know_more') }}</v-btn>
                    <v-btn depressed class="tw-text-white tw-ml-2" color="#ff6e02" @click="acceptCookie">{{ $t('subtitle.understood') }}</v-btn>
                </div>
            </v-container>
        </div>

        <proceed-payment-modal/>
        <cookies-dialog />

    </v-app>
</template>

<script>
    import bus from '@/bus'
    import Navbar from './Navbar'
    import Navigation from './Navigation'
    import ProceedPaymentModal from "../Pages/Dashboard/ProceedPaymentModal";
    import CookiesDialog from "./CookiesDialog";

    export default {
        name: 'Layout',
        components: {CookiesDialog, Navbar, Navigation, ProceedPaymentModal },
        data() {
            return {
                errorSnackbarVisible: false,
                errorSnackbarContent: '',
                successSnackbarVisible: false,
                successSnackbarContent: '',
                isCookieAccepted: true,
            }
        },
        created() {
            this.isCookieAccepted = this.isLocalStorageCookieAccepted()

            bus.$on('snackbar-error', message => {
                this.errorSnackbarContent = message
                this.errorSnackbarVisible = true
            })

            bus.$on('snackbar-success', message => {
                this.successSnackbarContent = message
                this.successSnackbarVisible = true
            })

            bus.$on('open-payment-modal', this.openPaymentModalHandler)
        },
        beforeDestroy() {
            bus.$off('open-payment-modal', this.openPaymentModalHandler)
        },
        methods: {
            openPaymentModalHandler(type, user, modalTitle = null) {
                if (type === 'subscription') {
                    bus.$emit('pay-for-subscription', user, modalTitle)
                } else if (type === 'candidates') {
                    bus.$emit('pay-for-candidates', user, modalTitle)
                }
            },
            handleScroll: _.debounce((event) => {
                const scrollContainer = event.target
                let bottomOfWindow = scrollContainer.scrollHeight - scrollContainer.scrollTop <= scrollContainer.offsetHeight + 300;

                if (bottomOfWindow) {
                    bus.$emit('scroll-pagination-trigger')
                }
            }, 100),
            acceptCookie() {
                localStorage.cookieAccepted = true
                this.isCookieAccepted = true
            },
            isLocalStorageCookieAccepted() {
                if (localStorage.cookieAccepted && localStorage.cookieAccepted !== 'undefined') {
                    return localStorage.cookieAccepted
                }

                return false;
            },
            showCookiesPolicy() {
                bus.$emit('open-cookies-dialog')
            }
        },
    }
</script>

<style lang="scss">
    .cookie-notification {
        background: rgba(230, 230, 230, 0.9);
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 4px 4px 4px #ccc;
        z-index: 101;
    }
</style>