<template>
    <div class="tw-pb-2 sm:tw-pb-0 sm:tw-h-16 tw-bg-white tw-shadow tw-flex tw-items-center flex-wrap tw-relative">
        <div v-if="$page.auth.user !== null" class="sm:tw-hidden" style="position: absolute; left: 4px; top: 4px;">
            <v-icon @click="toggleNavigation" class="tw-ml-2 tw-text-square-black">mdi-menu</v-icon>
        </div>

        <div class="tw-font-display tw-text-2xl tw-font-thin tw-text-square-blue tw-mx-auto sm:tw-hidden">
            <span class="tw-font-bold">emplostore</span>
        </div>

        <div class="sm:tw-hidden" style="position: absolute; right: 6px; top: 6px;">
            <v-icon v-if="!mobileNavbarOpen" @click="toggleMobileNavigation" class="tw-ml-2 tw-text-square-black">mdi-menu</v-icon>
            <v-icon v-if="mobileNavbarOpen" @click="toggleMobileNavigation" class="tw-ml-2 tw-text-square-black">mdi-close</v-icon>
        </div>

        <div style="flex-basis: 100%; height: 0"></div>

        <div v-if="$page.auth.user !== null" class="tw-hidden sm:tw-block">
            <v-icon @click="toggleNavigation" class="tw-ml-6 tw-text-square-black">mdi-menu</v-icon>
        </div>
        <div class="tw-w-full sm:tw-w-5/6 md:tw-w-3/4 lg:tw-w-2/3 tw-mx-auto sm:tw-h-full tw-flex tw-items-center">
            <div class="tw-font-display tw-text-3xl tw-font-thin tw-text-square-blue tw-hidden sm:tw-block">
                <span class="tw-font-bold">emplostore</span>
            </div>
            <div
                class="tw-flex tw-ml-2 tw-mt-1 sm:tw-mt-0 sm:tw-mx-auto tw-h-full tw-items-center sm:tw-items-stretch tw-overflow-hidden tw-flex-wrap"
                v-if="mobileNavbarOpen"
            >
                <template v-for="item in menu">

                    <template v-if="$page.auth.user !== null && item.route === 'for-agencies' && $page.auth.user.role === 'company' ">
                    </template>

                    <template v-else>
                        <inertia-link :href="$route(item.route)" @click="resetStorage" class="sm-flex-basis-50">
                            <div class="menu-item" :class="isUrl($route(item.route, [], false)) && item.route !== '' ? 'active' : ''">{{ item.name }}</div>
                        </inertia-link>
                    </template>

                </template>

                <template v-if="$page.auth.user === null">
                    <div class="sm:tw-hidden sm-flex-basis-50">
                        <v-btn depressed class="tw-text-white tw-text-2xs" x-small color="primary" @click="register">
                            {{ $t('subtitle.join_for_free') }}
                        </v-btn>
                    </div>

                    <div class="sm:tw-hidden sm-flex-basis-50">
                        <v-btn depressed class="tw-text-white tw-text-2xs" x-small color="#ff6e02" @click="login">
                            {{ $t('page.login') }}
                        </v-btn>
                    </div>
                </template>

            </div>
            <div class="tw-overflow-hidden tw-h-full tw-flex tw-items-center">
                <template v-if="$page.auth.user === null">
                    <v-btn depressed class="tw-text-white tw-mt-4 tw-mb-2 tw-text-xs tw-hidden sm:tw-inline-flex" color="#ff6e02" @click="login">
                        {{ $t('page.login') }}
                    </v-btn>

                    <v-btn depressed class="tw-text-white tw-mt-4 tw-ml-2 tw-mb-2 tw-hidden sm:tw-inline-flex" color="primary" @click="register">
                        {{ $t('subtitle.join_for_free') }}
                    </v-btn>

                </template>
                <template v-else>
                    <inertia-link href="/logout" class="tw-text-xs tw-ml-2 sm:tw-ml-0 sm:tw-text-base">
                        {{ $t('subtitle.logout') }}
                    </inertia-link>

                    <v-btn v-if="!$page.auth.user.subscription.active && $page.auth.user.role === 'agency'" depressed class="tw-text-white tw-ml-4 tw-hidden sm:tw-block" color="#ff6e02" @click="buyPremium">
                        {{ $t('subtitle.premium_account') }}
                    </v-btn>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'Navbar',
        data() {
            return {
                mobileNavbar: false,
                mobileNavbarOpen: false,
                menu: [
                    { name: this.$t('nav.home'), route: 'index' },
                    { name: this.$t('nav.for_agencies'), route: 'for-agencies' },
                    { name: this.$t('nav.candidates'), route: 'candidates' },
                    { name: this.$t('nav.ads'), route: 'ads' },
                ]
            }
        },
        created() {
            this.checkNavigationOpen(window.innerWidth)

            if (window.innerWidth > 600) {
                this.mobileNavbarOpen = true
            }
        },
        computed: {
            navigationOpen() {
                return this.$store.getters.navigationOpen
            },
        },
        methods: {
            toggleMobileNavigation() {
                this.mobileNavbar = !this.mobileNavbar

                if (window.innerWidth <= 600) {
                    this.mobileNavbarOpen = this.mobileNavbar
                } else {
                    this.mobileNavbarOpen = false
                }
            },
            buyPremium() {
                bus.$emit('open-payment-modal', 'subscription', this.$page.auth.user, this.$t('message.buy_premium_full_access'))
            },
            resetStorage() {
                localStorage.candidatesSearch = ''
                localStorage.lastSearchedCandidates = ''
                localStorage.adsSearch = ''
                localStorage.lastSearchedAds = ''
            },
            toggleNavigation() {
                this.$store.commit('toggleNavigation')
            },
            changeNavigationOpen(status) {
                this.$store.commit('changeNavigationOpen', { status })
            },
            checkNavigationOpen(windowSize) {
                let shouldNavBeOpen = windowSize >= 1280;

                if (this.navigationOpen !== shouldNavBeOpen) {
                    this.changeNavigationOpen(shouldNavBeOpen)
                }
            },
            login() {
                this.$inertia.visit(route('join'));
            },
            register() {
                this.$inertia.visit(route('join') + '?register=true');
            },
            isUrl(...urls) {
                const globalUrl = location.pathname.substr(1)

                if (urls[0] === '/') {
                    return globalUrl === ''
                }

                return urls.filter(url => {
                    return globalUrl.startsWith(url.substr(1))
                }).length
            },
        }
    }
</script>

<style lang="scss">
    .menu-item {
        transition: 0.2s;
        @apply tw-flex tw-pt-1 tw-items-center tw-mx-1 tw-text-sm tw-text-square-grey-dark tw-cursor-pointer tw-font-semibold tw-font-display tw-relative;
        &.active, &:hover {
            @apply tw-text-square-blue;
        }

        @screen sm {
            @apply tw-h-full tw-pt-0 tw-mx-2 tw-px-2 tw-justify-center;
            &.active, &:hover {
                @apply tw-text-square-blue;
                transition: 0.2s;
                &:after {
                    opacity: 1;
                    transform: translateY(1px);
                }
            }
            &:after {
                content: '';
                transition: 0.2s;
                opacity: 0;
                transform: translateY(4px);
                @apply tw-absolute tw-bottom-0 tw-w-full tw-rounded-tl tw-rounded-tr tw-border-2 tw-border-square-blue;
            }
        }
    }

    .sm-flex-basis-50 {
        flex-basis: 50%;
        @screen sm {
            flex-basis: auto;
        }
    }
</style>
