<template>
    <transition name="slide-left">
        <div v-if="navigationOpen && $page.auth.user !== null" id="navigation" class="tw-absolute lg:tw-relative tw-max-w-64 tw-min-w-64 tw-bg-white tw-shadow-lg tw-bg-white" style="z-index: 101">
            <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-mt-4">
                <v-avatar size="72" color="primary" class="tw-text-2xl tw-text-semibold tw-text-white tw-font-display tw-font-medium">{{ $page.auth.user !== null ? $page.auth.user.name : 'Wylogowany' | initials }}</v-avatar>
                <div
                    style="word-break: break-word; text-align: center; line-height: 17px; padding: 4px 12px;"
                    class="tw-font-semibold tw-text-lg tw-text-square-grey-darkest tw-font-display"
                >
                    {{ $page.auth.user !== null ? $page.auth.user.name : $t('subtitle.logged_out') }}
                </div>
                <div class="tw-text tw--mt-1 tw-text-square-grey-darker tw-capitalize">{{ ($page.auth.user !== null ? role : '') | role }}</div>
                <div class="tw-flex tw-items-center tw-justify-center tw-mt-1" v-if="role === 'agency'">
                    <div style="width: 8px; height: 8px; border-radius: 100%" :class="isPremium() ? 'tw-bg-square-green' : 'tw-bg-square-grey'"></div>
                    <div class="tw-uppercase tw-text-2xs tw-ml-1 tw-font-semibold">
                        <span v-if="isPremium()" class="tw-text-square-green">
                            {{ $t('subtitle.premium_account') }}
                        </span>
                        <span v-else class="tw-text-square-grey">
                            {{ $t('subtitle.free_account') }}
                        </span>
                    </div>
                </div>
            </div>
            <v-list class="tw-mt-8" dark>

                <template v-for="category in categories" v-if="category.privilege.includes(role) || !category.privilege.length">
                    <template v-if="!isPremium() && category.route === 'dashboard-agency-card'">
                        <div class="nav-item" @click="buyPremium">
                            <div class="bookmark"></div>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>{{ category.icon }}</v-icon>
                                </v-list-item-icon>
                                <v-list-item-title class="top-title">
                                    {{ category.name }}
                                    <strong class="notifications" v-if="category.notifications">
                                        ({{ category.notifications }})
                                    </strong>
                                </v-list-item-title>
                            </v-list-item>
                        </div>
                    </template>
                    <template v-else>
                        <inertia-link
                            v-if="!category.items.length"
                            :href="$route(category.route)"
                            class="nav-item"
                            :class="isUrl($route(category.route, [], false)) && category.route !== '' ? 'url-active' : ''"
                        >

                            <div class="bookmark"></div>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>{{ category.icon }}</v-icon>
                                </v-list-item-icon>
                                <v-list-item-title class="top-title">
                                    {{ category.name }}
                                    <strong class="notifications" v-if="category.notifications">
                                        ({{ category.notifications }})
                                    </strong>
                                </v-list-item-title>
                            </v-list-item>

                        </inertia-link>
                    </template>

                    <div class="nav-item" v-else>
                        <div class="bookmark"></div>
                        <v-list-group :key="category.name" v-model="category.active" :prepend-icon="category.icon" no-action :ripple="false" class="tw-flex-grow">
                            <template v-slot:activator>
                                <v-list-item-content :ripple="false">
                                    <v-list-item-title class="top-title" v-text="category.name"></v-list-item-title>
                                </v-list-item-content>
                            </template>

                            <template v-for="item in category.items">
                                <inertia-link :href="$route(item.route)" class="nav-item">
                                    <v-list-item :ripple="false" :key="item.name" :class="isUrl(item.route) ? 'url-active' : ''">
                                        <v-list-item-content>
                                            <v-list-item-title v-text="item.name"></v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </inertia-link>
                            </template>
                        </v-list-group>
                    </div>

                </template>
            </v-list>
        </div>
    </transition>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'Navigation',
        data() {
            return {
                categories: [
                    { name: this.$t('nav.account_settings'), route: 'dashboard-settings', icon: 'mdi-cogs', items: [], privilege: [] },
                    { name: this.$t('nav.card'), route: 'dashboard-agency-card', icon: 'mdi-card-bulleted', items: [], privilege: ['agency'] },
                    { name: this.$t('nav.my_messages'), route: 'dashboard-messages', icon: 'mdi-forum', items: [], privilege: ['agency', 'company'], notifications: this.$page.auth.user ? this.$page.auth.user.unread_messages_count : 0 },
                    { name: this.$t('nav.users'), route: 'dashboard-users', icon: 'mdi-account-group', items: [], privilege: ['moderator', 'super-admin'] },
                    { name: this.$t('nav.my_candidates'), route: 'dashboard-candidates', icon: 'mdi-account-multiple', items: [], privilege: ['agency'] },
                    { name: this.$t('nav.sent_candidates'), route: 'dashboard-candidate-attached-ads', icon: 'mdi-library-books', items: [], privilege: ['agency'] },
                    { name: this.$t('nav.my_ads'), route: 'dashboard-ads', icon: 'mdi-library-books', items: [], privilege: ['company'], notifications: this.$page.auth.user ? this.$page.auth.user.my_ads_attachments : 0 },
                    { name: this.$t('nav.observed_candidates'), route: 'dashboard-favorite-candidates', icon: 'mdi-star', items: [], privilege: ['company'] },
                    { name: this.$t('nav.observed_ads'), route: 'dashboard-favorite-ads', icon: 'mdi-star', items: [], privilege: ['agency'] },
                    { name: this.$t('nav.all_messages'), route: 'dashboard-admin-conversations', icon: 'mdi-forum', items: [], privilege: ['moderator', 'super-admin'], notifications: this.$page.auth.user ? this.$page.auth.user.admin_unread_messages_count : 0 },
                    { name: this.$t('nav.all_ads'), route: 'dashboard-admin-ads', icon: 'mdi-library-books', items: [], privilege: ['moderator', 'super-admin'], notifications: this.$page.auth.user ? this.$page.auth.user.moderation_ads_count : 0 },
                    { name: this.$t('nav.all_candidates'), route: 'dashboard-admin-candidates', icon: 'mdi-account-multiple', items: [], privilege: ['moderator', 'super-admin'], notifications: this.$page.auth.user ? this.$page.auth.user.moderation_candidates_count : 0},
                    { name: this.$t('nav.payments'), route: 'dashboard-payments', icon: 'mdi-credit-card-outline', items: [], privilege: ['moderator', 'super-admin'] },
                    { name: this.$t('nav.settings'), route: 'dashboard-site-settings', icon: 'mdi-tune', items: [], privilege: ['moderator', 'super-admin'] },
                ],
                category: ''
            }
        },
        computed: {
            navigationOpen() {
                return this.$store.getters.navigationOpen
            },
            role() {
                return this.$page.auth.user.role
            }
        },
        methods: {
            isUrl(...urls) {
                const globalUrl = location.pathname.substr(1)

                if (urls[0] === '') {
                    return globalUrl === ''
                }

                return urls.filter(url => {
                    return globalUrl.startsWith(url.substr(1))
                }).length
            },
            isPremium() {
                return this.$page.auth.user.subscription.active
            },
            buyPremium() {
                bus.$emit('open-payment-modal', 'subscription', this.$page.auth.user, this.$t('message.buy_premium_full_access'))
            }
        }
    }
</script>

<style lang="scss">
    #navigation {
        .v-list {
            @apply tw-bg-white tw-text-square-black #{!important};
        }
        .v-list-group__items {
            @apply tw-bg-square-grey-lighter #{!important};
        }
        .nav-item {
            @apply tw-flex cursor-pointer;
            .bookmark {
                transition: 0.2s;
                @apply tw-text-square-blue tw-border-square-blue tw-rounded-r;
            }
            * {
                transition: 0.2s;
                @apply tw-text-square-grey #{!important};
            }
            .notifications {
                @apply tw-text-square-blue #{!important};
            }
            .top-title {
                text-overflow: clip;
                white-space: normal;
            }
            &:hover, .v-list-item--active, &.url-active {
                i, .top-title {
                    @apply tw-text-square-blue #{!important};
                }
                .bookmark {
                    @apply tw-border-l-4;
                }
                .v-list-group__items {
                    margin-left: -4px;
                }
            }
            .v-list-group__items {
                .v-list-item {
                    @apply tw-min-h-10;
                    .v-list-item__content {
                        @apply tw-py-1 tw-pl-2;
                        .v-list-item__title {
                            @apply tw-font-medium;
                        }
                    }
                    &:hover, &.url-active {
                        background: rgba(255, 255, 255, 0.07);
                        .v-list-item__title {
                            @apply tw-text-square-blue #{!important};
                        }
                    }
                }
            }
        }
        .theme--dark.v-list-item:hover::before {
            opacity: 0;
        }
        .v-list-item__title {
            @apply tw-text-sm tw-font-semibold tw-font-display;

        }
        .v-list-group__header, .v-list-item {
            @apply tw-pl-8;
        }
    }
</style>
