<template>
    <div class="tw-flex tw-flex-col tw-bg-white tw-h-full tw-py-4 tw-px-6 tw-rounded-lg tw-relative">
        <v-menu offset-y>
            <template v-slot:activator="{ on }">
                <div class="tw-absolute tw-cursor-pointer" style="right: 16px; top: 16px;" v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                </div>
            </template>
            <v-list>
                <v-list-item v-if="conversation.ad_id">
                    <v-list-item-title class="tw-cursor-pointer tw-capitalize" @click="redirectToAd(conversation.ad_id)">
                        {{ $t('subtitle.view_ad') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item v-if="conversation.candidate_id">
                    <v-list-item-title class="tw-cursor-pointer tw-capitalize" @click="redirectToCandidate(conversation.candidate_id)">
                        {{ $t('subtitle.view_candidate') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title class="tw-cursor-pointer tw-capitalize" @click="hideConversation(conversation.id)">
                        {{ $t('subtitle.delete_conversation') }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <div class="tw-flex tw-flex-col">
            <div class="sender tw-font-semibold tw-text-square-cyan">{{ conversation.starter.id === userId ? conversation.candidate.owner.name : conversation.starter.name  }}</div>
            <div class="title tw-font-semibold tw-text-square-grey-darkest">{{ conversation.starter.id === userId ? (conversation.ad ? conversation.ad.title : ''): conversation.candidate.title }} ({{ conversation.starter.id === userId ? conversation.candidate.title : conversation.ad ? conversation.ad.title : ''}})</div>
        </div>
        <v-divider class="tw-mt-2"></v-divider>
        <div class="tw-flex tw-flex-col tw-flex-grow tw-mt-4">
            <div ref="conversation" class="tw-flex tw-flex-col tw-flex-grow" style="overflow-y: auto; max-height: 450px;">
                <div class="code" v-if="!conversation.messages.length">
                    {{ $t('message.no_messages_start_first') }}
                </div>

                <template v-for="message in conversation.messages">
                    <div class="tw-flex tw-ml-auto tw-items-center tw-my-1" v-if="message.user.id === userId">
                        <div class="tw-mr-2 tw-text-square-grey-lighter tw-text-xs tw-font-display">{{ message.created_at | moment('D MMM') }}, {{ message.created_at | moment('HH:mm') }}</div>
                        <div class="tw-rounded-lg tw-inline-flex tw--mr-4 tw-pl-4 tw-pr-6 tw-py-2 tw-bg-square-white-dark">{{ message.text }}</div>
                        <v-avatar size="39" color="secondary" class="tw-text-square-white tw-text-sm tw-font-bold" style="border: 3px solid white !important"><div class="tw--mt-1">{{ message.user.name | initials }}</div></v-avatar>
                    </div>

                    <div class="tw-flex tw-items-center tw-my-1" v-else>
                        <v-avatar size="39" color="secondary" class="tw-text-square-white tw-text-sm tw-font-bold" style="border: 3px solid white !important"><div class="tw--mt-1">{{ message.user.name | initials }}</div></v-avatar>
                        <div class="tw-rounded-lg tw-inline-flex tw--ml-4 tw-pr-4 tw-pl-6 tw-py-2 tw-border">{{ message.text }}</div>
                        <div class="tw-ml-2 tw-text-square-grey-lighter tw-text-xs tw-font-display tw-mr-auto">{{ message.created_at | moment('D MMM') }}, {{ message.created_at | moment('HH:mm') }}</div>
                    </div>

                </template>
            </div>

            <v-divider class="tw-my-4"></v-divider>

            <div class="tw-flex tw-flex-col">
                <v-textarea
                    :disabled="!$page.auth.user.subscription.active && $page.auth.user.role === 'agency'"
                    v-model="messageText"
                    spellcheck="false"
                    @keyup.enter="addMessage()"
                    :error-messages="$page.errors.text"
                    placeholder="Text..."
                    solo class="message-field tw-mt-auto"
                />

                <div class="tw-ml-auto tw-mt-4">
                    <v-btn v-if="$page.auth.user.subscription.active || $page.auth.user.role !== 'agency'" color="primary" depressed @click="addMessage()">
                        {{ $t('subtitle.send') }}
                    </v-btn>

                    <v-btn v-else disabled color="primary">
                        {{ $t('message.buy_premium_to_conversate') }}
                    </v-btn>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Conversation',
        props: {
            conversation: {
                type: Object,
                default: () => {}
            },
        },
        data() {
            return {
                messageText: '',
            }
        },
        created() {
            if (this.$page.auth.user.id === this.conversation.starter_user_id && !this.conversation.is_starter_read) {
                this.$inertia.patch(route('conversation-set-starter-read', this.conversation.id))
            }

            if (this.$page.auth.user.id !== this.conversation.starter_user_id && !this.conversation.is_other_read) {
                this.$inertia.patch(route('conversation-set-other-read', this.conversation.id))
            }

            this.scrollToBottom()
        },
        methods: {
            hideConversation(conversationId) {
                this.$inertia.patch(route('conversation-hide', conversationId))
            },
            redirectToAd(adId) {
                this.$inertia.visit(route('ad', adId))
            },
            redirectToCandidate(candidateId) {
                this.$inertia.visit(route('candidate', candidateId))
            },
            addMessage() {
                if (this.$page.auth.user.subscription.active || this.$page.auth.user.role !== 'agency') {
                    this.$inertia.post(route('dashboard-conversation-send-message', this.conversation.id), { text: this.messageText }).then( request => {
                        if (!Object.keys(this.$page.errors).length) {
                            this.scrollToBottom()
                            this.messageText = ''
                        }
                    })
                }
            },
            scrollToBottom() {
                this.$nextTick( () => {
                    this.$refs['conversation'].scrollTo(0, this.$refs['conversation'].scrollHeight)
                })
            }
        },
        computed: {
            userId() {
                return this.$page.auth.user.id
            }
        }
    }
</script>

<style lang="scss">
    .message-field {
        .v-input__slot {
            @apply tw-bg-square-white-dark tw-rounded-lg tw-shadow-none #{!important};
        }
    }
</style>
