<template>
    <layout>
            <v-row>
                <v-col cols="12" sm="5">
                    <message-list @free-conversation-toggled="toggleFreeConversation()" :conversations="conversations" :user="user" :current-conversation-id="conversation.id">
                    </message-list>
                </v-col>
                <v-col cols="12" sm="7">
                    <conversation :conversation="conversation" v-if="Object.keys(conversation).length > 0" />

                    <div v-else class="code tw-h-full">
                        <div v-if="viewFreeConversation">
                            {{ $t('message.company_interested_in') }} <a href="#" @click="buyPremium">{{ $t('subtitle.buy_premium') }}</a>.
                        </div>

                        <div v-else>
                            {{ $t('message.no_selected_conversation') }}
                        </div>
                    </div>

                </v-col>
            </v-row>
    </layout>
</template>

<script>
    import Conversation from './Conversation'
    import MessageList from './MessageList'
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'

    export default {
        name: 'MessagesTab',
        components: { Layout, MessageList, Conversation },
        props: {
            conversations: {
                type: Array,
                default: () => []
            },
            conversation: {
                type: Object,
                default: () => {}
            },
            user: {
                type: Object,
                default: () => {}
            },
            canViewConversation: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                viewFreeConversation: false
            }
        },
        created() {
            if (Object.keys(this.conversation).length <= 0) {
                this.viewFreeConversation = true
            }
        },
        methods: {
            toggleFreeConversation() {
                this.viewFreeConversation = true
            },
            buyPremium() {
                bus.$emit('open-payment-modal', 'subscription', this.user, this.$t('message.buy_premium_to_read_message'))
            }
        }
    }
</script>
