<template>
    <layout>
        <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.account_settings') }}</h2>

        <settings-navigation card="global"/>

        <hr class="tw-mt-3 tw-mb-1">
        <v-row>
            <v-col cols="12">
                <div class="tw-bg-white tw-rounded tw-px-4 tw-pb-4 tw-pt-2 tw-shadow-lg">
                    <v-row>
                        <v-col cols="12" sm="6">
                        <h3 class="tw-pb-3">{{ $t('field.basic_data') }}</h3>
                            <v-text-field
                                dense
                                height="44"
                                label="Email"
                                disabled
                                v-model="email"
                                :error-messages="$page.errors.email"
                                outlined autocomplete="new-password"
                            />

                            <v-text-field
                                dense
                                :label="$t('field.phone_number')"
                                v-model="phone"
                                :error-messages="$page.errors.phone"
                                outlined
                            />

                            <v-autocomplete
                                dense
                                outlined
                                height="44"
                                item-value="code"
                                item-text="name"
                                :items="countries"
                                v-model="country_code"
                                :error-messages="$page.errors.country_code"
                                :label="$t('field.country')"
                            />

                            <template v-if="$page.auth.user.role === 'agency'">
                                <h3 class="tw-pb-3">{{ $t('field.invoice_data') }}</h3>

                                <v-text-field
                                    dense
                                    height="44"
                                    :label="$t('field.full_company_name')"
                                    v-model="company_name"
                                    :error-messages="$page.errors.company_name"
                                    outlined autocomplete="new-password"
                                />

                                <v-text-field
                                    dense
                                    height="44"
                                    :label="$t('field.tax_id')"
                                    v-model="tax_id"
                                    :error-messages="$page.errors.tax_id"
                                    outlined autocomplete="new-password"
                                />

                                <v-text-field
                                    dense
                                    height="44"
                                    :label="$t('field.street_and_number')"
                                    v-model="company_street"
                                    :error-messages="$page.errors.company_street"
                                    outlined autocomplete="new-password"
                                />

                                <v-text-field
                                    dense
                                    height="44"
                                    :label="$t('field.postal_code')"
                                    v-model="company_postal_code"
                                    :error-messages="$page.errors.company_postal_code"
                                    outlined autocomplete="new-password"
                                />

                                <v-text-field
                                    dense
                                    height="44"
                                    :label="$t('field.city')"
                                    v-model="company_city"
                                    :error-messages="$page.errors.company_city"
                                    outlined autocomplete="new-password"
                                />
                            </template>

                            <div class="tw-ml-auto" style="display: table">
                                <v-btn primary color="primary" type="submit" :ripple="false" :loading="pendingRequest" @click="updateAccount" block>Zapisz</v-btn>
                            </div>
                        </v-col>

                        <v-col cols="12" sm="6">
                            <h3 class="tw-pb-3">{{ $t('field.password_change') }}</h3>
                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('field.password')"
                                :hint="$t('field.password_hint')"
                                v-model="password"
                                outlined
                                autocomplete="new-password"
                                :error-messages="$page.errors.password"
                            />

                            <v-text-field
                                dense
                                type="password"
                                height="44"
                                :label="$t('field.confirm_password')"
                                v-model="password_confirmation"
                                outlined
                                spellcheck="false"
                                autocomplete="new-password"
                                :error-messages="$page.errors.password_confirmation"
                            />

                            <div class="tw-ml-auto" style="display: table">
                                <v-btn primary color="primary" type="submit" :ripple="false" :loading="changePasswordPendingRequest" @click="changePassword" block>
                                    {{ $t('field.change_password') }}
                                </v-btn>
                            </div>
                        </v-col>

                    </v-row>
            </div>
            </v-col>
        </v-row>

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import SettingsNavigation from "./SettingsNavigation";

    export default {
        name: 'Settings',
        components: { SettingsNavigation, Layout },
        props: {
            countries: {
                type: Array,
                default: () => []
            },
            payments: {
                type: Array,
                default: () => []
            },
            user: {
                type: Object,
                default: () => {}
            },
            candidatesCount: {
                type: Number,
                default: null
            },
            candidatesLimit: {
                type: Number,
                default: null
            },
            jobTypes: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                pendingRequest: false,
                changePasswordPendingRequest: false,
                password: null,
                password_confirmation: null,
                phone: null,
                name: null,
                email: null,
                company_name: null,
                tax_id: null,
                company_street: null,
                company_postal_code: null,
                company_city: null,
                country_code: null,
            }
        },
        created() {
            this.email = this.user.email
            this.country_code = this.user.country_code
            this.company_name = this.user.company_name
            this.tax_id = this.user.tax_id
            this.company_street = this.user.company_street
            this.phone = this.user.phone
            this.company_postal_code = this.user.company_postal_code
            this.company_city = this.user.company_city
        },
        methods: {
            changePassword() {
                this.changePasswordPendingRequest = true

                const changePasswordRequest = {
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }

                this.$page.errors = {}

                this.$inertia.post(route('update-password'), changePasswordRequest).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.password_changed'))
                    this.password_confirmation = null
                    this.password = null
                    this.changePasswordPendingRequest = false
                }).catch( error => {
                    bus.$emit('snackbar-success', this.$t('message.password_change_failed'))
                    this.changePasswordPendingRequest = false
                })
            },
            updateAccount() {
                this.pendingRequest = true
                const updateAccountRequest = {
                    country_code: this.country_code,
                    company_name: this.company_name,
                    tax_id: this.tax_id,
                    phone: this.phone,
                    company_street: this.company_street,
                    company_city: this.company_city,
                    company_postal_code: this.company_postal_code,
                    notifications: this.notifications
                }

                this.$page.errors = {}

                this.$inertia.post(route('update-global-settings'), updateAccountRequest).then( response => {
                    bus.$emit('snackbar-success', this.$t('message.account_data_changed'))
                    this.password_confirmation = null
                    this.password = null
                    this.pendingRequest = false
                }).catch( error => {
                    bus.$emit('snackbar-success', this.$t('message.account_data_change_failed'))
                    this.pendingRequest = false
                })
            },
        },
    }
</script>
