<template>
    <layout>
        <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.account_settings') }}</h2>

        <settings-navigation card="notifications"/>

        <hr class="tw-mt-3 tw-mb-1">
        <v-row>
            <v-col cols="12">
                <div class="tw-bg-white tw-rounded tw-px-4 tw-pb-4 tw-pt-2 tw-shadow-lg">
                    <h3 class="tw-mb-2">{{ $t('field.email_notifications') }}</h3>
                    <v-switch v-model="notifications.candidate_asked" :label="$t('field.requests_from_companies')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>
                    <v-switch v-model="notifications.candidate_expired" :label="$t('field.expiring_candidates')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>
                    <v-switch v-model="notifications.candidate_status_changed" :label="$t('field.recruitment_status_change')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>
                    <v-switch v-model="notifications.new_message" :label="$t('field.new_messages')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>

                    <div class="tw-px-3 tw-py-4 tw-border tw-border-square-grey-lightest">
                        <v-switch v-if="$page.auth.user.role === 'agency'" v-model="notifications.new_job_offers" :label="$t('field.new_job_offers')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>
                        <v-switch v-if="$page.auth.user.role === 'company'" v-model="notifications.new_candidates" :label="$t('field.new_candidates')" color="primary" style="margin-top: -8px; margin-bottom: 8px;"/>

                        <v-autocomplete
                            :label="$t('field.frequency')"
                            v-model="notifications.frequency"
                            autocomplete="new-password"
                            item-value="value"
                            item-text="name"
                            :items="[{
                    name: 'dziennie',
                    value: 1,
                }, {
                    name: 'tygodniowo',
                    value: 7
                }, {
                    name: 'miesięcznie',
                    value: 30
                }]"
                            outlined dense
                        />

                        <v-autocomplete
                            v-model="notifications.regions"
                            :items="cities"
                            :loading="citiesLoading"
                            :search-input.sync="searchCitiesText"
                            hide-no-data
                            :label="$t('field.localizations')"
                            :error-messages="$page.errors.regions"
                            autocomplete="new-password"
                            spellcheck="false"
                            multiple
                            return-object
                            item-value="id"
                            chips
                            cache-data
                            item-text="name"
                            outlined dense
                        />

                        <v-autocomplete
                            :items="jobTypes"
                            multiple
                            v-model="notifications.job_types"
                            :error-messages="$page.errors.job_types"
                            autocomplete="new-password"
                            spellcheck="false"
                            item-value="id"
                            item-text="name"
                            :label="$t('field.industries')"
                            outlined dense
                        />

                    </div>
                    <div class="tw-mt-2 tw-ml-auto" style="display: table">
                        <v-btn primary color="primary" type="submit" :ripple="false" :loading="pendingRequest" @click="updateNotifications" block>
                            {{ $t('subtitle.save') }}
                        </v-btn>
                    </div>
                </div>
            </v-col>
        </v-row>
    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import SettingsNavigation from "./SettingsNavigation";
    import algoliaSearchMixin from "../../../mixins/algoliaSearchMixin";

    export default {
        name: 'NotificationSettings',
        components: { Layout, SettingsNavigation },
        mixins: [ algoliaSearchMixin ],
        props: {
            user: {
                type: Object,
                default: () => {}
            },
            jobTypes: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                pendingRequest: false,
                cities: [],
                citiesLoading: false,
                searchCitiesText: null,
                notifications: {
                    candidate_asked: false,
                    candidate_expired: false,
                    candidate_status_changed: false,
                    new_candidates: false,
                    new_job_offers: false,
                    new_message: false,
                    offer_expired: false,
                    frequency: null,
                    regions: [],
                    job_types: []
                },
            }
        },
        created() {
            const userNotifications = JSON.parse(this.user.notifications)

            this.cities = userNotifications.regions

            this.notifications = {
                candidate_asked: userNotifications.candidate_asked,
                candidate_expired: userNotifications.candidate_expired,
                candidate_status_changed: userNotifications.candidate_status_changed,
                new_candidates: userNotifications.new_candidates,
                new_job_offers: userNotifications.new_job_offers,
                new_message: userNotifications.new_message,
                offer_expired: userNotifications.offer_expired,
                frequency: userNotifications.frequency,
                regions: userNotifications.regions,
                job_types: userNotifications.job_types
            }
        },
        methods: {
            updateNotifications() {
                this.pendingRequest = true
                const updateAccountRequest = {
                    notifications: this.notifications
                }

                this.$page.errors = {}

                this.$inertia.post(route('update-notifications-settings'), updateAccountRequest).then( response => {
                    if (!Object.keys(this.$page.errors).length) {
                        bus.$emit('snackbar-success', this.$t('message.notifications_saved'))
                    } else {
                        bus.$emit('snackbar-error', this.$t('message.notifications_save_failed'))
                    }

                    this.pendingRequest = false
                }).catch( error => {
                    this.pendingRequest = false
                })
            },
            searchCities: _.debounce( function (text) {
                this.citiesLoading = true

                this.searchPlaces(text).then( response => {
                    this.cities = [...this.cities, ...response.data]
                    this.citiesLoading = false
                }).catch( error => {
                    this.citiesLoading = false
                })
            }, 250),
        },
        watch: {
            searchCitiesText(text) {
                if (!this.citiesLoading && typeof text !== 'object' && text.length > 1) {
                    this.searchCities(text)
                }
            },
        }
    }
</script>
