<template>
    <layout>
        <h2 class="tw-font-normal tw-text-3xl tw-mt-2">Ustawienia Konta</h2>

        <settings-navigation card="payments"/>

        <hr class="tw-mt-3 tw-mb-1">

        <v-row>
            <v-col cols="12" class="tw-flex tw-flex-col">
                <div class="tw-bg-white tw-rounded tw-p-4 tw-shadow-lg tw-flex-col tw-flex">
                    <div class="tw-flex tw-flex-col">
                        <h3>{{ $t('field.payment_history') }}</h3>

                        <template v-if="!payments.length">
                            <div class="tw-mt-3 tw-text-square-grey">
                                {{ $t('message.no_payment_history') }}
                            </div>
                        </template>

                        <template v-else>
                            <div class="tw-hidden sm:tw-block">
                                <div class="tw-flex tw-font-medium tw-text-xs tw-mt-4">
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.data') }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.type') }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.price') }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('subtitle.payment_status') }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ $t('field.invoice') }}</div>
                                </div>
                                <div v-for="payment in payments" class="tw-text-square-grey tw-flex tw-my-1">
                                    <div class="tw-flex-grow" style="flex-basis: 0">{{ payment.created_at | moment('D MMMM YYYY, HH:mm') }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">
                                        <template v-if="payment.type === 'candidates'">

                                            {{ payment.amount === 10 ? '+10 ' : payment.amount === 20 ? '+20 ' : '+50 ' }} {{ $t('subtitle.candidates_p')}}

                                        </template>

                                        <template v-else>
                                            {{ $t('subtitle.subscription') }}
                                        </template>

                                    </div>
                                    <div class="tw-flex-grow tw-uppercase tw-font-bold" style="flex-basis: 0">{{ payment.total / 100 }} {{ payment.currency }}</div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">
                                        <v-chip
                                            class="tw-uppercase tw-font-bold tw-text-2xs tw-text-center tw-block"
                                            :color="payment.status === 'succeeded' ? 'success' : ''"
                                            text small label
                                            style="width: 120px;"
                                            :class="{'tw-bg-square-grey' : payment.status === 'pending', 'tw-bg-square-red': payment.status === 'failed'}"
                                        >
                                            <span v-if="payment.status === 'succeeded'">
                                                {{ $t('subtitle.finished') }}
                                            </span>

                                            <span v-else-if="payment.status === 'pending'" class="tw-text-white">
                                                {{ $t('subtitle.in_progress') }}
                                            </span>

                                            <span v-else class="tw-text-white">
                                                {{ $t('subtitle.unfinished') }}
                                            </span>
                                        </v-chip>
                                    </div>
                                    <div class="tw-flex-grow" style="flex-basis: 0">
                                        <v-btn v-if="payment.fakturownia_invoice_id" color="primary" small @click="downloadInvoice(payment.id)">
                                            {{ $t('subtitle.download') }}
                                        </v-btn>

                                        <v-btn v-else class="tw--ml-2" color="primary" disabled text small>
                                            {{ $t('subtitle.no_invoice') }}
                                        </v-btn>
                                    </div>
                                </div>
                            </div>
                            <div class="code tw-block sm:tw-hidden">
                                {{ $t('subtitle.use_higher_resolution_device') }}
                            </div>
                        </template>
                    </div>
                </div>

            </v-col>
        </v-row>

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import SettingsNavigation from "./SettingsNavigation";

    export default {
        name: 'PaymentsSettings',
        components: { Layout, SettingsNavigation },
        props: {
            payments: {
                type: Array,
                default: () => []
            },
            user: {
                type: Object,
                default: () => {}
            },
        },
        methods: {
            downloadInvoice(payment) {
                window.location.href = route('download-invoice', payment)
            },
        },
    }
</script>
