<template>
    <div class="settings-navigation">
        <div class="settings-navigation-item" :class="{ 'active': card === 'global' }" @click="redirectTo('dashboard-settings')">Podstawowe dane</div>
        <div
            v-if="role === 'agency' || role === 'company'"
            class="settings-navigation-item"
            :class="{ 'active': card === 'notifications' }"
            @click="redirectTo('dashboard-notifications-settings')"
        >
            {{ $t('field.email_notifications') }}
        </div>

        <div
            v-if="role === 'agency'"
            class="settings-navigation-item"
            :class="{ 'active': card === 'payments' }"
            @click="redirectTo('dashboard-payments-settings')"
        >
            {{ $t('field.payments_and_invoices') }}
        </div>

        <div
            v-if="role === 'agency'"
            class="settings-navigation-item"
            :class="{ 'active': card === 'subscriptions' }"
            @click="redirectTo('dashboard-subscriptions-settings')"
        >
            {{ $t('field.subscriptions') }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SettingsNavigation',
        props: {
            card: {
                type: String,
                default: 'global'
            }
        },
        methods: {
            redirectTo(routeUrl) {
                this.$inertia.visit(route(routeUrl))
            }
        },
        computed: {
            role() {
                return this.$page.auth.user.role
            },
        }
    }
</script>

<style lang="scss">
    .settings-navigation {
        @apply tw-flex tw-pl-1 tw-bg-white tw-rounded;
        .settings-navigation-item {
            @apply tw-py-4 tw-mx-1 tw-cursor-pointer tw-text-xs;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            transition: 0.1s;
            &:hover, &.active {
                @apply tw-text-square-blue;
                border-bottom: 2px solid #336ecc;
            }
        }

        @screen sm {
            @apply tw-pr-4;
            .settings-navigation-item {
                @apply tw-px-4 tw-text-base;
            }
        }
    }
</style>
