<template>
    <layout>
        <h2 class="tw-font-normal tw-text-3xl tw-mt-2">{{ $t('title.account_settings') }}</h2>

        <settings-navigation card="subscriptions"/>

        <hr class="tw-mt-3 tw-mb-1">

        <v-row>
            <v-col cols="12" class="tw-flex tw-flex-col" v-if="role === 'agency'">
                <div class="tw-bg-white tw-rounded tw-p-4 tw-shadow-lg tw-flex-col tw-flex">
                    <div class="tw-flex tw-flex-col">
                        <div class="tw-flex tw-items-center">
                            <span class="tw-font-medium tw-text-sm sm:tw-text-base">{{ $t('subtitle.candidates_limit') }}</span>: {{ candidatesCount }} / {{ candidatesLimit }}
                            <v-btn class="tw-ml-4" color="primary" @click="askForCandidates" text x-small>
                                {{ $t('subtitle.enlarge_limit') }}
                            </v-btn>
                        </div>
                        <div class="tw-flex tw-items-center">
                            <template>
                                <span class="tw-font-medium tw-text-sm sm:tw-text-base">{{ $t('subtitle.account_type') }}: </span>
                                <span v-if="!subscription.active" class="tw-ml-1 tw-text-square-grey tw-capitalize">
                                    {{ $t('subtitle.free') }}
                                </span>
                                <span v-else class="tw-ml-1 tw-capitalize tw-text-square-green">
                                    {{ $t('subtitle.premium') }}
                                </span>
                            </template>

                            <div id="error-message"></div>

                            <v-btn v-if="!subscription.active" class="tw-ml-4" x-small color="success" @click="askForSubscription">
                                {{ $t('subtitle.buy_premium_account') }}
                            </v-btn>

                            <v-btn v-else class="tw-ml-4" x-small text disabled color="primary">
                                {{ $t('subtitle.active_n') }}
                            </v-btn>
                        </div>
                        <div class="tw-text-xs tw-text-square-grey-dark tw-items-center" v-if="subscription.active">
                            {{ $t('subtitle.premium_active_until') }} <strong>{{ subscription.period_end | moment('D MMMM YYYY') }}</strong>

                            <br>

                            <template v-if="!subscription.cancel_at_period_end">
                                {{ $t('subtitle.subscription_renewed_monthly') }}: <strong>{{ subscription.period_end | moment('D MMMM YYYY') }}</strong>
                                <v-btn color="#bbb" x-small text @click="cancelSubscription">
                                    {{ $t('subtitle.cancel_subscription') }}
                                </v-btn>
                            </template>

                            <template v-else>
                                {{ $t('subtitle.premium_expire_after_date') }}
                            </template>
                        </div>
                    </div>
                </div>

            </v-col>
        </v-row>

    </layout>
</template>

<script>
    import Layout from '@/Shared/Layout'
    import bus from '@/bus'
    import SettingsNavigation from "./SettingsNavigation";

    export default {
        name: 'SubscriptionsSettings',
        components: { Layout, SettingsNavigation },
        props: {
            user: {
                type: Object,
                default: () => {}
            },
            candidatesCount: {
                type: Number,
                default: null
            },
            candidatesLimit: {
                type: Number,
                default: null
            },
        },
        data() {
            return {
                subscriptionSessionId: null,
                candidateSessionId: null,
            }
        },
        methods: {
            askForSubscription() {
                bus.$emit('open-payment-modal', 'subscription', this.user, this.$t('message.buy_premium_bare'))
            },
            askForCandidates() {
                if (this.subscription.active) {
                    bus.$emit('open-payment-modal', 'candidates', this.user, this.$t('message.buy_extra_candidates'))
                } else {
                    bus.$emit('open-payment-modal', 'subscription', this.user, this.$t('message.buy_premium_enlarge_limit'))
                }
            },
            cancelSubscription() {
                this.$confirm(this.$t('message.cancel_subscription_question')).then( (confirmed) => {
                    if (confirmed) {
                        this.$inertia.visit(route('cancel-subscription'))
                    }
                })
            },
        },
        computed: {
            role() {
                return this.$page.auth.user.role
            },
            subscription() {
                return this.$page.auth.user.subscription
            },
        },
    }
</script>
